{% extends "common/base.html.jinja2" %}

{% block content %}
    <main>
        <div class="col-12 col-sm-10 mx-auto p-3 py-md-5">
            <div class="alert alert-warning d-sm-none" role="alert">
                <i class="fas fa-exclamation-triangle"></i> This page was not yet optimized for use on mobile devices.
            </div>
            <h1>Protection Profile</h1>
            <h3 class="text-secondary">Search</h3>
            <div class="card mt-3 mt-4 mb-4">
                <div class="card-body container">
                    <div id="name" class="mt-1 mb-3">
                        <div class="form-inline">
                            <input id="search" class="form-control mb-2" placeholder="Search prompt" type="search"
                                   value="{{ q|default('', true) }}"/>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="searchTypeRadio" id="nameSearchRadioId" value="by-name" checked>
                                <label class="form-check-label" for="nameSearchRadioId">Name search</label>
                                <i class="fa fa-info-circle" data-bs-toggle="tooltip" data-bs-title="Search only in certificate names and certificate IDs" aria-hidden="true"></i>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="searchTypeRadio" id="fulltextSearchRadioId" value="fulltext">
                                <label class="form-check-label" for="fulltextSearchRadioId">Fulltext search</label>
                                <i class="fa fa-info-circle" data-bs-toggle="tooltip" data-bs-title="Search within the entire content of certificate PDFs" aria-hidden="true"></i>
                            </div>
                            <div class="mt-2">
                                <button type="button" id="search-btn" class="btn btn-primary"><i class="fas fa-search"></i>
                                    Search
                                </button>
                                <button id="extended-btn" class="btn btn-outline-primary" type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#extended"
                                        aria-controls="extended"
                                        aria-expanded="{% if advanced %}true{% else %}false{% endif %}"><i
                                        class="fas fa-sliders"></i> Advanced options
                                </button>
                            </div>
                        </div>
                        <div id="name-search-info" style="display: none;">
                            <small class="text-muted">Name search is searching only in Protection Profile names and its IDs. It is case-insensitive. Uses
                                <a href="https://www.mongodb.com/docs/manual/reference/operator/query/text/#std-label-text-operator-phrases"
                                   target="_blank" rel="noopener">MongoDB $text search</a>, use quotes to specify a phrase
                                and a hyphen-minus prefix to negate a match.
                            </small><br/>
                            <small class="text-muted">
                                E.g. 
                                <span class="font-monospace border rounded" onclick="window.getSelection().selectAllChildren(this)">Infineon Security Controller</span>
                                .
                            </small>
                        </div>
                        <div id="fulltext-search-info" style="display: none;">
                            <small class="text-muted">Fulltext search is searching within the entire content of certificate PDFs.
                                Supports the <a href="https://whoosh.readthedocs.io/en/latest/querylang.html"
                                        target="_blank" rel="noopener">Whoosh query language</a>.
                            </small><br/>
                            <small class="text-muted">E.g. <span class="font-monospace border rounded"
                                    onclick="window.getSelection().selectAllChildren(this)">"post quantum" OR "post-quantum" OR "PQC"</span>.
                            </small>
                        </div>
                    </div>
                    <div id="extended" class="collapse {% if advanced %}show{% endif %} mt-3">
                        <div id="categories" class="mb-3">
                            <h4>Categories
                                <button id="cat-select-all" class="btn btn-outline-primary">Select all</button>
                                <button id="cat-deselect-all" class="btn btn-outline-primary">Deselect all</button>
                            </h4>

                            <div id="search-categories" class="row">
                                {% for name, val in categories.items() %}
                                    {% if loop.index0 % 5 == 0 %}
                                        <div class="col">
                                    {% endif %}
                                <div class="form-check">
                                    <span>
                                        <input id="category-{{ val['id'] }}" type="checkbox" class="form-check-input"
                                               data-id="{{ val['id'] }}" {% if val["selected"] %}checked{% endif %}>
                                        <label class="form-check-label" for="category-{{ val['id'] }}">
                                            <i class="fas fa-fw {{ val['icon'] }}"></i> {{ name }}
                                        </label>
                                    </span>
                                </div>
                                {% if (loop.index0 + 1) % 5 == 0 %}
                                    </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="d-flex flex-wrap gap-3 mt-3 ">
                            <div>
                                <h5>General filters</h5>
                                <table class="table w-auto align-middle" style="width: auto;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h6><label for="search-status">Status</label></h6>
                                            </td>
                                            <td>
                                                <select id="search-status" class="form-control">
                                                    <option value="any" {% if status == "any" %}selected="selected"{% endif %}>Any</option>
                                                    <option value="active" class="text-success"
                                                            {% if status == "active" %}selected="selected"{% endif %}>Active
                                                    </option>
                                                    <option value="archived" class="text-warning"
                                                            {% if status == "archived" %}selected="selected"{% endif %}>Archived
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                            
                                        <tr>
                                            <td>
                                                <h6><label for="search-scheme">Scheme</label></h6>
                                            </td>
                                            <td>
                                                <select id="search-scheme" class="form-control">
                                                    <option value="any" {% if scheme == "any" %}selected="selected"{% endif %}>Any
                                                    </option>
                                                    {% for s in schemes|sort %}
                                                        <option value="{{ s }}" {% if scheme == s %}selected="selected"{% endif %}>{{ country_to_flag(s) }} {{ s }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <h5>Search type specific options</h5>
                                <table  class="table w-auto align-middle" style="width: auto;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h6><label for="search-sort">Sort</label></h6>
                                            </td>
                                            <td>
                                                <span id="search-sort-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="This option is enabled only in name search">
                                                    <select id="search-sort" class="form-control">
                                                        <option value="match" {% if sort == "match" %}selected="selected"{% endif %}>Match
                                                        </option>
                                                        <option value="name" {% if sort == "name" %}selected="selected"{% endif %}>Name</option>
                                                        <option value="cert_date" {% if sort == "cert_date" %}selected="selected"{% endif %}>
                                                            Certification date
                                                        </option>
                                                        <option value="archive_date"
                                                                {% if sort == "archive_date" %}selected="selected"{% endif %}>
                                                            Archive date
                                                        </option>
                                                    </select>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h6><label for="search-type">Document type</label></h6>
                                            </td>
                                            <td>
                                                <span id="search-type-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="This option is enabled only in name search">
                                                    <select id="search-type" class="form-control">
                                                        <option value="any" {% if document_type == "any" %}selected="selected"{% endif %}>Any
                                                        </option>
                                                        <option value="report" {% if document_type == "report" %}selected="selected"{% endif %}>
                                                            Certification Report
                                                        </option>
                                                        <option value="profile" {% if document_type == "profile" %}selected="selected"{% endif %}>
                                                            Protection Profile
                                                        </option>
                                                    </select>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% block search_content %}{% endblock %}
        </div>
    </main>
{% endblock %}