{% extends "common/base.html.jinja2" %}
{% set crumbs = True %}
{% set search = True %}
{% from "pp/utils.html.jinja2" import render_document_type %}
{% from "cc/utils.html.jinja2" import render_status, render_category %}
{% block content %}
    <main>
        <div class="col-12 col-sm-10 mx-auto p-3 py-md-5">
            <div class="alert alert-warning d-sm-none" role="alert">
                <i class="fas fa-exclamation-triangle"></i> This page was not yet optimized for use on mobile devices.
            </div>
            <h1>Protection Profile</h1>
            <h3 class="text-secondary">Fulltext search</h3>
            <div class="card mt-3 mt-4 mb-4">
                <div class="card-body container">
                    <div id="name" class="mt-1 mb-3">
                        <h4><label for="search">Query</label></h4>
                        <div class="form-inline">
                            <input id="search" class="form-control mb-2" placeholder="Search" type="search"
                                   value="{{ q|default('', true) }}"/>
                            <button id="search-btn" class="btn btn-primary"><i class="fas fa-search"></i>
                                Search
                            </button>
                            <button id="extended-btn" class="btn btn-outline-primary" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#extended"
                                    aria-controls="extended"
                                    aria-expanded="false"><i
                                    class="fas fa-sliders"></i> Advanced options
                            </button>
                        </div>
                        <small class="text-muted">Search certification reports and security targets.
                            Supports the <a href="https://whoosh.readthedocs.io/en/latest/querylang.html"
                                            target="_blank" rel="noopener">Whoosh query language</a>.</small><br/>
                        <small class="text-muted">E.g. <span class="font-monospace border rounded"
                                                             onclick="window.getSelection().selectAllChildren(this)">"post quantum" OR "post-quantum" OR "PQC"</span>.</small>
                    </div>
                    <div id="extended" class="collapse mt-3">
                        <div id="categories" class="mb-3">
                            <h4>Categories
                                <button id="cat-select-all" class="btn btn-outline-primary">Select all</button>
                                <button id="cat-deselect-all" class="btn btn-outline-primary">Deselect all</button>
                            </h4>

                            <div id="search-categories" class="row">
                                {% for name, val in categories.items() %}
                                    {% if loop.index0 % 5 == 0 %}
                                        <div class="col">
                                    {% endif %}
                                <div class="form-check">
                                    <span>
                                        <input id="category-{{ val['id'] }}" type="checkbox" class="form-check-input"
                                               data-id="{{ val['id'] }}" {% if val["selected"] %}checked{% endif %}>
                                        <label class="form-check-label" for="category-{{ val['id'] }}">
                                            <i class="fas fa-fw {{ val['icon'] }}"></i> {{ name }}
                                        </label>
                                    </span>
                                </div>
                                {% if (loop.index0 + 1) % 5 == 0 %}
                                    </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="mt-3 mb-3">
                            <h4><label for="search-status">Status</label></h4>
                            <select id="search-status" class="form-control">
                                <option value="any" {% if status == "any" %}selected="selected"{% endif %}>Any</option>
                                <option value="active" class="text-success"
                                        {% if status == "active" %}selected="selected"{% endif %}>Active
                                </option>
                                <option value="archived" class="text-warning"
                                        {% if status == "archived" %}selected="selected"{% endif %}>Archived
                                </option>
                            </select>
                        </div>
                        <div class="mt-3 mb-3">
                            <h4><label for="search-scheme">Scheme</label></h4>
                            <select id="search-scheme" class="form-control">
                                <option value="any" {% if scheme == "any" %}selected="selected"{% endif %}>Any
                                </option>
                                {% for s in schemes|sort %}
                                    <option value="{{ s }}"
                                            {% if scheme == s %}selected="selected"{% endif %}>{{ country_to_flag(s) }} {{ s }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mt-3 mb-3">
                            <h4><label for="search-type">Document type</label></h4>
                            <select id="search-type" class="form-control">
                                <option value="any" {% if document_type == "any" %}selected="selected"{% endif %}>Any
                                </option>
                                <option value="report" {% if document_type == "report" %}selected="selected"{% endif %}>
                                    Certification Report
                                </option>
                                <option value="profile" {% if document_type == "profile" %}selected="selected"{% endif %}>
                                    Protection Profile
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                function searchParams(additional) {
                    let status = $("#search-status").val();
                    let scheme = $("#search-scheme").val();
                    let document_type = $("#search-type").val();
                    let categories = $.makeArray($("#search-categories input").filter(":checked").map((i, elem) => $(elem).data("id"))).join("");
                    return $.param({
                        q: $("#search").val(),
                        cat: categories,
                        status: status,
                        scheme: scheme,
                        type: document_type, ...additional
                    });
                }

                function fullSearch() {
                    location.href = "{{ url_for(".fulltext_search") }}?" + searchParams();
                }


                $("#search-btn").click(fullSearch);
                $("#search").keyup(function (e) {
                    if (e.keyCode === 13) {
                        fullSearch();
                    }
                });
                $("#cat-select-all").click(function () {
                    $("#search-categories input").prop("checked", true);
                });
                $("#cat-deselect-all").click(function () {
                    $("#search-categories input").prop("checked", false);
                });
            </script>
            <div id="pagination" class="table-responsive">
                {% if pagination %}
                    <div style="text-align: center">
                        Took {{ "{:.3}".format(runtime + highlight_runtime) }} seconds
                        {%- if query -%}
                            <span data-bs-toggle="tooltip"
                                  data-bs-html="true"
                                  title="Parsed as <b>{{ query }}</b>">*
                            </span>
                        {%- endif -%}
                        {{ pagination.info }}
                    </div>
                    <div class="mt-4 mb-4">
                        {{ pagination.links }}
                    </div>
                {% endif %}
                {% for result in results %}
                    {% set idd = "" %}
                    {% set hit = result["hit"] %}
                    {% if hit["document_type"] == "report" %}
                        {% set dtype = "report-info" %}
                    {% elif hit["document_type"] == "profile" %}
                        {% set dtype = "profile-info" %}
                    {% endif %}
                    <div class="my-5">
                        <table class="table table-bordered table-responsive">
                            <colgroup>
                                <col style="width:20%">
                                <col style="width:60%">
                                <col style="width:10%">
                                <col style="width:10%">
                            </colgroup>
                            <thead>
                            <tr>
                                <td class="pl-1">{{ render_category(result["cert"]["web_data"]["category"]) }}&nbsp;{{ idd }}</td>
                                <td>
                                    <a href="{{ url_for(".entry", hashid=hit["dgst"], _anchor=dtype) }}">{{ hit["name"] }}</a>
                                </td>
                                <td>{{ render_document_type(hit["document_type"]) }}</td>
                                <td>{{ render_status(hit["status"]) }}</td>
                            </tr>
                            </thead>
                            <tbody style="border-top-color: #dfe0e1">
                            {% if "highlights" in result %}
                                <tr>
                                    <td colspan="4">
                                        {{ result["highlights"]|safe }}
                                    </td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
                {% if pagination %}
                    <div class="mb-4">
                        {{ pagination.links }}
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}