{% extends "pp/search/base.html.jinja2" %}

{% from "pp/utils.html.jinja2" import render_pagination, render_plot %}

{% block search_content %}
    <div class="col-12 col-sm-10 mx-auto p-3 py-md-5">
        <script type="module">
            import {
                nameSearchSetup,
            } from "{{ url_for('static', filename='search.js') }}";

            $(function () {
                nameSearchSetup();
            })
        </script>

        <div id="results">
            {{ render_pagination(pagination, certs, search=True) }}
            {{ render_plot(timeline) }}
        </div>
    </div>
{% endblock %}