{% extends "common/base.html.jinja2" %}
{% block content %}
    <div class="signin-wrapper">
        <main class="form-signin">
            <form action="{{ url_for(".forgot_password") }}" method="post" name="forgot_password">
                {{ form.hidden_tag() }}
                <img class="mb-4" src="{{ url_for("static", filename="img/logo.svg") }}" alt="sec-certs"
                     height="100">
                <h1 class="h3 mb-3 fw-normal">Reset Password</h1>
                <p class="text-muted">Enter your email address and we'll send you a link to reset your password.</p>

                <div class="form-floating">
                    {{ form.email(class_="form-control") }}
                    <label for="email">Email</label>
                    {% if form.email.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.email.errors %}{{ error }}{% endfor %}
                        </div>
                    {% endif %}
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit">Send Reset Link</button>

                <div class="text-center mt-3">
                    <p><a href="{{ url_for('user.login') }}">Back to sign in</a></p>
                </div>
            </form>
        </main>
    </div>
{% endblock %}