{% extends "common/base.html.jinja2" %}
{% block content %}
    <div class="signin-wrapper">
        <main class="form-signin">
            <form action="{{ url_for(".reset_password", token=token) }}" method="post" name="reset_password">
                {{ form.hidden_tag() }}
                <img class="mb-4" src="{{ url_for("static", filename="img/logo.svg") }}" alt="sec-certs"
                     height="100">
                <h1 class="h3 mb-3 fw-normal">Set New Password</h1>

                <div class="form-floating">
                    {{ form.password(class_="form-control") }}
                    <label for="password">New Password</label>
                    {% if form.password.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.password.errors %}{{ error }}{% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form-floating">
                    {{ form.password_confirm(class_="form-control") }}
                    <label for="password_confirm">Confirm New Password</label>
                    {% if form.password_confirm.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.password_confirm.errors %}{{ error }}{% endfor %}
                        </div>
                    {% endif %}
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit">Reset Password</button>
                
                <div class="text-center mt-3">
                    <p><a href="{{ url_for('admin.login') }}">Back to sign in</a></p>
                </div>
            </form>
        </main>
    </div>
{% endblock %}