[flake8]
max-line-length = 120
exclude = 
    .git,
    __pycache__,
    build,
    dist,
    venv,
    certsvenv,
    .eggs,
    scratches,
max-complexity = 10

ignore =
    E501,  # line length, should be handled by black
    W503,  # line break before binary operator, deprecated
    E203,  # whitespace before :, not PEP8 compliant
    E402,  # Not Flasky
    F403,  #
    F401,  #
    C901

