[flake8]
max-line-length = 120
exclude =
    .git,
    __pycache__,
    build,
    dist,
    venv,
    certsvenv,
    .eggs,
    scratches,
max-complexity = 10

ignore =
    # line length, should be handleded by black
    E501,
    # line break before binary operator, depracated
    W503,
    # whitespace before :, not PEP8 compliant
    E203,
