amqp==5.0.9
appdirs==1.4.4
async-timeout==4.0.2
atpublic==3.0.1
attrs==21.4.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
billiard==3.6.4.0
black==22.3.0
blinker==1.4
celery==5.2.3
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.9
click==8.0.3
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
coverage==6.2
cryptography==36.0.1
cycler==0.11.0
decorator==5.1.0
Deprecated==1.2.13
distro==1.6.0
dnspython==2.1.0
email-validator==1.1.3
emoji-country-flag==1.3.0
fabric==2.6.0
flake8==3.9.2
Flask==2.1.1
Flask-Assets==2.0
Flask-Breadcrumbs==0.5.1
Flask-CacheControl==0.2.1
Flask-Caching==1.10.1
Flask-Cors==3.0.10
Flask-DebugToolbar==0.11.0
Flask-Login==0.6.0
Flask-Mail==0.9.1
Flask-Menu==0.7.2
flask-paginate==2022.1.8
Flask-Principal==0.4.0
Flask-PyMongo==2.3.0
flask-redis==0.4.0
flask-shell-ipython==0.4.1
Flask-Sitemap==0.4.0
Flask-WTF==1.0.1
fonttools==4.28.5
graphviz==0.19.1
html5lib==1.1
idna==3.3
importlib-resources==5.4.0
iniconfig==1.1.1
invoke==1.6.0
ipython==7.27.0
ipython-genutils==0.2.0
itsdangerous==2.1.2
jedi==0.18.0
Jinja2==3.1.1
joblib==1.1.0
jsondiff==1.3.1
jsonschema==4.3.3
kiwisolver==1.3.2
kombu==5.2.3
lxml==4.7.1
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mypy==0.930
mypy-extensions==0.4.3
networkx==2.7.1
nose2==0.10.0
numpy==1.22.0
packaging==21.3
pandas==1.3.5
paramiko==2.9.1
parso==0.8.2
pathlib2==2.3.6
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
pikepdf==4.3.1
Pillow==9.0.0
platformdirs==2.5.1
pluggy==1.0.0
prompt-toolkit==3.0.20
ptyprocess==0.7.0
py==1.11.0
pycodestyle==2.7.0
pycparser==2.21
pyflakes==2.3.1
Pygments==2.10.0
pymongo==4.0.2
PyNaCl==1.4.0
pyparsing==3.0.6
PyPDF2==1.26.0
pyrsistent==0.18.0
pytest==7.0.1
pytest-cov==3.0.0
pytest-env==0.6.2
pytest-mock==3.7.0
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
rapidfuzz==1.9.1
redis==4.2.1
regex==2021.8.28
requests==2.27.1
scikit-learn==1.0.2
scipy==1.7.3
-e git+ssh://git@github.com/crocs-muni/sec-certs.git@67436fc2576a3eb630c759cc6e82db1521e1a04d#egg=sec_certs
sentry-sdk==1.5.8
six==1.16.0
soupsieve==2.3.1
tabula-py==2.3.0
tabulate==0.8.9
threadpoolctl==3.0.0
toml==0.10.2
tomli==2.0.0
tqdm==4.63.1
traitlets==5.1.0
typed-ast==1.5.2
types-frozendict==2.0.4
types-pkg-resources==0.1.3
types-requests==2.26.2
types-setuptools==57.4.4
typing-extensions==3.10.0.2
urllib3==1.26.7
vine==5.0.0
wcwidth==0.2.5
webassets==2.0
webencodings==0.5.1
Werkzeug==2.1.1
Whoosh==2.7.4
wrapt==1.13.3
WTForms==3.0.1
zipp==3.7.0
