amqp
appdirs
async-timeout
atpublic
attrs
backcall
bcrypt
beautifulsoup4
billiard
black
blinker
celery
certifi
cffi
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
coverage
cryptography
cycler
decorator
Deprecated
distro
dnspython
email-validator
emoji-country-flag
fabric
flake8
Flask
Flask-Assets
Flask-Breadcrumbs
Flask-CacheControl
Flask-Caching
Flask-Cors
Flask-DebugToolbar
Flask-Login
Flask-Mail
Flask-Menu
flask-paginate
Flask-Principal
Flask-PyMongo
flask-redis
flask-shell-ipython
Flask-Sitemap
Flask-WTF
filtercss
fonttools
graphviz
html5lib
idna
importlib-resources
iniconfig
invoke
ipython
ipython-genutils
itsdangerous
jedi
Jinja2
joblib
jsondiff
jsonschema
kiwisolver
kombu
lxml
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mypy
mypy-extensions
networkx
nose2
numpy
packaging
pandas
paramiko
parso
pathlib2
pathspec
pexpect
pickleshare
pikepdf
Pillow
platformdirs
pluggy
prompt-toolkit
ptyprocess
py
pycodestyle
pycparser
pyflakes
Pygments
pymongo
PyNaCl
pyparsing
PyPDF2
pyrsistent
pytest
pytest-cov
pytest-env
pytest-mock
python-dateutil
pytz
PyYAML
rapidfuzz
redis
regex
requests
scikit-learn
scipy
-e git+ssh://git@github.com/crocs-muni/sec-certs.git@a13e085b06cb2772ec812e4bd364a7fe938c806f#egg=sec_certs
sentry-sdk
six
soupsieve
tabula-py
tabulate
threadpoolctl
toml
tomli
tqdm
traitlets
typed-ast
types-frozendict
types-pkg-resources
types-requests
types-setuptools
typing-extensions
urllib3
vine
wcwidth
webassets
webencodings
Werkzeug
Whoosh
wrapt
WTForms
zipp
