{% extends "common/base.html.jinja2" %}
{% set crumbs = False %}
{% set canonical = False %}
{% block title %}
    <title>Common Criteria | sec-certs.org</title>
{% endblock %}

{% block content %}
    <main>
       This is new about.
    </main>
{% endblock %}
