{% extends "common/base.html.jinja2" %}
{% set canonical = True %}
{% block title %}
    <title>Our methodology | sec-certs.org</title>
{% endblock %}

{% block content %}
    <div class="col-12 col-sm-10 mx-auto p-3 py-md-5">
        <main>
            <div class="row" id="about-methodology">
                <div class="col-12 col-md-6">
                    <h1 class="anchor" id="methodology">Our methodology</h1>
                    <p class="lead"><i class="fas fa-hammer fa-spin"></i> Work in progress...
                    </p>
                </div>
            </div>
        </main>
    </div>
{% endblock %}