{% extends "common/crowdsourced.html.jinja2" %}
{% set crumbs = True %}
{% set search = True %}
{% set canonical = True %}
{% block title %}
    <title>Common Criteria analysis | sec-certs.org</title>
{% endblock %}
{% block content %}
    <main>
        <div class="col-12 col-sm-10 mx-auto p-3 py-md-5">
            <div class="alert alert-warning d-sm-none" role="alert">
                <i class="fas fa-exclamation-triangle"></i> This page was not yet optimized for use on mobile devices.
            </div>
            <h1 class="mb-4">Common Criteria</h1>
            <p class="lead">This is a very basic showcase of some of our statistics.
            For more, see our <a href="{{ url_for("about", _anchor="research") }}">research</a> and
                the <a href="https://sec-certs.org/docs/notebooks/examples/est_solution.html">notebooks</a> in our documentation.
            </p>

            <div class="row mt-4 mb-4">
                <div class="col ml-3 mr-3">
                    <h2>Category Distribution</h2>
                    <div id="category-pie-chart">
                        <img src="{{ url_for('static', filename='img/charts/category_pie_chart.svg') }}" alt="Category Pie Chart" class="img-fluid mt-5 mx-auto d-block">
                    </div>
                </div>
            </div>

            <div class="row mt-4 mb-4">
                <div class="col ml-3 mr-3">
                    <h2>Category Distribution per Year</h2>
                    <div id="category-year-bar-chart">
                        <img src="{{ url_for('static', filename='img/charts/category_year_bar_chart.svg') }}" alt="Category Year Bar Chart" class="img-fluid mt-5 mx-auto d-block">
                    </div>
                </div>
            </div>

            <div class="row mt-4 mb-4">
                <div class="col ml-3 mr-3">
                    <h2>Certificate Validity Periods</h2>
                    <div id="certificate-validity-boxplot">
                        <img src="{{ url_for('static', filename='img/charts/certificate_validity_boxplot.svg') }}" alt="Certificate Validity Boxplot" class="img-fluid mt-5 mx-auto d-block">
                    </div>
                </div>
            </div>

            <div class="row mt-4 mb-4">
                <div class="col ml-3 mr-3">
                    <h2>Evolution of Average EAL Over Time</h2>
                    <div id="eal-line-chart">
                        <img src="{{ url_for('static', filename='img/charts/eal_line_chart.svg') }}" alt="EAL Line Chart" class="img-fluid mt-5 mx-auto d-block">
                    </div>
                </div>
            </div>

            <div class="row mt-4 mb-4">
                <div class="col ml-3 mr-3">
                    <h2>Interesting Schemes Evolution</h2>
                    <div id="schemes-line-chart">
                        <img src="{{ url_for('static', filename='img/charts/schemes_line_chart.svg') }}" alt="Schemes Line Chart" class="img-fluid mt-5 mx-auto d-block">
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
