{% extends "base.html.jinja2" %}
{% set crumbs = False %}
{% set search = True %}
{% from "cc/utils.html.jinja2" import render_status %}
{% block content %}
    <main>
        <div class="col-10 mx-auto p-3 py-md-5">
            <p class="lead">There are several certificates that share the name "<i>{{ name }}</i>":</p>
            <ol>
                {% for cert in certs %}
                    <li><a href="{{ url_for("cc.entry", hashid=cert["_id"]) }}">{{ cert["name"] }}</a>, {{ render_status(cert["status"]) }}, {{ cert["not_valid_before"]|strftime("%d.%m.%Y") }} - {{ cert["not_valid_after"]|strftime("%d.%m.%Y") }}</li>
                {% endfor %}
            </ol>
        </div>
    </main>
{% endblock %}