{% extends "base.html.jinja2" %}
{% set crumbs = True %}
{% set search = True %}
{% from "cc/utils.html.jinja2" import cryptography_keywords, device_keywords, security_keywords, other_keywords, render_status, render_sars, render_sfrs, render_category, render_pdf_meta, render_frontpage %}
{% from "utils.html.jinja2" import render_network %}
{% block title %}
    <title>
    {{ cert["name"]|default("") + " | seccerts.org" }}
    </title>
{% endblock %}
{% block navbar %}
    {{ super() }}
    <li class="nav-item">
        <a class="nav-link" href="#csv-info">CSV</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#report-info">Report</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#st-info">Security target</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#heuristics-info">Heuristics</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#reference-graph">References</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#updates">Updates</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#raw-data-head">Raw data</a>
    </li>
{% endblock %}
{% block content %}
    <main>
        <div class="col-10 mx-auto p-3 py-md-5">
            <div class="alert alert-warning d-sm-none" role="alert">
                  <i class="fas fa-exclamation-triangle"></i> This page was not yet optimized for use on mobile devices.
            </div>
    <div>
	<h1>{{ cert["name"]|default("") }}</h1>

    <div class="mt-5 mb-5">
		<h2 class="anchor" id="csv-info">CSV information
		<span style="font-size: 0.5em; vertical-align: middle" tabindex="0" class="badge bg-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Information extracted from the CSV certificate database provided by the Common Criteria portal.">?</span></h2>
		<b>Status:</b>{{ render_status(cert["status"]) }}<br/>

		<b>Valid from:</b>
		{{ cert["not_valid_before"]|strptime("%Y-%m-%d")|strftime("%d.%m.%Y") }}
		<br/>
		{% if cert["not_valid_after"] %}
		<b>Valid until:</b>
		{{ cert["not_valid_after"]|strptime("%Y-%m-%d")|strftime("%d.%m.%Y") }}
		<br/>
		{% endif %}
		<b>Scheme:</b>
		<span title="{{ cert['scheme'] }}">{{ country_to_flag(cert["scheme"]) }}</span>
		<br/>
		<b>Manufacturer:</b>
		{% if cert["manufacturer_web"] %}
            <a href="{{ cert["manufacturer_web"] }}" target="_blank" rel="noopener">{{ cert["manufacturer"] }}</a>
        {% else %}
            {{ cert["manufacturer"] }}
        {% endif %}
		<br/>
		<b>Category:</b>
		{{ render_category(cert["category"]) }} {{ cert["category"] }}
		<br/>
		<b>Security level:</b>
        {% for level in cert["security_level"] %}
		{{ level }}{%- if not loop.last -%}, {%- endif -%}
        {% endfor %}
		<br/>
		{% if profiles %}
		<b>Protection profiles:</b>
            <ul>
            {% for id, profile in profiles.items() %}
                <li><a href="{{ url_for("pp.entry", hashid=profile["_id"]) }}">{{ id }}</a></li>
            {% endfor %}
            </ul>
		<br/>
		{% endif %}
        {% if cert["maintenance_updates"] %}
            <b>Maintenance updates:</b>
            <ul>
            {% for update in cert["maintenance_updates"] %}
                <li>{{ update["maintenance_title"] }} ({{ update["maintenance_date"]|strptime("%Y-%m-%d")|strftime("%d.%m.%Y") }})
                {% if update["maintenance_report_link"] %}
                    <a href="{{ update["maintenance_report_link"] }}" target="_blank" rel="noopener">Certification report</a>
                {% endif %}
                {% if update["maintenance_st_link"] %}
                    <a href="{{ update["maintenance_st_link"] }}" target="_blank" rel="noopener">Security target</a>
                {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endif %}

		<div class="mt-2 mb-2">
            {% if cert["cert_link"] %}
            <a class="btn btn-primary" role="button" href="{{ cert['cert_link'] }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ cert["cert_link"].split("/")[-1] }}"><i class="fas fa-file-contract"></i> Certificate</a>
            {% endif %}
            {% if cert["report_link"] %}
			<a class="btn btn-primary" role="button" href="{{ cert['report_link'] }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ cert["report_link"].split("/")[-1] }}"><i class="fas fa-file-contract"></i> Certification report</a>
            {% endif %}
            {% if cert["st_link"] %}
			<a class="btn btn-primary" role="button" href="{{ cert['st_link'] }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ cert["st_link"].split("/")[-1] }}"><i class="fas fa-file-alt"></i> Security target</a>
            {% endif %}
		</div>
    </div>

    <div class="mt-5 mb-5">
        <h2 class="anchor" id="report-info">Certification report
		<span style="font-size: 0.5em; vertical-align: middle" tabindex="0" class="badge bg-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Information automatically extracted from the certificate report. Might contain errors.">?</span>
        {% if cert["report_link"] %}
            <a role="button" href="{{ cert['report_link'] }}" style="font-size: 0.4em; vertical-align: middle" tabindex="0" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Download."><i class="fas fa-fw fa-download"></i></a>
        {% endif %}
        </h2>
        <h3 class="mt-3">Extracted keywords</h3>
        {{ cryptography_keywords(cert["pdf_data"]["report_keywords"], "cert") }}
        {{ device_keywords(cert["pdf_data"]["report_keywords"], "cert") }}
        {{ security_keywords(cert["pdf_data"]["report_keywords"], "cert", hidden=["rules_security_level"], map_funcs={"rules_security_assurance_components": render_sars,
                                                                                                        "rules_security_functional_components": render_sfrs}) }}
        {{ other_keywords(cert["pdf_data"]["report_keywords"], "cert") }}
        <h3 class="mt-3">File metadata</h3>
        {{ render_pdf_meta(cert["pdf_data"]["report_metadata"]) }}

        {{ render_frontpage(cert, "report_frontpage") }}
    </div>

    <div class="mt-5 mb-5">
        <h2 class="anchor" id="st-info">Security target
		<span style="font-size: 0.5em; vertical-align: middle" tabindex="0" class="badge bg-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Information automatically extracted from the security target. Might contain errors.">?</span>
        {% if cert["st_link"] %}
            <a role="button" href="{{ cert['st_link'] }}" style="font-size: 0.4em; vertical-align: middle" tabindex="0" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Download."><i class="fas fa-fw fa-download"></i></a>
        {% endif %}
        </h2>

        <h3 class="mt-3">Extracted keywords</h3>
        {{ cryptography_keywords(cert["pdf_data"]["st_keywords"], "target") }}
        {{ device_keywords(cert["pdf_data"]["st_keywords"], "target") }}
        {{ security_keywords(cert["pdf_data"]["st_keywords"], "target", map_funcs={"rules_security_assurance_components": render_sars,
                                                                                 "rules_security_functional_components": render_sfrs}) }}
        {{ other_keywords(cert["pdf_data"]["st_keywords"], "target") }}
        <h3 class="mt-3">File metadata</h3>
        {{ render_pdf_meta(cert["pdf_data"]["st_metadata"]) }}

        {{ render_frontpage(cert, "st_frontpage") }}
    </div>

    <div class="mt-5 mb-5">
        <h2 class="anchor" id="heuristics-info">Heuristics
		<span style="font-size: 0.5em; vertical-align: middle" tabindex="0" class="badge bg-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Information automatically extracted from the certificate and security target documents. Might contain errors.">?</span></h2>
        {% if cert["heuristics"]["cert_id"] %}
            <b>Certificate ID:</b> {{ cert["heuristics"]["cert_id"] }}<br/>
        {% endif %}
    </div>

    <div class="mt-5 mb-5">
        <h2 class="anchor" id="reference-graph">References
		<span style="font-size: 0.5em; vertical-align: middle" tabindex="0" class="badge bg-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Information automatically extracted from the certificate and security target documents. Might contain errors.">?</span></h2>
        <div class="border">
        {{ render_network(url_for('.entry_graph_json', hashid=hashid), url_for('.categories'), height=400, linkDistance=45, linkCharge=-140, highlight=[hashid]) }}
        </div>
    </div>

    <div class="mt-5 mb-5">
        <h2 class="anchor" id="updates">Updates</h2>
        <ul>
        {% for diff in diffs %}
            {% if diff["type"] == "new" %}
                <li>
                    The certificate was first processed.
                </li>
            {% elif diff["type"] == "change" %}
                <li>
                    The certificate data changed.
                </li>
            {% elif diff["type"] == "remove" %}
                <li>
                    The certificate became unavailable, either the certification report or the security target was unavailable during processing.
                </li>
            {% elif diff["type"] == "back" %}
                <li>
                    The certificate became available again.
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>

    <div class="mt-5 mb-5">
		<h2 class="anchor" id="raw-data-head">Raw data
		<button id="raw-data-button" type="button" data-bs-toggle="collapse" data-bs-target="#raw-data" style="font-size: 0.4em; vertical-align: middle" tabindex="0" class="btn btn-primary" title="Toggle."><i class="fas fa-fw fa-plus"></i></button>
		<a role="button" href="{{ url_for('.entry_json', hashid=hashid) }}" style="font-size: 0.4em; vertical-align: middle" tabindex="0" class="btn btn-primary" title="Download."><i class="fas fa-fw fa-download"></i></a></h2>
		<pre id="raw-data" class="listing collapse mt-3"><code>{{ cert|tojson(indent=2) }}</code></pre>
	</div>
	<script>
        $(function () {
            let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            tooltipTriggerList.map(function (tooltipTriggerEl) {
              return new bootstrap.Tooltip(tooltipTriggerEl)
            })
           new bootstrap.Tooltip($("#raw-data-button").get(0));
        });
		$('#raw-data').on('show.bs.collapse', function () {
			$("#raw-data-button i").toggleClass("fa-plus").toggleClass("fa-minus");
		});
		$('#raw-data').on('hide.bs.collapse', function () {
			$("#raw-data-button i").toggleClass("fa-plus").toggleClass("fa-minus");
		});
	</script>
    </div>
        </div>
    </main>
{% endblock %}