{% extends "common/base.html.jinja2" %}
{% set canonical = True %}
{% block title %}
    <title>Common Criteria | sec-certs.org</title>
{% endblock %}

{% block content %}
    <main>
        <div class="col-12 col-sm-10 mx-auto p-3 py-md-5">
            <div class="row mb-3 g-4 justify-content-start row-cols-1 row-cols-lg-2">
                <div class="col-sm-10 col-md-5 order-1 order-md-0">
                    <h1>Common Criteria</h1>
                    <p class="lead">All of the certificates are sourced from the Common Criteria portal at
                        <a href="https://www.commoncriteriaportal.org/" target="_blank">www.commoncriteriaportal.org</a>.
                        The site provides a CSV file and a HTML listing of the certified products with some metadata.
                        These listings were crawled (along with the certificates and security targets themselves) to
                        gather the data provided here.</p>
                </div>
                <div class="col-5 d-flex justify-content-md-center align-items-md-center order-0 order-md-1">
                    <img src="{{ url_for("static", filename="img/cc_logo.svg") }}" alt="sec-certs"
                         class="part-logo"
                         style="width: 10em"/>
                </div>
            </div>
        </div>

        <div class="row bg-darker-light p-3">
            <div class="col-12 col-sm-10 mx-auto">
                <div class="row my-5">
                    <div class="col-12 col-md-6">
                        <div class="feature-icon bg-primary bg-gradient">
                            <i class="fas fa-search fa-fw"></i>
                        </div>
                        <h3>Search</h3>
                        <p>We are converting all Common Criteria certificates from PDFs into machine readable format. You can use this website to 
                        search in our database for any Common Criteria certificate, discover its extracted metadata, filter them and do much more.</p>
                        <a href="{{ url_for(".merged_search") }}" class="btn btn-primary">
                            Learn More <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 mt-4 mt-md-0">
                        <div class="feature-icon bg-primary bg-gradient">
                            <i class="fa fa-lightbulb" aria-hidden="true"></i>
                        </div>
                        <h3>Example</h3>
                        <p>No more talking. Have a look at the example certificate we have chosen for you. Discover extracted metadata and much more.
                        Don't forget to search for your own certificates later!</p>
    
                        <a href="{{ url_for("cc.rand") }}" class="btn btn-outline-primary m-1">
                            Random certificate
                        </a>
                        <a  href="{{ url_for("cc.entry", hashid="b906b2e8d7617202") }}" class="btn btn-primary m-1">
                            Show Example <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-3">
            <div class="col-12 col-sm-10 mx-auto">
                <div class="row my-5">
                    <div class="col-12 col-md-6">
                        <div class="feature-icon bg-primary bg-gradient">
                            <i class="fas fa-chart-line fa-fw"></i>
                        </div>
                        <h3>Analysis</h3>
                        <p>Which scheme is issuing certificates the most? Which certificate category is the most numerous?
                        You can find answers here and you can also make your own statistics with our prepared datasets.</p>
                        <a href="{{ url_for(".analysis") }}" class="btn btn-primary">
                            Learn More <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 mt-4 mt-md-0">
                        <div class="feature-icon bg-primary bg-gradient">
                            <i class="fas fa-network-wired fa-fw"></i>
                        </div>
                        <h3>References</h3>
                        <p>Are you curious about which certificates reference yours - and vice versa? 
                        We automatically link references between certificates to form an extensive network. 
                        You can also view detailed reference networks within each certificate's information.</p>
                        <a href="{{ url_for(".network") }}" class="btn btn-primary">
                            Show all references <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-darker-light p-3">
            <div class="col-12 col-sm-10 mx-auto">
                <div class="row my-5">
                    <div class="col-12 col-md-6">
                        <div class="feature-icon bg-primary bg-gradient">
                            <i class="fas fa-file-alt fa-fw"></i>
                        </div>
                        <h3>Data</h3>
                        <p>Want to process all Common Criteria data on your own? Download our prepared datasets and let's analyse them.</p>
                        <a href="{{ url_for(".data") }}" class="btn btn-primary">
                            Learn More <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        
    </main>
{% endblock %}
