{% extends "base.html.jinja2" %}
{% set crumbs = True %}
{% block content %}
    <div class="col-10 mx-auto p-3 py-md-5">
        <main>
            <div class="row">
                <div class="col-6">
                    <h1>About</h1>
                    <p class="lead">
                        This research is being carried out by a team at the <a href="https://crocs.fi.muni.cz">Centre
                        for Research on Cryptography and Security</a> at Masaryk University. The work was supported by
                        the <a href="https://cybersec4europe.eu/" target="_blank" rel="noopener">CyberSec4Europe</a>
                        project and
                        <a href="https://research.redhat.com/" target="_blank" rel="noopener">Red Hat Research</a>.</p>
                    <ul class="name-list">
                        <li>Petr Svenda</li>
                        <li>Stanislav Bobon</li>
                        <li>Adam Janovsky</li>
                        <li>Jan Jancar</li>
                    </ul>
                    <p>If you would like to contact us, you can do so at <a
                            href="mailto:svenda@fi.muni.cz">svenda@fi.muni.cz</a>.</p>
                </div>
            </div>
        </main>
    </div>
{% endblock %}