{% extends "base.html.jinja2" %}
{% set active_page = "index" %}
{% block content %}
    <main>
        <div class="col-10 mx-auto p-3 py-md-5">
            <div class="row mb-3 justify-content-between">
                <div class="col-5">
                    <h1>Security Certifications</h1>
                    <p class="lead fw-light pt-2">
                        This site presents ongoing research on the landscape of Security Certifications focusing on
                        Common Criteria and FIPS 140 certifications. As such, it is a <strong class="fw-bold">work in
                        progress</strong>
                        and the site is expected to change.
                    </p>
                </div>
                <div class="col-7">
                    <img src="{{ url_for("static", filename="img/logo.svg") }}" alt="seccerts"
                         style="filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.15));"/>
                </div>
            </div>

            <div class="row my-5 row-cols-1 row-cols-lg-4">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Common Criteria</h4>
                            <p class="card-text">Want to explore Common Criteria certificates?</p>
                            <a href="{{ url_for("cc.index") }}" class="btn btn-primary">Go</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Protection Profiles</h4>
                            <p class="card-text">Want to explore Protection Profiles of Common Criteria
                                certificates?</p>
                            <a href="{{ url_for("pp.index") }}" class="btn btn-primary">Go</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">FIPS 140</h4>
                            <p class="card-text">Want to explore FIPS 140-2 and 140-3 certificates?</p>
                            <a href="{{ url_for("fips.index") }}" class="btn btn-primary">Go</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">About</h4>
                            <p class="card-text">Want to learn more about our research?</p>
                            <a href="{{ url_for(".about") }}" class="btn btn-primary">Go</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-dark p-3">
            <div class="col-10 mx-auto text-light">
                <h2 class="pt-2">Use cases</h2>
                <div class="row g-4 py-4 row-cols-1 row-cols-lg-3">
                    <div class="feature col">
                        <div class="feature-icon bg-primary bg-gradient">
                            <i class="fas fa-search fa-fw"></i>
                        </div>
                        <h3>Search</h3>
                        <p>Search through our extracted certificate data, filter by categories or archived status.
                        Explore the certificates without downloading and reading countless PDFs.</p>
                    </div>
                    <div class="feature col">
                        <div class="feature-icon bg-primary bg-gradient">
                            <i class="fas fa-network-wired fa-fw"></i>
                        </div>
                        <h3>References</h3>
                        <p>Explore the references between certificates and security targets in a graph. A certificate
                            referencing another certificate usually means that it builds up on top of the referenced certificate.</p>
                    </div>
                    <div class="feature col">
                        <div class="feature-icon bg-primary bg-gradient">
                            <i class="fas fa-envelope fa-fw"></i>
                        </div>
                        <h3>Notifications</h3>
                        <p>Subscribe to receive notifications about a vulnerability affecting a selected set of certified products.</p>
                    </div>
                </div>
                <div class="row g-4 py-4 row-cols-1 row-cols-lg-3">
                    <div class="feature col">
                        <div class="feature-icon bg-primary bg-gradient">
                            <i class="fas fa-file-alt fa-fw"></i>
                        </div>
                        <h3>Data</h3>
                        <p>Download our extracted dataset or just data for a particular certificate in a machine readable format.</p>
                    </div>
                    <div class="feature col">
                        <div class="feature-icon bg-primary bg-gradient">
                            <i class="fas fa-chart-line fa-fw"></i>
                        </div>
                        <h3>Analysis</h3>
                        <p>Explore our analysis of the security certifications landscape as it evolves over time.</p>
                    </div>
                    <div class="feature col">
                        <div class="feature-icon bg-primary bg-gradient">
                            <i class="fas fa-users fa-fw"></i>
                        </div>
                        <h3>Crowdsourcing</h3>
                        <p>Help us improve this site, let us know where some data is missing or wrong.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}