{% extends "base.html.jinja2" %}
{% set active_page = "index" %}
{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h1>Security Certifications</h1>

            <p class="lead">
                This site presents ongoing research on the landscape of Security Certifications focusing on
                Common Criteria and FIPS 140 certifications. As such, it is a <strong>work in progress</strong> and
                the site is expected to change.
            </p>
            <p>
                For some more information and sources of our tooling, you can check-out our <a href="https://github.com/crocs-muni/sec-certs" target="_blank" rel="noopener">GitHub</a>
                repository.
            </p>

            <h2>About</h2>
            <p>
                This research is being carried out by a team at the <a href="https://crocs.fi.muni.cz">Centre for Research
                on Cryptography and Security</a> at Masaryk University. The work was supported by the
                <a href="https://cybersec4europe.eu/" target="_blank" rel="noopener">CyberSec4Europe</a> project and
                <a href="https://research.redhat.com/" target="_blank" rel="noopener">Red Hat Research</a>.</p>
            <ul class="name-list">
                <li>Petr Svenda</li>
                <li>Stanislav Bobon</li>
                <li>Adam Janovsky</li>
                <li>Jan Jancar</li>
            </ul>
            <p>If you would like to contact us, you can do so at <a href="mailto:svenda@fi.muni.cz">svenda@fi.muni.cz</a>.</p>
        </div>
    </div>
{% endblock %}