{% extends "base.html.jinja2" %}
{% set active_page = "methodology" %}
{% block content %}
	<h1>Security Certifications</h1>
	<div class="mt-3 w-75">
		<p class="lead">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		<p>
		Placeat nulla officiis quidem dignissimos debitis aut natus. Quia voluptas et et odio asperiores et qui explicabo. Id natus dolorem et sed. Eligendi quaerat voluptatibus a. Fugiat ea et enim molestiae.
		</p>
		<p>
		Autem exercitationem atque provident quis impedit ad. Saepe rerum quia nobis aspernatur. Soluta repellendus est repellendus culpa quia fugit qui et. Aut cumque odio aut voluptatem quod. Rerum et hic et.
		</p>
		<p>
		Omnis qui illum libero dicta eos ut. Fugit enim sequi eos cumque minima. Dignissimos amet sunt ullam rerum at et. Fuga exercitationem sint voluptas. Soluta quibusdam facere cum voluptatibus rerum eum exercitationem. Laborum asperiores libero atque nihil deleniti odio nesciunt.
		</p>
		<p>
		Dolor dolorem dolores voluptas. Omnis in nobis aut aliquid. Temporibus nesciunt molestiae porro dicta corporis. Enim et sed reiciendis qui voluptas sapiente voluptas. Aliquid quasi eum recusandae ea asperiores aut. Vitae consequatur aut repellat porro porro autem.
		</p>
	</div>
{% endblock %}