Welcome to sec-certs!
        
Hello {{ user.username }},

Thank you for creating an account with sec-certs.
To complete your registration and activate your account,
please confirm your email address by navigating to the link below:

{{ confirmation_url }}

This confirmation link will expire in 24 hours.

If you did not create an account with sec-certs, please ignore this email.
