Hello {{ user.username }},

You requested a secure login link for your sec-certs account.
Click the link below to log in:

{{ login_url }}

**Important:** This login link will expire in 15 minutes for security reasons.

If you did not request this login link, please ignore this email.
