Hello {{ user.username }},

We received a request to reset the password for your sec-certs account.
If you made this request, click the link below to reset your password:

{{ reset_url }}

**Important:** This password reset link will expire in 1 hour for security reasons.

If you did not request a password reset, please ignore this email.
Your account is secure and no action is needed.