{% extends "base.html.jinja2" %}
{% set crumbs = True %}
{% set search = False %}
{% block content %}
    <main>
        <div class="col-10 mx-auto p-3 py-md-5">
            <h1>Config</h1>
            <pre class="listing"><code>{{ config_text }}</code></pre>
        </div>
    </main>
{% endblock %}