{% extends "common/base.html.jinja2" %}
{% set crumbs = True %}
{% block content %}
    <main>
        <div class="col-10 mx-auto p-3 py-md-5">
            <h1>Collected feedback</h1>
            <p class="lead text-danger">Beware! This input comes from users.</p>
            <div id="pagination">
                <div class="mt-4 mb-4">
                    {{ pagination.links }}
                </div>
                <table class="mb-4 table">
                    <col style="width:15%">
                    <col style="width:64%">
                    <col style="width:5%">
                    <col style="width:8%">
                    <thead>
                    <tr>
                        <th>Element</th>
                        <th>Comment</th>
                        <th>Path</th>
                        <th>Timestamp</th>
                    </tr>
                    </thead>
                    {% for fb in entries %}
                        <tr>
                            <td>{{ fb["element"] }}</td>
                            <td>{{ fb["comment"] }}</td>
                            <td>{{ fb["path"] }}</td>
                            <td>{{ fb["timestamp"]|strftime("%d.%m.%Y")}}</td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="mb-4">
                    {{ pagination.links }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}