{% extends "common/base.html.jinja2" %}
{% block content %}
    <main>
        <div class="col-10 mx-auto p-3 py-md-5">
            <h1>Welcome {{ current_user.username }}!</h1>
            <div>
                <a href="{{ url_for("admin.updates") }}" class="btn btn-primary">Updates</a>
                <a href="{{ url_for("admin.tasks") }}" class="btn btn-primary">Tasks</a>
                <a href="{{ url_for("admin.config") }}" class="btn btn-primary">Config</a>
                <a href="{{ url_for("admin.users") }}" class="btn btn-primary">Users</a>
                <a href="/munin/" class="btn btn-primary" target="_blank">Munin</a>
            </div>
        </div>
    </main>
{% endblock %}