{% extends "common/base.html.jinja2" %}
{% block content %}
    <div class="signin-wrapper">
        <main class="form-signin">
            <form action="{{ url_for(".login") }}" method="post" name="login">
                {{ form.hidden_tag() }}
                <img class="mb-4" src="{{ url_for("static", filename="img/logo.svg") }}" alt="sec-certs"
                     height="100">
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>


                <div class="form-floating">
                    {{ form.username(class_="form-control") }}
                    <label for="username">Username</label>
                </div>
                <div class="form-floating">
                    {{ form.password(class_="form-control") }}
                    <label for="password">Password</label>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        {{ form.remember_me }} Remember me
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                
                <div class="text-center mt-3">
                    <p><a href="{{ url_for('.forgot_password') }}">Forgot your password?</a></p>
                    <p><a href="{{ url_for('.magic_link') }}">Login with email link</a></p>
                    <p>Don't have an account? <a href="{{ url_for('.register') }}">Create one</a></p>
                </div>
            </form>
        </main>
    </div>
{% endblock %}
