{% extends "base.html.jinja2" %}
{% set crumbs = True %}
{% set search = False %}
{% block content %}
    <main>
        <div class="col-10 mx-auto p-3 py-md-5">
            <div>
                <h1>Tasks</h1>
                {% if tasks %}
                    <ul>
                        {% for task in tasks %}
                            <li>{{ task["name"] }}, since {{ task["start_time"]|fromisoformat|strftime("%d.%m.%Y %H:%M") }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="lead">There are currently no tasks being executed.</p>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}