<div class="card">
    <div class="card-body">
        <h5 class="card-title">New certificate</h5>
        <p class="card-text">A new Common Criteria certificate with the product name <b>{{ cert["name"] }}</b>
            was processed.</p>
        {% if linkback %}
            <a href="{{ url_for("cc.entry", hashid=hashid) }}" class="card-link">Certificate page</a>
        {% endif %}
    </div>
</div>