{% extends "crowdsourced.html.jinja2" %}
{% set crumbs = True %}
{% set search = False %}
{% block title %}
    <title>
        {{ cpe["_id"] }}
    </title>
{% endblock %}
{% block metadata %}
    <meta property="twitter:card" content="summary"/>
    <meta property="twitter:site" content="@CRoCS_MUNI"/>
    <meta property="twitter:title" content="{{ cpe["_id"] }}"/>
    <meta property="twitter:image" content="{{ url_for("static", filename="img/cpe_card.png", _external=True) }}"/>
    <meta property="twitter:description" content="{{ cpe["_id"] }}"/>
    <meta property="og:title" content="{{ cpe["_id"] }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ url_for(".cpe", cpe_id=cpe["_id"], _external=True) }}"/>
    <meta property="og:image" content="{{ url_for("static", filename="img/cpe_card.png", _external=True) }}"/>
    <meta property="og:description" content="{{ cpe["_id"] }}"/>
    <meta property="og:site_name" content="seccerts.org"/>
{% endblock %}
{% block navbar %}
    {{ super() }}
    <li class="nav-item">
        <a class="nav-link" href="#data">Data</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#linked-cves">Linked CVEs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#matched-certs">Matched certificates</a>
    </li>
{% endblock %}
{% block content %}
    <main>
        <div class="col-10 mx-auto p-3 py-md-5">
            <div class="alert alert-warning d-sm-none" role="alert">
                <i class="fas fa-exclamation-triangle"></i> This page was not yet optimized for use on mobile devices.
            </div>
            <div>
                <h1>{{ cpe["_id"] }}</h1>

                <div class="row pt-5">
                    <div class="col-12 col-md-6">
                        <h2 class="anchor" id="data">Data
                            <span style="font-size: 0.5em; vertical-align: middle" tabindex="0"
                                  class="badge bg-secondary"
                                  data-bs-toggle="tooltip" data-bs-placement="top"
                                  title="Information extracted from CVE data from MITRE and NIST's NVD.">?</span>
                        </h2>
                        <table class="table table-sm table-borderless w-auto">
                            <colgroup>
                                <col style="width: 30%"/>
                                <col style="width: 70%"/>
                            </colgroup>
                            <tbody>
                            {% if cpe["title"] %}
                                <tr data-cs-name="CPE title">
                                    <th scope="row">CPE title</th>
                                    <td>{{ cpe["title"] }}</td>
                                </tr>
                            {% endif %}
                            <tr data-cs-name="URI">
                                <th scope="row">URI</th>
                                <td>{{ cpe["uri"] }}</td>
                            </tr>
                        </table>

                    </div>
                    <div class="col-12 col-md-6">
                        <h2 class="anchor" id="linked-cves">Linked CVEs
                            <span style="font-size: 0.5em; vertical-align: middle" tabindex="0"
                                  class="badge bg-secondary"
                                  data-bs-toggle="tooltip" data-bs-placement="top"
                                  title="Information automatically extracted from NIST's NVD.">?</span>
                        </h2>
                        {% if cves %}
                            {% set configs = namespace(shown=0,rendered=False) %}
                            <ul>
                                {% for cve in cves %}
                                    {% set configs.shown = configs.shown + 1 %}
                                    <li class="vuln-cve" style="{% if configs.shown > 10 %}display: none{% endif %}">
                                        <a href="{{ url_for(".cve", cve_id=cve["_id"]) }}">{{ cve["_id"] }}</a>
                                    </li>
                                    {% if configs.shown > 10 and not configs.rendered %}
                                        <li class="vuln-ellipsis">
                                            &hellip;
                                        </li>
                                        {% set configs.rendered = True %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            {% if configs.rendered %}
                                <button type="button" id="display-vuln-configs" class="btn btn-outline-primary"
                                        style="margin-left: 2rem">
                                    <i class="fas fa-plus"></i> Display all
                                </button>
                                <script>
                                    $(function () {
                                        $("#display-vuln-configs").click(function () {
                                            $(".vuln-cve").show();
                                            $(".vuln-ellipsis").hide();
                                            $("#display-vuln-configs").hide();
                                        });
                                    });
                                </script>
                            {% endif %}
                        {% else %}
                            <p>This CPE has no linked CVEs.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {#  heeeere #}
        <div class="row bg-dark p-3">
            <div class="col-10 mx-auto p-3 py-md-5 text-light">

                <div class="mb-3">
                    <h2 class="anchor" id="matched-certs">Matched certificates
                        <span style="font-size: 0.5em; vertical-align: middle" tabindex="0"
                              class="badge bg-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                              title="Information from our heuristic matching between certificates and CPEs. Might contain false positives or negatives.">?</span>
                    </h2>
                    {% if cc_certs or fips_certs %}
                    <p>Note that this currently lists only certificates matched to the CPE, it does not
                        include certificates that directly or indirectly reference the matched certificate.</p>
                    {% endif %}

                    {% if cc_certs %}
                        <div class="my-4">
                            <h3>Common Criteria certificates</h3>
                            <ul>
                                {% for cert in cc_certs %}
                                    <li>
                                        <a href="{{ url_for("cc.entry", hashid=cert["_id"]) }}">{{ cert["name"]|default("", true) }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if fips_certs %}
                        <div class="my-4">
                            <h3>FIPS 140 certificates</h3>
                            <ul>
                                {% for cert in fips_certs %}
                                    <li>
                                        <a href="{{ url_for("fips.entry", hashid=cert["_id"]) }}">{{ cert["web_data"]["module_name"]|default("", true) }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if not cc_certs and not fips_certs %}
                        <p>This CPE has no matched certificates.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}