{% extends "common/crowdsourced.html.jinja2" %}
{% set crumbs = True %}
{% set search = False %}
{% set canonical = True %}
{% from "common/entry.html.jinja2" import render_cve_impact, render_cve_links %}
{% block title %}
    <title>
        {{ cve["_id"] }}
    </title>
{% endblock %}
{% block metadata %}
    <meta property="twitter:card" content="summary"/>
    <meta property="twitter:site" content="@CRoCS_MUNI"/>
    <meta property="twitter:title" content="{{ cve["_id"] }}"/>
    <meta property="twitter:image" content="{{ url_for("static", filename="img/cve_card.png", _external=True) }}"/>
    <meta property="twitter:description" content="{{ cve["_id"] }}"/>
    <meta property="og:title" content="{{ cve["_id"] }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ url_for(".cve", cve_id=cve["_id"], _external=True) }}"/>
    <meta property="og:image" content="{{ url_for("static", filename="img/cve_card.png", _external=True) }}"/>
    <meta property="og:description" content="{{ cve["_id"] }}"/>
    <meta property="og:site_name" content="sec-certs.org"/>
{% endblock %}
{% block navbar %}
    {{ super() }}
    <li class="nav-item">
        <a class="nav-link" href="#data">Data</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#vulnerable-cpes">Vulnerable CPEs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#vulnerable-certs">Vulnerable certificates</a>
    </li>
{% endblock %}
{% block content %}
    <main>
        <div class="col-12 col-sm-10 mx-auto p-3 py-md-5">
            <div class="alert alert-warning d-sm-none" role="alert">
                <i class="fas fa-exclamation-triangle"></i> This page was not yet optimized for use on mobile devices.
            </div>
            <div>
                <h1>{{ cve["_id"] }}</h1>

                <div class="row pt-5">
                    <div class="col-12 col-md-6">
                        <h2 class="anchor" id="data">Data
                            <span style="font-size: 0.5em; vertical-align: middle" tabindex="0"
                                  class="badge bg-secondary"
                                  data-bs-toggle="tooltip" data-bs-placement="top"
                                  title="Information extracted from CVE data from MITRE and NIST's NVD.">?</span>
                        </h2>
                        <table class="table table-sm table-borderless w-auto">
                            <colgroup>
                                <col style="width: 30%"/>
                                <col style="width: 70%"/>
                            </colgroup>
                            <tbody>
                            <tr data-cs-name="Vulnerability ID">
                                <th scope="row">Vulnerability ID</th>
                                <td>{{ cve["_id"] }}</td>
                            </tr>
                            <tr data-cs-name="Published on">
                                <th scope="row">Published on</th>
                                <td>{{ cve["published_date"]|fromisoformat()|strftime("%d.%m.%Y %H:%M") }}</td>
                            </tr>
                            <tr data-cs-name="Severity">
                                <th scope="row">Severity</th>
                                <td>{{ render_cve_impact(cve) }}</td>
                            </tr>
                        </table>

                        {{ render_cve_links(cve,full=True) }}
                    </div>
                    <div class="col-12 col-md-6">
                        <h2 class="anchor" id="vulnerable-cpes">Vulnerable configurations
                            <span style="font-size: 0.5em; vertical-align: middle" tabindex="0"
                                  class="badge bg-secondary"
                                  data-bs-toggle="tooltip" data-bs-placement="top"
                                  title="Information automatically extracted from NIST's NVD.">?</span>
                        </h2>
                        {% if vuln_configs %}
                            {% set configs = namespace(shown=0,rendered=False) %}
                            <ul data-cs-name="Vulnerable configurations">
                                {% for has_cpes, first, second in vuln_configs %}
                                    <li class="vuln-config" style="{% if configs.shown > 10 %}display: none{% endif %}">
                                        {% for cpe in first %}
                                            {% set configs.shown = configs.shown + 1 %}
                                            <span class="vuln-config"
                                                  style="{% if configs.shown > 10 %}display: none{% endif %}">
                                            {% if has_cpes %}
                                                <a href="{{ url_for(".cpe", cpe_id=cpe) }}">{{ cpe }}</a>
                                                {%- if not loop.last %}, {% endif %}
                                            {% else %}
                                                {{ cpe }}
                                            {% endif %}
                                            </span>
                                            {% if configs.shown > 10 and not configs.rendered %}
                                                <span class="vuln-ellipsis"><br/>&hellip;</span>
                                                {% set configs.rendered = True %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if second %}
                                            <b class="vuln-config"
                                               style="{% if configs.shown > 10 %}display: none{% endif %}">
                                                <br/>running
                                                on/with<br/></b>
                                            {% for cpe in second %}
                                                {% set configs.shown = configs.shown + 1 %}
                                                <span class="vuln-config"
                                                      style="{% if configs.shown > 10 %}display: none{% endif %}">
                                                {% if has_cpes %}
                                                    <a href="{{ url_for(".cpe", cpe_id=cpe) }}">{{ cpe }}</a>
                                                    {%- if not loop.last %}, {% endif %}
                                                {% else %}
                                                    {{ cpe }}
                                                {% endif %}
                                                </span>
                                                {% if configs.shown > 10 and not configs.rendered %}
                                                    <span class="vuln-ellipsis"><br/>&hellip;</span>
                                                    {% set configs.rendered = True %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                            {% if configs.rendered %}
                                <button type="button" id="display-vuln-configs" class="btn btn-outline-primary"
                                        style="margin-left: 2rem">
                                    <i class="fas fa-plus"></i> Display all
                                </button>
                                <script>
                                    $(function () {
                                        $("#display-vuln-configs").click(function () {
                                            $(".vuln-config").show();
                                            $(".vuln-ellipsis").hide();
                                            $("#display-vuln-configs").hide();
                                        });
                                    });
                                </script>
                            {% endif %}
                        {% else %}
                            <p>This CVE has no vulnerable configurations linked.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-dark p-3">
            <div class="col-12 col-sm-10 mx-auto p-3 py-md-5 text-light">
                <div class="mb-3">
                    <h2 class="anchor" id="vulnerable-certs">Vulnerable certificates
                        <span style="font-size: 0.5em; vertical-align: middle" tabindex="0"
                              class="badge bg-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                              title="Information from our heuristic matching between certificates and CPEs. Might contain false positives or negatives.">?</span>
                    </h2>
                    {% if cc_certs or fips_certs %}
                        <p>The CVE was matched to the following certificates. This means the vulnerability likely
                            affects
                            said certified devices. However,
                            this is an automated process that may have false positives and negatives.</p>
                    {% endif %}

                    {% if cc_certs %}
                        <div class="my-4" data-cs-name="Vulnerable CC certificates">
                            <h3>Common Criteria certificates <a style="font-size: 0.5em; vertical-align: middle"
                                                                tabindex="0"
                                                                class="badge bg-primary text-dark text-decoration-none"
                                                                data-bs-toggle="tooltip" data-bs-placement="top"
                                                                title="Display reference graph with affected certificates highlighted"
                                                                href="{{ url_for("cc.network", search="cve", cve=cve["_id"]) }}">Display
                                network</a></h3>
                            <ul>
                                {% for cert in cc_certs %}
                                    <li>
                                        <a href="{{ url_for("cc.entry", hashid=cert["_id"]) }}">{{ cert["name"]|default("", true) }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if fips_certs %}
                        <div class="my-4" data-cs-name="Vulnerable FIPS certificates">
                            <h3>FIPS 140 certificates <a style="font-size: 0.5em; vertical-align: middle" tabindex="0"
                                                         class="badge bg-primary text-dark text-decoration-none"
                                                         data-bs-toggle="tooltip" data-bs-placement="top"
                                                         title="Display reference graph with affected certificates highlighted"
                                                         href="{{ url_for("fips.network", search="cve", cve=cve["_id"]) }}">Display
                                network</a></h3>
                            <ul>
                                {% for cert in fips_certs %}
                                    <li>
                                        <a href="{{ url_for("fips.entry", hashid=cert["_id"]) }}">{{ cert["web_data"]["module_name"]|default("", true) }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if not cc_certs and not fips_certs %}
                        <p>This CVE has no assigned vulnerable CC or FIPS certificates.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if not cc_certs and not fips_certs %}
            <div class="row p-3">
                <div class="col-12 col-sm-10 mx-auto p-3 py-md-5">
                    <h2>Looking for more?</h2>
                    <p class="lead">Explore the landscape of Common Criteria and FIPS 140 certificates.</p>
                    <div class="row g-4 row-cols-1 row-cols-lg-4">
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <h4 class="card-title">Common Criteria</h4>
                                    <p class="card-text flex-grow-1">Want to explore Common Criteria certificates?</p>
                                    <div>
                                        <a href="{{ url_for("cc.index") }}" class="btn btn-primary">Go</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <h4 class="card-title">Protection Profiles</h4>
                                    <p class="card-text flex-grow-1">Want to explore Protection Profiles of Common
                                        Criteria
                                        certificates?</p>
                                    <div>
                                        <a href="{{ url_for("pp.index") }}" class="btn btn-primary">Go</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <h4 class="card-title">FIPS 140</h4>
                                    <p class="card-text flex-grow-1">Want to explore FIPS 140-2 and 140-3
                                        certificates?</p>
                                    <div>
                                        <a href="{{ url_for("fips.index") }}" class="btn btn-primary">Go</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <h4 class="card-title">Vulnerabilities</h4>
                                    <p class="card-text flex-grow-1">Want to explore how vulnerabilities affect
                                        certified
                                        products?</p>
                                    <div>
                                        <a href="{{ url_for("vuln.index") }}" class="btn btn-primary">Go</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </main>
{% endblock %}
