{% extends "common/base.html.jinja2" %}

{% set canonical = True %}
{% block content %}
    <main>
        <div class="col-12 col-sm-10 mx-auto p-3 py-md-5">
            <div class="row mb-3 g-4 justify-content-start row-cols-1 row-cols-lg-2">
                <div class="col-sm-10 col-md-5 order-1 order-md-0">
                    <h1>Vulnerability information</h1>
                    <p class="lead">Vulnerabilities can affect certified devices. We use the data provided
                        by MITRE in the form of the CVE database as well as data provided by NIST in its NVD to map
                        vulnerabilities to certified products.</p>
                </div>
                <div class="col-5 d-flex justify-content-md-center align-items-md-center order-0 order-md-1">
                    <img src="{{ url_for("static", filename="img/cve_logo.svg") }}" alt="CVE"
                         class="part-logo"
                         style="width: 10em"/>
                </div>
            </div>
        </div>
        <div class="row bg-darker-light p-3 mb-5">
            <div class="col-12 col-sm-10 mx-auto">
                <div class="row my-5">
                    <div class="col-12 col-md-6">
                        <div class="feature-icon bg-primary bg-gradient">
                            <i class="fas fa-search fa-fw"></i>
                        </div>
                        <h3>Search</h3>
                        <p>We are linking Common Criteria and FIPS 140 certificates to vulnerabilities. 
                        You can only search for a vulnerability and check if your certificate can be affected or not.</p>
                        <a href="{{ url_for(".search") }}" class="btn btn-primary">
                            Learn More <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
            
                    <div class="col-12 col-md-6">
                        <div class="feature-icon bg-primary bg-gradient">
                            <i class="fas fa-file-alt fa-fw"></i>
                        </div>
                        <h3>Data</h3>
                        <p>Want to see the dataset of vulnerabilities, which we are linking to certificates? Download it here.</p>
                        <a href="{{ url_for(".data") }}" class="btn btn-primary">
                            Learn More <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                
                </div>
            </div>
        </div>
        <script>
            function cve_search() {
                let input = $("#cve-input").val();
                if (!/CVE-[0-9]{4}-[0-9]{1,5}/.test(input)) {
                    $("#cve-input").addClass("is-invalid");
                } else {
                    window.location.href = "{{ url_for("vuln.cve", cve_id="") }}" + input;
                }
            }

            function cpe_search() {
                let input = $("#cpe-input").val();
                if (input === "") {
                    $("#cpe-input").addClass("is-invalid");
                } else {
                    window.location.href = "{{ url_for("vuln.cpe", cpe_id="") }}" + input;
                }
            }

            $("#cve-button").click(cve_search);
            $("#cpe-button").click(cpe_search);
        </script>
    </main>
{% endblock %}
