{% extends "common/updates/index.html.jinja2" %}

{% block scheme_name %}EUCC{% endblock %}
{% block entity %}certificates{% endblock %}
{% block storage_key %}eucc-col-visibility{% endblock %}

{% block lead %}
    Certificates that were first processed, changed, or disappeared from the source listing
    in one of our periodic updates of the EUCC dataset.
{% endblock %}

{% block cols %}[
    { key: 'cert_id',          label: 'ID',                 defaultVisible: true  },
    { key: 'name',             label: 'Name',               defaultVisible: true  },
    { key: 'scheme',           label: 'Scheme',             defaultVisible: true  },
    { key: 'eal',              label: 'EAL',                defaultVisible: true  },
    { key: 'status',           label: 'Status',             defaultVisible: true  },
    { key: 'not_valid_before', label: 'Certification date', defaultVisible: true  },
    { key: 'not_valid_after',  label: 'Archive date',       defaultVisible: true  },
]{% endblock %}

{% block results %}
    {% include "eucc/search/_search_table.html.jinja2" %}
{% endblock %}
