{% extends "common/base.html.jinja2" %}
{% set breadcrumb_title = True %}
{% set canonical = True %}
{% from "common/utils.html.jinja2" import render_process_state, render_share_buttons, notification_icon, notification_script %}
{% from "common/modals.html.jinja2" import compare_icon, chat_icon, chat_modal with context %}
{% from "cc/utils.html.jinja2" import cc_keywords, render_status, render_sars, render_sfrs, render_category, render_eal, render_frontpage %}
{% from "common/entry.html.jinja2" import cryptography_keywords, device_keywords, security_keywords, other_keywords, render_local_cert, render_local_report, render_local_target, render_pdf_meta, render_cves, render_cpes, render_references, render_updates %}
{% block metadata %}
    <meta property="description" content="Common Criteria certificate {{ cert["name"]|default("", true) }}"/>
    <meta property="twitter:card" content="summary"/>
    <meta property="twitter:site" content="@CRoCS_MUNI"/>
    <meta property="twitter:title" content="{{ cert["name"]|default("sec-certs.org", true) }}"/>
    <meta property="twitter:image" content="{{ url_for("static", filename="img/cc_card.png", _external=True) }}"/>
    <meta property="twitter:description" content="Common Criteria certificate {{ cert["name"]|default("", true) }}"/>
    <meta property="og:title" content="{{ cert["name"]|default("sec-certs.org", true) }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ url_for(".entry", hashid=hashid, _external=True) }}"/>
    <meta property="og:image" content="{{ url_for("static", filename="img/cc_card.png", _external=True) }}"/>
    <meta property="og:description" content="Common Criteria certificate {{ cert["name"]|default("", true) }}"/>
    <meta property="og:site_name" content="sec-certs.org"/>
    <meta name="description" content="Common Criteria certificate {{ cert["name"]|default("", true) }}"/>
{% endblock %}

{% block left_navigation %}
    <div id="left-navigation" class="d-none d-md-block list-group list-group-flush list-group-numbered">
        <h4>Sections</h4>
        <a class="list-group-item list-group-item-action rounded" href="#csv-info">Certificate summary</a>
        <a class="list-group-item list-group-item-action rounded" href="#cert-info">Certificate</a>
        <a class="list-group-item list-group-item-action rounded" href="#report-info">Certification report</a>
        <a class="list-group-item list-group-item-action rounded" href="#st-info">Security target</a>
        <a class="list-group-item list-group-item-action rounded" href="#heuristics-info">Heuristics</a>
        <a class="list-group-item list-group-item-action rounded" href="#reference-graph">References</a>
        <a class="list-group-item list-group-item-action rounded" href="#updates">Updates</a>
        <a class="list-group-item list-group-item-action rounded" href="#raw-data-head">Raw data</a>
    </div>
{% endblock %}


{% block content %}
    <main data-bs-spy="scroll" data-bs-target="#left-navigation" data-bs-smooth-scroll="false" tabindex="0"
          class="shifted-section">
        <div class="row">
            <div class="col-12 col-sm-10 p-3 pt-md-5">
                <div class="alert alert-warning d-sm-none" role="alert">
                    <i class="fas fa-exclamation-triangle"></i> This page was not yet optimized for use on mobile
                    devices.
                </div>
                <div>
                    <h1>{{ cert["name"]|default("", true) }}</h1>

                    {% if cves %}
                        <div class="alert alert-warning mt-4">
                            <i class="fas fa-exclamation-triangle"></i>
                            This certificate has known related <a href="#cves" class="alert-link">CVEs</a>, which means
                            that
                            the certified
                            product might be vulnerable.
                        </div>
                    {% endif %}

                    {% if removed and same %}
                        <div class="alert alert-secondary mt-4">
                            <i class="fas fa-exclamation-triangle"></i>
                            This certificate has disappeared from the Common Criteria portal listing<sup
                                title="Likely due to the certifying scheme updating some of its fields."
                                data-bs-toggle="tooltip">*</sup>.
                            However, there {% if same|length > 1 %}are certificates that match{% else %}is a certificate
                            that matches{% endif %}
                            this one in the current listing:
                            <table class="table table-secondary table-borderless mt-3 ms-3">
                                {% for other in same %}
                                    <tr>
                                        <td class="align-middle">
                                            <a href="{{ url_for("cc.entry", hashid=other["_id"]) }}">{{ other["name"] }}</a>
                                        </td>
                                        <td class="align-middle">{{ other["heuristics"]["cert_id"] }}</td>
                                        <td>
                                            <a href="{{ url_for("cc.compare", one_hashid=hashid, other_hashid=other["_id"]) }}"
                                               class="btn btn-outline-secondary">Compare</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                            <span style="margin-left: 20px">You can also examine other <a href="#similar">similar certificates</a> below.</span>
                        </div>
                    {% endif %}

                    <div class="d-flex gap-3 flex-wrap">
                        {{ compare_icon() }}
                        {{ notification_icon(current_user, subscribed) }}
                        {{ render_share_buttons(hashid, cert_id=cert["heuristics"]["cert_id"], name=cert["name"]) }}
                    </div>

                    <div class="row pt-5">
                        <div class="col-12 col-md-6">
                            <h2 class="anchor" id="csv-info">CSV information</h2>
                            <table class="table table-sm table-borderless w-auto">
                                <colgroup>
                                    <col style="width: 30%"/>
                                    <col style="width: 70%"/>
                                </colgroup>
                                <tbody>
                                <tr data-cs-name="Certificate status">
                                    <th scope="row">Status</th>
                                    <td>{{ render_status(cert["status"]) }}</td>
                                </tr>
                                <tr data-cs-name="Valid from">
                                    <th scope="row">Valid from</th>
                                    <td>{{ cert["not_valid_before"]|strftime("%d.%m.%Y") }}</td>
                                </tr>
                                {% if cert["not_valid_after"] %}
                                    <tr data-cs-name="Valid until">
                                        <th scope="row">Valid until</th>
                                        <td>{{ cert["not_valid_after"]|strftime("%d.%m.%Y") }}</td>
                                    </tr>
                                {% endif %}
                                <tr data-cs-name="Certification scheme">
                                    <th scope="row">Scheme</th>
                                    <td>{{ country_to_flag(cert["scheme"]) }} {{ cert['scheme'] }}</td>
                                </tr>
                                <tr data-cs-name="Manufacturer">
                                    <th scope="row">Manufacturer</th>
                                    <td>
                                        {% if cert["manufacturer_web"] %}
                                            <a href="{{ cert["manufacturer_web"] }}" target="_blank"
                                               rel="noopener">{{ cert["manufacturer"] }}</a>
                                        {% else %}
                                            {{ cert["manufacturer"] }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr data-cs-name="Category">
                                    <th scope="row">Category</th>
                                    <td>{{ render_category(cert["category"]) }} {{ cert["category"] }}</td>
                                </tr>
                                <tr data-cs-name="Security level">
                                    <th scope="row">Security level</th>
                                    <td>
                                        {% for level in cert["security_level"] %}
                                            {{ render_eal(level) }}{%- if not loop.last -%}, {%- endif -%}
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% if profiles %}
                                    <tr data-cs-name="Protection profiles">
                                        <th scope="row">Protection profiles</th>
                                        <td>
                                            <ul>
                                                {% for id, profile in profiles.items() %}
                                                    <li>
                                                        <a href="{{ url_for("pp.entry", hashid=profile["_id"]) }}">{{ profile["web_data"]["name"] }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if cert["maintenance_updates"] %}
                                    <tr data-cs-name="Maintenance updates">
                                        <th scope="row" rowspan="{{ cert["maintenance_updates"] | length }}">Maintenance
                                            updates
                                        </th>
                                        {% set update = cert["maintenance_updates"].pop() %}
                                        <td>
                                            {{ update["maintenance_title"] }}
                                            ({{ update["maintenance_date"]|strftime("%d.%m.%Y") }})
                                            {% if update["maintenance_report_link"] %}
                                                <a href="{{ update["maintenance_report_link"] }}"
                                                   target="_blank"
                                                   rel="noopener"><i class="fas fa-file-contract"></i>
                                                    Certification
                                                    report</a>
                                            {% endif %}
                                            {% if update["maintenance_st_link"] %}
                                                <a href="{{ update["maintenance_st_link"] }}" target="_blank"
                                                   rel="noopener"><i class="fas fa-file-alt"></i> Security
                                                    target</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% for update in cert["maintenance_updates"] %}
                                        <tr>
                                            <td>
                                                {{ update["maintenance_title"] }}
                                                ({{ update["maintenance_date"]|strftime("%d.%m.%Y") }})
                                                {% if update["maintenance_report_link"] %}
                                                    <a href="{{ update["maintenance_report_link"] }}"
                                                       target="_blank"
                                                       rel="noopener"><i class="fas fa-file-contract"></i>
                                                        Certification
                                                        report</a>
                                                {% endif %}
                                                {% if update["maintenance_st_link"] %}
                                                    <a href="{{ update["maintenance_st_link"] }}" target="_blank"
                                                       rel="noopener"><i class="fas fa-file-alt"></i> Security
                                                        target</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 col-md-6">
                            <h2>Heuristics summary</h2>

                            {% if cert["heuristics"]["cert_id"] %}
                                <div data-cs-name="Certificate ID">
                                    <span class="fw-bold fs-5">Certificate ID:</span> {{ cert["heuristics"]["cert_id"] }}<br/>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row bg-darker-light">
            <div class="col-12 col-sm-10 p-3">
                <div class="mb-5">
                    <div class="mt-5 mb-3">
                        <h2 class="anchor" id="cert-info">Certificate</h2>

                        {{ render_process_state(cert["state"], "cert", "certificate") }}

                        {% if cert["cert_link"] %}
                            <div class="mt-3 mb-3">
                                {{ render_local_cert(hashid, local_files, cert['cert_link'], primary_style="btn-primary", secondary_style="btn-secondary") }}
                            </div>
                        {% endif %}

                        {% if cert["pdf_data"]["cert_keywords"] %}
                            <h3 class="mt-3">Extracted keywords</h3>
                            {{ cryptography_keywords(cert["pdf_data"]["cert_keywords"], "cert") }}
                            {{ device_keywords(cert["pdf_data"]["cert_keywords"], "cert") }}
                            {{ cc_keywords(cert["pdf_data"]["cert_keywords"], "cert", map_funcs={"cc_sar": render_sars,
                                                                                               "cc_sfr": render_sfrs}) }}
                            {{ security_keywords(cert["pdf_data"]["cert_keywords"], "cert") }}
                            {{ other_keywords(cert["pdf_data"]["cert_keywords"], "cert") }}
                        {% endif %}
                        {% if cert["pdf_data"]["cert_metadata"] %}
                            <h3 class="mt-3">File metadata</h3>
                            {{ render_pdf_meta(cert["pdf_data"]["cert_metadata"], "Certificate") }}
                        {% endif %}
                    </div>

                    <div class="mt-5 mb-3">
                        <div id="report-info">
                            <h2 class="anchor">Certification report</h2>
                            {{ render_process_state(cert["state"], "report", "certification report") }}

                            {% if cert["report_link"] %}
                                <div class="mt-3 mb-3">
                                    {{ render_local_report(hashid, local_files, cert['report_link'], primary_style="btn-primary", secondary_style="btn-secondary") }}
                                </div>
                            {% endif %}

                            {% if cert["pdf_data"]["report_keywords"] %}
                                <h4 class="mt-3">Extracted keywords</h4>
                                {{ cryptography_keywords(cert["pdf_data"]["report_keywords"], "report") }}
                                {{ device_keywords(cert["pdf_data"]["report_keywords"], "report") }}
                                {{ cc_keywords(cert["pdf_data"]["report_keywords"], "report", map_funcs={"cc_sar": render_sars,
                                                                                                    "cc_sfr": render_sfrs}) }}
                                {{ security_keywords(cert["pdf_data"]["report_keywords"], "report") }}
                                {{ other_keywords(cert["pdf_data"]["report_keywords"], "report") }}
                            {% endif %}
                            {% if cert["pdf_data"]["report_metadata"] %}
                                <h3 class="mt-3">File metadata</h3>
                                {{ render_pdf_meta(cert["pdf_data"]["report_metadata"], "Certification report") }}
                            {% endif %}

                            {{ render_frontpage(cert, "report_frontpage", "Certification report - Frontpage") }}

                            {{ render_references(network, hashid, "report", render_status) }}
                        </div>
                    </div>

                    <div class="mt-5 mb-3">
                        <div id="st-info">
                            <h2 class="anchor">Security target</h2>

                            {{ render_process_state(cert["state"], "st", "security target") }}


                            {% if cert["st_link"] %}
                                <div class="mt-3 mb-3">
                                    {{ render_local_target(hashid, local_files, cert['st_link'], primary_style="btn-primary", secondary_style="btn-secondary") }}
                                </div>
                            {% endif %}

                            {% if cert["pdf_data"]["st_keywords"] %}
                                <h3 class="mt-3">Extracted keywords</h3>
                                {{ cryptography_keywords(cert["pdf_data"]["st_keywords"], "target") }}
                                {{ device_keywords(cert["pdf_data"]["st_keywords"], "target") }}
                                {{ cc_keywords(cert["pdf_data"]["st_keywords"], "target", map_funcs={"cc_sar": render_sars,
                                                                                                    "cc_sfr": render_sfrs}) }}
                                {{ security_keywords(cert["pdf_data"]["st_keywords"], "target") }}
                                {{ other_keywords(cert["pdf_data"]["st_keywords"], "target") }}
                            {% endif %}
                            {% if cert["pdf_data"]["st_metadata"] %}
                                <h3 class="mt-3">File metadata</h3>
                                {{ render_pdf_meta(cert["pdf_data"]["st_metadata"], "Security target") }}
                            {% endif %}

                            {{ render_references(network, hashid, "st", render_status) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-10 p-3 pt-md-5">
                <div class="mt-3 mb-5" id="heuristics-info">
                    <h2 class="anchor">Heuristics</h2>

                    {% if not cert["heuristics"]["cert_id"] and not cpes and not cves %}
                        <p>No heuristics are available for this certificate.</p>
                    {% endif %}

                    {% if cert["heuristics"]["cert_id"] %}
                        <div data-cs-name="Certificate ID" class="my-3 pt-2">
                            <h4>Certificate ID</h4>
                            {{ cert["heuristics"]["cert_id"] }}
                        </div>
                    {% endif %}

                    {% if cert["heuristics"]["extracted_sars"] %}
                        <div data-cs-name="Extracted SARs" class="my-3 pt-2">
                            <h4>Extracted <abbr title="Security Assurance Components">SARs</abbr></h4>
                            {% for sar in cert["heuristics"]["extracted_sars"]|sort(attribute="family,level") %}
                                {% set sar_name = sar["family"] + "." + sar["level"]|string %}
                                {{ render_sars(sar_name) }}
                                {%- if not loop.last -%}, {%- endif -%}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if cpes %}
                        <div data-cs-name="CPE matches" class="my-3 pt-2">
                            <h4><abbr title="Common Platform Enumeration">CPE</abbr> matches</h4>
                            {{ render_cpes(cert, cpes) }}
                        </div>
                    {% endif %}

                    {% if cves %}
                        <div data-cs-name="Related CVEs" class="my-3 pt-2">
                            <h4 class="anchor" id="cves">Related <abbr
                                    title="Common Vulnerability Enumeration">CVEs</abbr>
                            </h4>
                            {{ render_cves(cves) }}
                        </div>
                    {% endif %}

                    {% if previous or next %}
                        <div data-cs-name="Certificate versions" class="my-3 pt-2">
                            <h4 class="anchor" id="versions">Certificate versions</h4>
                            <table class="table table-striped my-2">
                                <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Certificate ID</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                {% if previous %}
                                    <tr>
                                        <td colspan="3" class="fw-bold">Previous</td>
                                    </tr>
                                {% endif %}
                                {% for other in previous %}
                                    <tr>
                                        <td>
                                            <a href="{{ url_for("cc.entry", hashid=other['_id']) }}">{{ other["name"] }}</a>
                                            {% if other["name"] == cert["name"] and cert["name"] %}
                                                <span class="badge rounded-pill bg-info text-dark"
                                                      title="Certificate name matches exactly."
                                                      data-bs-toggle="tooltip"><i
                                                        class="fas fa-equals"></i></span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ other["heuristics"]["cert_id"] }}
                                            {% if other["heuristics"]["cert_id"] == cert["heuristics"]["cert_id"] and cert["heuristics"]["cert_id"] %}
                                                <span class="badge rounded-pill bg-info text-dark"
                                                      title="Certificate ID matches exactly."
                                                      data-bs-toggle="tooltip"><i
                                                        class="fas fa-equals"></i></span>
                                            {% endif %}
                                        </td>
                                        <td class="text-end">
                                            <a href="{{ url_for("cc.compare", one_hashid=hashid, other_hashid=other["_id"]) }}"
                                               class="btn btn-outline-primary">Compare</a></td>
                                    </tr>
                                {% endfor %}
                                {% if next %}
                                    <tr>
                                        <td colspan="3" class="fw-bold">Next</td>
                                    </tr>
                                {% endif %}
                                {% for other in next %}
                                    <tr>
                                        <td>
                                            <a href="{{ url_for("cc.entry", hashid=other['_id']) }}">{{ other["name"] }}</a>
                                            {% if other["name"] == cert["name"] and cert["name"] %}
                                                <span class="badge rounded-pill bg-info text-dark"
                                                      title="Certificate name matches exactly."
                                                      data-bs-toggle="tooltip"><i
                                                        class="fas fa-equals"></i></span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ other["heuristics"]["cert_id"] }}
                                            {% if other["heuristics"]["cert_id"] == cert["heuristics"]["cert_id"] and cert["heuristics"]["cert_id"] %}
                                                <span class="badge rounded-pill bg-info text-dark"
                                                      title="Certificate ID matches exactly."
                                                      data-bs-toggle="tooltip"><i
                                                        class="fas fa-equals"></i></span>
                                            {% endif %}
                                        </td>
                                        <td class="text-end">
                                            <a href="{{ url_for("cc.compare", one_hashid=hashid, other_hashid=other["_id"]) }}"
                                               class="btn btn-outline-primary">Compare</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% endif %}

                    {% if similar %}
                        <div data-cs-name="Similar certificates" class="my-3 pt-2">
                            <h4 class="anchor" id="similar">Similar certificates</h4>
                            <table class="table table-striped my-2">
                                <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Certificate ID</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                {% for similar_cert in similar %}
                                    <tr {% if similar|length > 5 and loop.index0 >= 5 %}
                                        class="collapse similarity-collapse" {% endif %}>
                                        <td>
                                            <a href="{{ url_for("cc.entry", hashid=similar_cert['_id']) }}">{{ similar_cert["name"] }}</a>
                                            {% if similar_cert["name"] == cert["name"] and cert["name"] %}
                                                <span class="badge rounded-pill bg-info text-dark"
                                                      title="Certificate name matches exactly."
                                                      data-bs-toggle="tooltip"><i
                                                        class="fas fa-equals"></i></span>
                                            {% endif %}
                                            {% if "state" in similar_cert %}
                                                {% if "cert" in similar_cert["state"] and similar_cert["state"]["cert"]["pdf_hash"] == cert["state"]["cert"]["pdf_hash"] and cert["state"]["cert"]["pdf_hash"] %}
                                                    <span class="badge rounded-pill bg-info text-dark"
                                                          title="Certificate PDF file matches exactly."
                                                          data-bs-toggle="tooltip"><i
                                                            class="fas fa-file-alt"></i></span>
                                                {% endif %}
                                                {% if "report" in similar_cert["state"] and similar_cert["state"]["report"]["pdf_hash"] == cert["state"]["report"]["pdf_hash"] and cert["state"]["report"]["pdf_hash"] %}
                                                    <span class="badge rounded-pill bg-info text-dark"
                                                          title="Certification report PDF file matches exactly."
                                                          data-bs-toggle="tooltip"><i
                                                            class="fas fa-file-alt"></i></span>
                                                {% endif %}
                                                {% if "st" in similar_cert["state"] and similar_cert["state"]["st"]["pdf_hash"] == cert["state"]["st"]["pdf_hash"] and cert["state"]["st"]["pdf_hash"] %}
                                                    <span class="badge rounded-pill bg-info text-dark"
                                                          title="Security target PDF file matches exactly."
                                                          data-bs-toggle="tooltip"><i
                                                            class="fas fa-file-alt"></i></span>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ similar_cert["heuristics"]["cert_id"] }}
                                            {% if similar_cert["heuristics"]["cert_id"] == cert["heuristics"]["cert_id"] and cert["heuristics"]["cert_id"] %}
                                                <span class="badge rounded-pill bg-info text-dark"
                                                      title="Certificate ID matches exactly."
                                                      data-bs-toggle="tooltip"><i
                                                        class="fas fa-equals"></i></span>
                                            {% endif %}
                                        </td>
                                        <td class="text-end">
                                            <a href="{{ url_for("cc.compare", one_hashid=hashid, other_hashid=similar_cert["_id"]) }}"
                                               class="btn btn-outline-primary">Compare</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                            {% if similar|length > 5 %}
                                <div id="similarity-toggle" class="d-flex justify-content-center">
                                    <div class="d-inline-flex flex-column">
                                        <span class="text-muted">Showing 5 out of {{ similar|length }}.</span>
                                        <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
                                                data-bs-target=".similarity-collapse" aria-expanded="false"
                                                aria-controls=".similarity-collapse"
                                                onclick="$('#similarity-toggle').toggleClass('d-flex').hide()">Show all
                                        </button>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if "scheme_data" in cert["heuristics"] and cert["heuristics"]["scheme_data"] %}
                        <div data-cs-name="Scheme data" class="my-3">
                            <h4>Scheme data</h4>
                            <table class="table table-sm table-borderless w-auto">
                                <colgroup>
                                    <col style="width: 20%"/>
                                    <col style="width: 20%"/>
                                    <col style="width: 60%"/>
                                </colgroup>
                                <tbody>
                                {% for key, value in cert["heuristics"]["scheme_data"].items() %}
                                    {% set name = key|replace("_", " ")|title %}
                                    {% if key.endswith("link") or key.endswith("url") %}
                                        <tr data-cs-name="Scheme data - {{ name }}">
                                            <th scope="row">{{ name }}</th>
                                            <td colspan="2">
                                                <a href="{{ value }}" target="_blank" rel="noopener">{{ value }}</a>
                                            </td>
                                        </tr>
                                    {% elif key == "enhanced" %}
                                        <tr>
                                            <th rowspan="{{ value|length + 1 }}">{{ name }}</th>
                                        </tr>

                                        {% for k, v in value.items() %}
                                            {% set kname = k|replace("_", " ")|title %}
                                            <tr data-cs-name="Scheme data - Enhanced - {{ kname }}">
                                                <th scope="row">{{ kname }}</th>
                                                <td>
                                                    {% if k.endswith("link") or k.endswith("url") %}
                                                        <a href="{{ v }}" target="_blank" rel="noopener">{{ v }}</a>
                                                    {% else %}
                                                        {% if v is date %}
                                                            {{ v|strftime("%d.%m.%Y") }}
                                                        {% else %}
                                                            {{ v }}
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr data-cs-name="Scheme data - {{ name }}">
                                            <th scope="row">{{ name }}</th>
                                            <td colspan="2">
                                                {% if value is date %}
                                                    {{ value|strftime("%d.%m.%Y") }}
                                                {% else %}
                                                    {{ value }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>

                <div class="mt-5 mb-5" id="reference-graph">
                    <h2 class="anchor">References</h2>
                    {% if not cert["heuristics"]["cert_id"] %}
                        <p>No references are available for this certificate as its ID was not successfully
                            extracted.</p>
                    {% elif not network or network|length <= 1 %}
                        <p>No references are available for this certificate.</p>
                    {% else %}
                        <div class="border rounded">
                            <div id="network"></div>
                            <div id="network-skeleton" class="d-flex justify-content-center align-items-center">
                                <button id="show-network-btn" class="btn btn-primary">Click to load the graph of
                                    references
                                </button>
                                <div id="network-loading" class="d-none spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                        <script type="module">
                            import {createNetwork} from "/static/network.js?{{ static_hash("network.js") }}";

                            async function loadNetwork() {
                                return createNetwork('network',
                                    '{{ url_for(".entry_graph_json", hashid=hashid)}}',
                                    '{{ url_for(".categories") }}',
                                    '{{ url_for(".statuses") }}',
                                    '{{ url_for(".reference_types") }}',
                                    600,
                                    300,
                                    true);
                            }

                            document.getElementById("show-network-btn").onclick = async function () {
                                $("#network-loading").removeClass("d-none").addClass("d-block")
                                $("#show-network-btn").addClass("d-none")
                                await loadNetwork()
                                $("#network-skeleton").remove()
                            };
                        </script>

                    {% endif %}
                </div>

                <div id="updates" class="mt-5 mb-5">
                    <h2 class="anchor">Updates
                        <a role="button" href="{{ url_for('.entry_feed', hashid=hashid) }}"
                           style="vertical-align: middle" tabindex="0"
                           class="btn btn-sm btn-outline-primary float-end"
                           data-bs-toggle="tooltip" data-bs-placement="top"
                           title="ATOM feed"><i class="fas fa-fw fa-feed" aria-hidden="true"></i><span
                                class="visually-hidden">Feed</span></a>
                    </h2>

                    {{ render_updates("certificate", diffs, diff_jsons, diff_renders) }}
                </div>

                <div class="mt-5 mb-5" id="raw-data-head">
                    <h2 class="anchor">Raw data
                        <a role="button" href="{{ url_for('.entry_json', hashid=hashid) }}"
                           style="vertical-align: middle" tabindex="0" class="btn btn-sm btn-outline-primary float-end"
                           title="Download."><i class="fas fa-fw fa-download"></i></a>
                    </h2>
                    <div class="accordion" id="rawDataAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-controls="collapseOne">
                                    Toggle raw data
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse"
                                 data-bs-parent="#rawDataAccordion">
                                <div class="accordion-body">
                                    <pre id="raw-data"><code>{{ json|tojson(indent=2) }}</code></pre>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script type="module">
            import {copyLinkToClipboard} from "/static/clipboard.js?{{ static_hash("clipboard.js") }}";
            // Necessary because of the share buttons.
            $(".copy-on-click").on("click", function (e) {
                e.preventDefault();
                copyLinkToClipboard($(this));
            });

            window.certificate_data = {
                name: "{{ cert["name"]|default("", true) }}",
                hashid: "{{ hashid }}",
                type: "cc",
                url: "{{ url_for("cc.entry", hashid=hashid) }}"
            };
        </script>
        {{ notification_script(csrf_token) }}
    </main>
    {% if config["CHAT_ENABLED"] %}
        {{ chat_modal() }}
    {% endif %}
{% endblock %}

{% block footer %}
    {{ super() }}
    {% if config["CHAT_ENABLED"] %}
        {{ chat_icon() }}
    {% endif %}
{% endblock %}
