{% extends "crowdsourced.html.jinja2" %}
{% set crumbs = True %}
{% set search = True %}
{% from "cc/utils.html.jinja2" import cryptography_keywords, device_keywords, security_keywords, other_keywords, render_status, render_sars, render_sfrs, render_category, render_eal, render_pdf_meta, render_frontpage %}
{% from "common/entry.html.jinja2" import render_local_files, render_cves %}
{% block title %}
    <title>
        {{ cert["name"]|default("", true) + " | seccerts.org" }}
    </title>
{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for("static", filename="network.js") }}"></script>
{% endblock %}
{% block metadata %}
    <meta property="twitter:card" content="summary"/>
    <meta property="twitter:site" content="@CRoCS_MUNI"/>
    <meta property="twitter:title" content="{{ cert["name"]|default("seccerts.org", true) }}"/>
    <meta property="twitter:image" content="{{ url_for("static", filename="img/cc_card.png", _external=True) }}"/>
    <meta property="twitter:description" content="Common Criteria certificate {{ cert["name"]|default("", true) }}"/>
    <meta property="og:title" content="{{ cert["name"]|default("seccerts.org", true) }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ url_for(".entry", hashid=hashid, _external=True) }}"/>
    <meta property="og:image" content="{{ url_for("static", filename="img/cc_card.png", _external=True) }}"/>
    <meta property="og:description" content="Common Criteria certificate {{ cert["name"]|default("", true) }}"/>
    <meta property="og:site_name" content="seccerts.org"/>
{% endblock %}
{% block navbar %}
    {{ super() }}
    <li class="nav-item">
        <a class="nav-link" href="#csv-info">CSV</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#report-info">Report</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#st-info">Security target</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#heuristics-info">Heuristics</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#reference-graph">References</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#updates">Updates</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#raw-data-head">Raw data</a>
    </li>
{% endblock %}
{% block content %}
    <main>
        <div class="col-10 mx-auto p-3 py-md-5">
            <div class="alert alert-warning d-sm-none" role="alert">
                <i class="fas fa-exclamation-triangle"></i> This page was not yet optimized for use on mobile devices.
            </div>
            <div>
                <h1>{{ cert["name"]|default("", true) }}</h1>

                {% if cves %}
                    <div class="alert alert-warning mt-4">
                        <i class="fas fa-exclamation-triangle"></i>
                        This certificate has known related <a href="#cves" class="alert-link">CVEs</a>, which means that
                        the certified
                        product might be vulnerable.
                    </div>
                {% endif %}

                <div class="row pt-5">
                    <div class="col-12 col-md-6">
                        <h2 class="anchor" id="csv-info">CSV information
                            <span style="font-size: 0.5em; vertical-align: middle" tabindex="0"
                                  class="badge bg-secondary"
                                  data-bs-toggle="tooltip" data-bs-placement="top"
                                  title="Information extracted from the CSV certificate database provided by the Common Criteria portal.">?</span>
                        </h2>
                        <table class="table table-sm table-borderless w-auto">
                            <colgroup>
                                <col style="width: 30%"/>
                                <col style="width: 70%"/>
                            </colgroup>
                            <tbody>
                            <tr data-cs-name="Certificate status">
                                <th scope="row">Status</th>
                                <td>{{ render_status(cert["status"]) }}</td>
                            </tr>
                            <tr data-cs-name="Valid from">
                                <th scope="row">Valid from</th>
                                <td>{{ cert["not_valid_before"]|strftime("%d.%m.%Y") }}</td>
                            </tr>
                            {% if cert["not_valid_after"] %}
                                <tr data-cs-name="Valid until">
                                    <th scope="row">Valid until</th>
                                    <td>{{ cert["not_valid_after"]|strftime("%d.%m.%Y") }}</td>
                                </tr>
                            {% endif %}
                            <tr data-cs-name="Certification scheme">
                                <th scope="row">Scheme</th>
                                <td>{{ country_to_flag(cert["scheme"]) }} {{ cert['scheme'] }}</td>
                            </tr>
                            <tr data-cs-name="Manufacturer">
                                <th scope="row">Manufacturer</th>
                                <td>
                                    {% if cert["manufacturer_web"] %}
                                        <a href="{{ cert["manufacturer_web"] }}" target="_blank"
                                           rel="noopener">{{ cert["manufacturer"] }}</a>
                                    {% else %}
                                        {{ cert["manufacturer"] }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr data-cs-name="Category">
                                <th scope="row">Category</th>
                                <td>{{ render_category(cert["category"]) }} {{ cert["category"] }}</td>
                            </tr>
                            <tr data-cs-name="Security level">
                                <th scope="row">Security level</th>
                                <td>
                                    {% for level in cert["security_level"] %}
                                        {{ render_eal(level) }}{%- if not loop.last -%}, {%- endif -%}
                                    {% endfor %}
                                </td>
                            </tr>
                            {% if profiles %}
                                <tr data-cs-name="Security level">
                                    <th scope="row">Protection profiles</th>
                                    <td>
                                        <ul>
                                            {% for ids, profile in profiles.items() %}
                                                <li>
                                                    <a href="{{ url_for("pp.entry", hashid=profile["_id"]) }}">{{ ", ".join(ids) }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                            {% endif %}
                            {% if cert["maintenance_updates"] %}
                                <tr data-cs-name="Maintenance updates">
                                    <th scope="row" rowspan="{{ cert["maintenance_updates"] | length }}">Maintenance
                                        updates
                                    </th>
                                    {% set update = cert["maintenance_updates"].pop() %}
                                    <td>
                                        {{ update["maintenance_title"] }}
                                        ({{ update["maintenance_date"]|strftime("%d.%m.%Y") }})
                                        {% if update["maintenance_report_link"] %}
                                            <a href="{{ update["maintenance_report_link"] }}"
                                               target="_blank"
                                               rel="noopener"><i class="fas fa-file-contract"></i>
                                                Certification
                                                report</a>
                                        {% endif %}
                                        {% if update["maintenance_st_link"] %}
                                            <a href="{{ update["maintenance_st_link"] }}" target="_blank"
                                               rel="noopener"><i class="fas fa-file-alt"></i> Security
                                                target</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% for update in cert["maintenance_updates"] %}
                                    <tr>
                                        <td>
                                            {{ update["maintenance_title"] }}
                                            ({{ update["maintenance_date"]|strftime("%d.%m.%Y") }})
                                            {% if update["maintenance_report_link"] %}
                                                <a href="{{ update["maintenance_report_link"] }}"
                                                   target="_blank"
                                                   rel="noopener"><i class="fas fa-file-contract"></i>
                                                    Certification
                                                    report</a>
                                            {% endif %}
                                            {% if update["maintenance_st_link"] %}
                                                <a href="{{ update["maintenance_st_link"] }}" target="_blank"
                                                   rel="noopener"><i class="fas fa-file-alt"></i> Security
                                                    target</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>

                        {% if cert["cert_link"] %}
                            <div class="mt-2 mb-2">
                                {{ render_local_files(hashid, local_files, cert['cert_link'], None, None) }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-6">
                        <h2>Heuristics summary
                            <span style="font-size: 0.5em; vertical-align: middle" tabindex="0"
                                  class="badge bg-secondary"
                                  data-bs-toggle="tooltip" data-bs-placement="top"
                                  title="Information automatically extracted from the certificate and security target documents. Might contain errors.">?</span>
                        </h2>

                        {% if cert["heuristics"]["cert_id"] %}
                            <div data-cs-name="Certificate ID">
                                Certificate ID: <span
                                    class="fw-bold fs-5">{{ cert["heuristics"]["cert_id"] }}</span><br/>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {#  heeeere #}
        <div class="row bg-dark p-3">
            <div class="col-10 mx-auto p-3 py-md-5 text-light">
                <div class="mb-5">
                    <h2 class="anchor" id="report-info">Certification report
                        <span style="font-size: 0.5em; vertical-align: middle" tabindex="0"
                              class="badge bg-secondary"
                              data-bs-toggle="tooltip" data-bs-placement="top"
                              title="Information automatically extracted from the certificate report. Might contain errors.">?</span>
                        {% if cert["report_link"] and False %}
                            <a role="button" href="{{ cert['report_link'] }}"
                               style="font-size: 0.4em; vertical-align: middle" tabindex="0" class="btn btn-primary"
                               data-bs-toggle="tooltip" data-bs-placement="top" title="Download."><i
                                    class="fas fa-fw fa-download"></i></a>
                        {% endif %}
                        <span style="font-size: 0.5em; vertical-align: middle" tabindex="0"
                              class="badge rounded-pill {% if cert["state"]["report_download_ok"] %}bg-success{% else %}bg-warning{% endif %}"
                              data-bs-toggle="tooltip" data-bs-placement="top"
                              title="{% if cert["state"]["report_download_ok"] %}Certification report was downloaded successfully.{% else %}Certification report download failed, it is probably unavailable.{% endif %}">
                                <i class="fas fa-download"></i>
                        </span>
                        <span style="font-size: 0.5em; vertical-align: middle" tabindex="0"
                              class="badge rounded-pill {% if cert["state"]["report_convert_ok"] %}bg-success{% else %}bg-warning{% endif %}"
                              data-bs-toggle="tooltip" data-bs-placement="top"
                              title="{% if cert["state"]["report_convert_ok"] %}Certification report was successfully converted from PDF to text.{% else %}Certification report conversion to text failed, probably due to malformed or unavailable PDF.{% endif %}">
                                <i class="fas fa-file-import"></i>
                        </span>
                        <span style="font-size: 0.5em; vertical-align: middle" tabindex="0"
                              class="badge rounded-pill {% if cert["state"]["report_extract_ok"] %}bg-success{% else %}bg-warning{% endif %}"
                              data-bs-toggle="tooltip" data-bs-placement="top"
                              title="{% if cert["state"]["report_extract_ok"] %}Keywords and metadata were successfully extracted from the certification report text.{% else %}Keyword or metadata extraction from certification report text failed.{% endif %}">
                                <i class="fas fa-spell-check"></i>
                        </span>
                    </h2>
                    <div class="mt-3 mb-3">
                        {{ render_local_files(hashid, local_files, None, cert['report_link'], None, primary_style="btn-primary", secondary_style="btn-secondary") }}
                    </div>

                    {% if cert["pdf_data"]["report_keywords"] %}
                        <h3 class="mt-3">Extracted keywords</h3>
                        {{ cryptography_keywords(cert["pdf_data"]["report_keywords"], "cert") }}
                        {{ device_keywords(cert["pdf_data"]["report_keywords"], "cert") }}
                        {{ security_keywords(cert["pdf_data"]["report_keywords"], "cert", hidden=["rules_security_level"], map_funcs={"rules_security_assurance_components": render_sars,
                                                                                                        "rules_security_functional_components": render_sfrs}) }}
                        {{ other_keywords(cert["pdf_data"]["report_keywords"], "cert") }}
                    {% endif %}
                    {% if cert["pdf_data"]["report_metadata"] %}
                        <h3 class="mt-3">File metadata</h3>
                        {{ render_pdf_meta(cert["pdf_data"]["report_metadata"], "Certification report") }}
                    {% endif %}

                    {{ render_frontpage(cert, "report_frontpage", "Certification report - Frontpage") }}

                    <h3 class="mt-3">References</h3>
                    <p>This certificate's report directly references
                        {{ cert["heuristics"]["report_references"]["directly_referencing"]|default("", true)|length }} certificates,
                        transitively this expands into {{ cert["heuristics"]["report_references"]["indirectly_referencing"]|default("", true)|length }} certificates.</p>
                </div>

                <div class="mt-5 mb-3">
                    <h2 class="anchor" id="st-info">Security target
                        <span style="font-size: 0.5em; vertical-align: middle" tabindex="0"
                              class="badge bg-secondary"
                              data-bs-toggle="tooltip" data-bs-placement="top"
                              title="Information automatically extracted from the security target. Might contain errors.">?</span>
                        {% if cert["st_link"] and False %}
                            <a role="button" href="{{ cert['st_link'] }}"
                               style="font-size: 0.4em; vertical-align: middle" tabindex="0" class="btn btn-primary"
                               data-bs-toggle="tooltip" data-bs-placement="top" title="Download."><i
                                    class="fas fa-fw fa-download"></i></a>
                        {% endif %}
                        <span style="font-size: 0.5em; vertical-align: middle" tabindex="0"
                              class="badge rounded-pill {% if cert["state"]["st_download_ok"] %}bg-success{% else %}bg-warning{% endif %}"
                              data-bs-toggle="tooltip" data-bs-placement="top"
                              title="{% if cert["state"]["st_download_ok"] %}Security target was downloaded successfully.{% else %}Security target download failed, it is probably unavailable.{% endif %}">
                                <i class="fas fa-download"></i>
                        </span>
                        <span style="font-size: 0.5em; vertical-align: middle" tabindex="0"
                              class="badge rounded-pill {% if cert["state"]["st_convert_ok"] %}bg-success{% else %}bg-warning{% endif %}"
                              data-bs-toggle="tooltip" data-bs-placement="top"
                              title="{% if cert["state"]["st_convert_ok"] %}Security target was successfully converted from PDF to text.{% else %}Security target conversion to text failed, probably due to malformed or unavailable PDF.{% endif %}">
                                <i class="fas fa-file-import"></i>
                        </span>
                        <span style="font-size: 0.5em; vertical-align: middle" tabindex="0"
                              class="badge rounded-pill {% if cert["state"]["st_extract_ok"] %}bg-success{% else %}bg-warning{% endif %}"
                              data-bs-toggle="tooltip" data-bs-placement="top"
                              title="{% if cert["state"]["st_extract_ok"] %}Keywords and metadata were successfully extracted from the security target text.{% else %}Keyword or metadata extraction from security target text failed.{% endif %}">
                                <i class="fas fa-spell-check"></i>
                        </span>
                    </h2>

                    <div class="mt-3 mb-3">
                        {{ render_local_files(hashid, local_files, None, None, cert['st_link'], primary_style="btn-primary", secondary_style="btn-secondary") }}
                    </div>

                    {% if cert["pdf_data"]["st_keywords"] %}
                        <h3 class="mt-3">Extracted keywords</h3>
                        {{ cryptography_keywords(cert["pdf_data"]["st_keywords"], "target") }}
                        {{ device_keywords(cert["pdf_data"]["st_keywords"], "target") }}
                        {{ security_keywords(cert["pdf_data"]["st_keywords"], "target", map_funcs={"rules_security_assurance_components": render_sars,
                                                                                 "rules_security_functional_components": render_sfrs}) }}
                        {{ other_keywords(cert["pdf_data"]["st_keywords"], "target") }}
                    {% endif %}
                    {% if cert["pdf_data"]["st_metadata"] %}
                        <h3 class="mt-3">File metadata</h3>
                        {{ render_pdf_meta(cert["pdf_data"]["st_metadata"], "Security target") }}
                    {% endif %}

                    {{ render_frontpage(cert, "st_frontpage", "Security target - Frontpage") }}

                    <h3 class="mt-3">References</h3>
                    <p>This certificate's security target directly references
                        {{ cert["heuristics"]["st_references"]["directly_referencing"]|default("", true)|length }} certificates,
                        transitively this expands into {{ cert["heuristics"]["st_references"]["indirectly_referencing"]|default("", true)|length }} certificates.</p>
                </div>
            </div>
        </div>

        <div class="col-10 mx-auto p-3 py-md-5">
            <div class="mt-3 mb-5">
                <h2 class="anchor" id="heuristics-info">Heuristics
                    <span style="font-size: 0.5em; vertical-align: middle" tabindex="0" class="badge bg-secondary"
                          data-bs-toggle="tooltip" data-bs-placement="top"
                          title="Information automatically extracted from the certificate and security target documents. Might contain errors.">?</span>
                </h2>
                {% if not cert["heuristics"]["cert_id"] and not cpes and not cves %}
                    <p>No heuristics are available for this certificate.</p>
                {% endif %}
                {% if cert["heuristics"]["cert_id"] %}
                    <div data-cs-name="Certificate ID">
                        Certificate ID: <span
                            class="fw-bold fs-5">{{ cert["heuristics"]["cert_id"] }}</span><br/>
                    </div>
                {% endif %}
                {% if cpes %}
                    <div data-cs-name="CPE matches">
                        <h3><abbr title="Common Platform Enumeration">CPE</abbr> matches</h3>
                        <ul>
                            {% for cpe in cpes %}
                                <li>{{ cpe["uri"] }}
                                    {% if cert["heuristics"]["verified_cpe_matches"] and cpe["uri"] in cert["heuristics"]["verified_cpe_matches"] %}
                                        <i class="fas fa-check-square text-success" title="Verified"></i>{% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if cves %}
                    <div data-cs-name="Related CVEs">
                        <h3 class="anchor" id="cves">Related <abbr title="Common Vulnerability Enumeration">CVEs</abbr>
                        </h3>
                        {{ render_cves(cves) }}
                    </div>
                {% endif %}
            </div>

            <div class="mt-5 mb-5">
                <h2 class="anchor" id="reference-graph">References
                    <span style="font-size: 0.5em; vertical-align: middle" tabindex="0" class="badge bg-secondary"
                          data-bs-toggle="tooltip" data-bs-placement="top"
                          title="Information automatically extracted from the certificate and security target documents. Might contain errors.">?</span>
                </h2>
                {% if cert["heuristics"]["cert_id"] %}
                    <div class="border">
                        <div id="network"></div>
                    </div>
                    <script>
                        let network = createNetwork('network',
                            '{{ url_for(".entry_graph_json", hashid=hashid)}}',
                            '{{ url_for(".categories") }}',
                            '{{ url_for(".statuses") }}',
                            ['{{ hashid }}'],
                            600,
                            300);
                    </script>
                {% else %}
                    <p>No references are available for this certificate as its ID was not successfully extracted.</p>
                {% endif %}
            </div>

            <div class="mt-5 mb-5">
                <h2 class="anchor" id="updates">Updates
                    <span style="font-size: 0.5em; vertical-align: middle" tabindex="0" class="badge bg-secondary"
                          data-bs-toggle="tooltip" data-bs-placement="top"
                          title="Information on how the certificate data changed over time, either due to the changes in our extraction technique or due to actual changes.">?</span>
                </h2>
                <ul>
                    {% for diff, json_diff, diff_render in zip(diffs, diff_jsons, diff_renders) %}
                        <li id="diff-{{ diff["_id"] }}">
                            {% if diff["type"] == "new" %}
                                {{ diff["timestamp"] | strftime("%d.%m.%Y") }} The certificate was first processed.
                            {% elif diff["type"] == "change" %}
                                {{ diff["timestamp"] | strftime("%d.%m.%Y") }} The certificate data changed.
                            {% elif diff["type"] == "remove" %}
                                {{ diff["timestamp"] | strftime("%d.%m.%Y") }} The certificate became unavailable,
                                either the certification report or the security target was unavailable during
                                processing.
                            {% elif diff["type"] == "back" %}
                                {{ diff["timestamp"] | strftime("%d.%m.%Y") }} The certificate became available
                                again.
                            {% endif %}
                            {% if true %} {# is_admin() #}
                                <button type="button" data-bs-toggle="collapse"
                                        data-bs-target="#diff-data{{ loop.index }}"
                                        tabindex="0"
                                        class="btn btn-outline-primary btn-sm"
                                        title="Toggle."><i class="fas fa-fw fa-plus"></i> Show diff
                                </button>
                                <div id="diff-data{{ loop.index }}" class="collapse py-3">
                                {{ diff_render|safe }}
                                </div>
                                {# <pre id="diff-data{{ loop.index }}"
                                     class="listing collapse mt-3"><code>{{ json_diff|tojson(indent=2) }}</code></pre>
                                #}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="mt-5 mb-5">
                <h2 class="anchor" id="raw-data-head">Raw data
                    <button id="raw-data-button" type="button" data-bs-toggle="collapse" data-bs-target="#raw-data"
                            style="font-size: 0.4em; vertical-align: middle" tabindex="0" class="btn btn-primary"
                            title="Toggle."><i class="fas fa-fw fa-plus"></i></button>
                    <a role="button" href="{{ url_for('.entry_json', hashid=hashid) }}"
                       style="font-size: 0.4em; vertical-align: middle" tabindex="0" class="btn btn-primary"
                       title="Download."><i class="fas fa-fw fa-download"></i></a></h2>
                <pre id="raw-data" class="listing collapse mt-3"><code>{{ json|tojson(indent=2) }}</code></pre>
            </div>
            <script>
                let certificate_data = {
                    name: "{{ cert["name"]|default("", true) }}",
                    hashid: "{{ hashid }}",
                    type: "cc",
                    url: "{{ url_for("cc.entry", hashid=hashid) }}"
                };
                $(function () {
                    let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                    tooltipTriggerList.map(function (tooltipTriggerEl) {
                        return new bootstrap.Tooltip(tooltipTriggerEl)
                    })
                    new bootstrap.Tooltip($("#raw-data-button").get(0));
                });
                $('#raw-data').on('show.bs.collapse', function () {
                    $("#raw-data-button i").toggleClass("fa-plus").toggleClass("fa-minus");
                });
                $('#raw-data').on('hide.bs.collapse', function () {
                    $("#raw-data-button i").toggleClass("fa-plus").toggleClass("fa-minus");
                });
            </script>
        </div>
    </main>
{% endblock %}