To receive notifications from sec-certs.org you need to confirm
your email address by clicking the following link:

  {{ url_for("notify.confirm", token=token) }}

If you do not confirm this request within 7 days it will be deleted along with your email address.

If you have already confirmed the request and want to unsubscribe you can do so at:

  {{ url_for("notify.unsubscribe", token=token) }}

To manage your confirmed subscriptions visit:

  {{ url_for("notify.manage", email_token=email_token) }}
