<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{ subject }}</title>
</head>
<body>
{% if changes %}
    There were changes in the certificates you are subscribed to.
{% endif %}
{% if new %}
    New certificates appeared.
{% endif %}

<div class="col-10 mx-auto p-3 py-md-5">
    {% for card in cards %}
        {{ card|safe }}
    {% endfor %}
</div>

<footer>
    <hr/>
    <p>
        To unsubscribe from all notifications
        <a href="{{ url_for("notify.unsubscribe_all") }}">click here</a>.
    </p>
    <p>
        To manage notification subscriptions
        <a href="{{ url_for("notify.manage") }}">click here</a>.
    </p>
</footer>
</body>
</html>