<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
There were changes in the certificates you are subscribed to.

<div class="col-10 mx-auto p-3 py-md-5">
    {% for card in cards %}
        {{ card|safe }}
    {% endfor %}
</div>

<footer>
    <hr/>
    <p>
        To unsubscribe from all notifications
        <a href="{{ url_for("notify.unsubscribe_all", email_token=email_token) }}">click here</a>.
    </p>
    <p>
        To manage notification subscriptions
        <a href="{{ url_for("notify.manage", email_token=email_token) }}">click here</a>.
    </p>
</footer>
</body>
</html>