<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
TODO: there were changes...

<div class="col-10 mx-auto p-3 py-md-5">
    {% for card in cards %}
        {{ card|safe }}
    {% endfor %}
</div>

TODO: Unsub link
</body>
</html>