<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
    To unsubscribe from all notifications
    <a href="{{ url_for("notify.unsubscribe_all", email_token=email_token) }}">click here</a>.
</p>
<p>
    To manage notification subscriptions
    <a href="{{ url_for("notify.manage", email_token=email_token) }}">click here</a>.
</p>
</body>
</html>