{% extends "common/base.html.jinja2" %}
{% set breadcrumb_title = True %}
{% set canonical = True %}
{% from "include/entry.html.jinja2" import updates_card, raw_data_card %}
{% from "include/utils.html.jinja2" import notification_script %}
{% from "include/modals.html.jinja2" import chat_modal with context %}
{% set chat_documents = [
    {"value": "report", "label": "Certification report", "available": local_files.get(("report", "txt"), false)},
    {"value": "target", "label": "Security target", "available": local_files.get(("target", "txt"), false)},
] %}

{% block metadata %}
    <meta property="description" content="EUCC certificate {{ cert["name"]|default("", true) }}"/>
    <meta property="twitter:card" content="summary"/>
    <meta property="twitter:site" content="@CRoCS_MUNI"/>
    <meta property="twitter:title" content="{{ cert["name"]|default("sec-certs.org", true) }}"/>
    <meta property="twitter:image" content="{{ url_for("static", filename="img/eucc_card.png", _external=True) }}"/>
    <meta property="twitter:description" content="EUCC certificate {{ cert["name"]|default("", true) }}"/>
    <meta property="og:title" content="{{ cert["name"]|default("sec-certs.org", true) }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ url_for(".entry", hashid=hashid, _external=True) }}"/>
    <meta property="og:image" content="{{ url_for("static", filename="img/eucc_card.png", _external=True) }}"/>
    <meta property="og:description" content="EUCC certificate {{ cert["name"]|default("", true) }}"/>
    <meta property="og:site_name" content="sec-certs.org"/>
    <meta name="description" content="EUCC certificate {{ cert["name"]|default("", true) }}"/>
{% endblock %}

{% block left_navigation %}
    <div id="left-navigation" class="d-none d-md-block list-group list-group-flush list-group-numbered">
        <h4>Sections</h4>
        <a class="list-group-item list-group-item-action rounded" href="#webpage-info">Certificate details</a>
        <a class="list-group-item list-group-item-action rounded" href="#cert-info">Certificate</a>
        <a class="list-group-item list-group-item-action rounded" href="#report-info">Certification report</a>
        <a class="list-group-item list-group-item-action rounded" href="#st-info">Security target</a>
        <a class="list-group-item list-group-item-action rounded" href="#heuristics-info">Automated analysis</a>
        <a class="list-group-item list-group-item-action rounded" href="#updates">Processing updates</a>
        <a class="list-group-item list-group-item-action rounded" href="#raw-data-head">Raw data</a>
    </div>
{% endblock %}

{% block content %}
    <main tabindex="0" class="shifted-section">

        {% include 'eucc/entry/components/header.html.jinja2' %}

        {% include 'eucc/entry/components/webpage_info.html.jinja2' %}

        {% include 'eucc/entry/components/certificate_doc.html.jinja2' %}

        {% include 'eucc/entry/components/cert_report_doc.html.jinja2' %}

        {% include 'eucc/entry/components/security_target_doc.html.jinja2' %}

        {% include 'eucc/entry/components/heuristics.html.jinja2' %}

        {{ updates_card(hashid, "certificate", diffs, diff_jsons, diff_renders) }}

        {{ raw_data_card(hashid, json) }}

        <script type="module">
            import {copyLinkToClipboard} from "/static/clipboard.js?{{ static_hash("clipboard.js") }}";
            import {initSectionNav} from "/static/section_nav.js?{{ static_hash("section_nav.js") }}";
            initSectionNav();
            // Necessary because of the share buttons.
            $(".copy-on-click").on("click", function (e) {
                e.preventDefault();
                copyLinkToClipboard($(this));
            });
            window.certificate_data = {
                name: "{{ cert["name"]|default("", true) }}",
                hashid: "{{ hashid }}",
                type: "eucc",
                url: "{{ url_for("eucc.entry", hashid=hashid) }}"
            };
        </script>
        {{ notification_script(csrf_token) }}
    </main>

    {% if config["CHAT_ENABLED"] %}
        {{ chat_modal(chat_documents) }}
    {% endif %}
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
