{% extends "base.html.jinja2" %}
{% set active_page = "fips" %}
{% block content %}
    <h1 class="mb-4">FIPS 140</h1>
    <div class="row">
        <div class="col-sm-6">
            <p class="lead">There is no content here, but we are working on it.</p>
        </div>
    </div>
{% endblock %}
