{% extends "base.html.jinja2" %}
{% from "fips/utils.html.jinja2" import render_status, render_type %}
{% block content %}
	<h1>FIPS 140</h1>
	<p class="lead">This page provides a listing of FIPS 140 certificates.</p>
	<div class="mt-4 mb-4">
		{{ pagination.links }}
	</div>
	<table class="border mb-4">
		<col style="width: 3%">
		<col style="width:67%">
		<col style="width:10%">
		<col style="width:5%">
		<col style="width:15%">
		<thead>
			<tr class="border-bottom">
				<th class="pl-1">ID</th>
				<th>Name</th>
				<th>Status</th>
				<th>Level</th>
				<th>Vendor</th>
			</tr>
		</thead>
	{% for id, name, hashid, status, level, vendor, type in certs %}
		<tr>
		<td class="pl-1">#{{ id }}</td>
		<td>{{ render_type(type) }}&nbsp;<a href="{{ url_for('.entry', hashid=hashid) }}">{{ name }}</a></td>
		<td>{{ render_status(status) }}</td>
		<td>{{ level }}</td>
		<td>{{ vendor }}</td>
		</tr>
	{% endfor %}
	</table>
	<div class="mb-4">
		{{ pagination.links }}
	</div>
{% endblock %}