{% extends "base.html.jinja2" %}
{% set active_page = "fips" %}
{% from "fips/utils.html.jinja2" import render_status, render_type %}
{% block content %}
    <h1>FIPS 140</h1>

    <div class="row">
        <div class="col-sm-6">
            <p class="lead">This page focuses on FIPS 140 certificates.</p>

            <p></p>
        </div>
    </div>
{% endblock %}