{% extends "base.html.jinja2" %}
{% set active_page = "fips" %}
{% from "utils.html.jinja2" import render_network %}
{% block content %}
    <h1 class="mb-4">FIPS 140</h1>
    <div class="border">
    {{ render_network(url, url_for(".types")) }}
    </div>
{% endblock %}
