{% extends "common/base.html.jinja2" %}
{% from "common/library-info.html.jinja2" import render_library_info %}
{% set crumbs = False %}
{% set canonical = True %}
{% block title %}
    <title>FIPS 140 | sec-certs.org</title>
{% endblock %}

{% block content %}
    <main>
        <div class="col-12 col-sm-10 mx-auto">
            <div class="row p-3 py-md-5">
                <div class="col-12">
                    <h1 class="anchor" id="data">Data</h1>
                    <p>
                        The full and up-to-date dataset used on this site can be downloaded here. It is updated weekly
                        and all the pages and data on this site are extracted from it. It is a JSON file as produced
                        by the <code>sec-certs fips</code> command from the tool. Documentation for the tool,
                        including a quick-start guide, can be found
                        <a href="{{ url_for("docs.serve_docs", path="index.html") }}">here</a>.
                    </p>
                    {% if last_ok_run %}
                        <p>
                            The dataset was last successfully updated
                            at {{ last_ok_run["start_time"] | strftime("%H:%M on %d.%m.%Y") }}
                            using version <span class="font-monospace">{{ last_ok_run["tool_version"] }}</span> of the
                            sec-certs tool
                            and it contains {{ last_ok_run["length"] }} certificates.
                        </p>
                    {% endif %}
                    <table class="align-middle table table-borderless">
                        <tr>
                            <td>
                                <a href="{{ url_for(".dataset") }}" role="button" class="btn btn-primary w-100"><i
                                        class="fas fa-file-alt"></i>
                                    Main dataset</a>
                            </td>
                            <td>
                                The main dataset is a JSON file with data on the certificates extracted from the certification artifacts (i.e. PDFs). It does not contain the files themselves.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ url_for(".dataset_archive") }}" role="button" class="btn btn-primary w-100">
                                    <i class="fas fa-file-archive"></i> Full datasset
                                </a>
                            </td>
                            <td>
                                The full dataset contains the dataset mentioned above as well as the certification
                                artifacts themselves (i.e. PDFs). It is a gzip-compressed tar archive.
                                Download this if you want to do your own processing on top of the data provided by our
                                tooling.
                            </td>
                        </tr>
                    </table>
                    {{ render_library_info() }}
                </div>
            </div>
            <div class="row p-3 py-md-5">
                <h2>Data sources</h2>
                <p>
                    We are getting information from the following data sources:
                </p>
                <ul style="list-style-position: inside;">
                	<li>
                		The <a href="https://csrc.nist.gov/Projects/cryptographic-module-validation-program/validated-modules/search" target="_blank" rel="noopener">NIST CMVP</a> site
                		which we scrape for a list of certified products. We also download and process the certificate and security policy PDFs.
                		We run a caching proxy to minimize the load on the NIST CMVP site and disperse it over time by keeping the cache hot.
                	</li>
                	<li>
                		The NIST CMVP <a href="https://csrc.nist.gov/Projects/cryptographic-module-validation-program/modules-in-process/modules-in-process-list" target="_blank" rel="noopener">Modules In Process</a> site
                		which we scrape for a list of modules in the process of certification.
                	</li>
                	<li>
                		The NIST CMVP <a href="https://csrc.nist.gov/Projects/cryptographic-module-validation-program/modules-in-process/iut-list" target="_blank" rel="noopener">Implementations Under Test</a> site
                		which we scrape for a list of modules under test.
                	</li>
                	
                </ul>
            </div>
        </div>
    </main>
{% endblock %}

