{% extends "common/base.html.jinja2" %}
{% set crumbs = False %}
{% set search = False %}
{% set canonical = True %}
{% block title %}
    <title>FIPS 140 | sec-certs.org</title>
{% endblock %}

{% block content %}
    <main>
       This is new FIPS 140 data page.
    </main>
{% endblock %}

