{% extends "base.html.jinja2" %}
{% set crumbs = True %}
{% set search = True %}
{% from "fips/utils.html.jinja2" import render_status, cryptography_keywords, device_keywords, security_keywords, other_keywords, render_type %}
{% from "utils.html.jinja2" import render_network %}
{% block title %}
    <title>
    {{ cert["web_scan"]["module_name"]|default("") + " | seccerts.org" }}
    </title>
{% endblock %}
{% block navbar %}
    {{ super() }}
    <li class="nav-item">
        <a class="nav-link" href="#web-info">Webpage</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#doc-info">Document</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#reference-graph">References</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#raw-data-head">Raw data</a>
    </li>
{% endblock %}
{% block content %}
    <main>
        <div class="col-10 mx-auto p-3 py-md-5">
        <div class="alert alert-warning d-sm-none" role="alert">
                  <i class="fas fa-exclamation-triangle"></i> This page was not yet optimized for use on mobile devices.
            </div>
	<h1>{{ cert["web_scan"]["module_name"]|default("") }}</h1>
    {# <br/> #}
    <h2>Certificate #{{ cert["cert_id"] }}</h2>
    {% if "web_scan" in cert %}
        <div class="mt-5 mb-5">
            <h2 id="web-info" class="anchor">Webpage information
            <span style="font-size: 0.5em; vertical-align: middle" tabindex="0" class="badge bg-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Information extracted from the NIST CMVP web page of the certificate.">?</span></h2>
            <b>Status:</b> {{ render_status(cert["web_scan"]["status"]) }}<br/>
            {% if cert["web_scan"]["historical_reason"] %}
                <b>Historical reason:</b> {{ cert["web_scan"]["historical_reason"] }}<br/>
            {% endif %}
            <b>Validation dates:</b> {% for date in cert["web_scan"]["date_validation"] %}{{ date|strptime("%Y-%m-%d")|strftime("%d.%m.%Y") }}{{ ", " if not loop.last else "" }}{% endfor %}<br/>
            {% if cert["web_scan"]["date_sunset"] %}
                <b>Sunset date:</b>
                {{ cert["web_scan"]["date_sunset"]|strptime("%Y-%m-%d")|strftime("%d-%m-%Y") }}<br/>
            {% endif %}
            <b>Standard:</b> {{ cert["web_scan"]["standard"] }}<br/>
            <b>Security level:</b> {{ cert["web_scan"]["level"] }}<br/>
            <b>Type:</b> {{ render_type(cert["web_scan"]["module_type"]) }} {{ cert["web_scan"]["module_type"] }}<br/>
            <b>Embodiment:</b> {{ cert["web_scan"]["embodiment"] }}<br/>
            {% if cert["web_scan"]["caveat"] %}
                <b>Caveat:</b>
                {{ cert["web_scan"]["caveat"] }}
                <br/>
            {% endif %}
            {% if cert["web_scan"]["exceptions"] %}
                <b>Exceptions:</b>
                <ul>
                    {% for exceptioon in cert["web_scan"]["exceptions"] %}
                    <li>{{ exceptioon }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if cert["web_scan"]["description"] %}
                <b>Description:</b>
                {{ cert["web_scan"]["description"] }}
                <br/>
            {% endif %}
            {% if cert["web_scan"]["hw_versions"] %}
                <b>Version (Hardware):</b>
                {{ cert["web_scan"]["hw_versions"] }}
                <br/>
            {% endif %}
            {% if cert["web_scan"]["fw_versions"] %}
                <b>Version (Firmware):</b>
                {{ cert["web_scan"]["fw_versions"] }}
                <br/>
            {% endif %}
            {% if cert["web_scan"]["tested_conf"] %}
                <b>Tested configurations:</b>
                <ul>
                    {% for conf in cert["web_scan"]["tested_conf"] %}
                    <li>{{ conf }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <b>Vendor:</b> {{ cert["web_scan"]["vendor"] }} <a href="{{ cert["web_scan"]['vendor_www'] }}" >{{ cert["web_scan"]["vendor_www"] }}</a><br/>
            <b>Lab:</b> {{ cert["web_scan"]["lab"] }} {% if cert["web_scan"]["lab_nvlap"] %}(NVLAP Code: {{ cert["web_scan"]["lab_nvlap"] }}){% endif %}<br/>
            {% if cert["web_scan"]["algorithms"] %}
                <b>FIPS Algorithms:</b>
                <ul>
                    {% for algo in cert["web_scan"]["algorithms"] %}
                        {% if "Name" in algo %}
                            <li>{{ algo["Name"] }} - {% for name in algo["Certificate"] %}{{ name }}{{ ", " if not loop.last else "" }}{% endfor %}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="mt-2 mb-2">
                {% if cert["web_scan"]["certificate_www"] %}
                <a class="btn btn-primary" role="button" href="{{ cert['certificate_www'] }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Certificate"><i class="fas fa-file-contract"></i> Certificate</a>
                {% endif %}
                {% if cert["web_scan"]["security_policy_www"] %}
                <a class="btn btn-primary" role="button" href="{{ cert['security_policy_www'] }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Security policy"><span class="fas fa-file-alt"></span> Security policy</a>
                {% endif %}
                <a class="btn btn-primary" role="button" href="https://csrc.nist.gov/projects/cryptographic-module-validation-program/certificate/{{ cert['cert_id'] }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ cert["web_scan"]['module_name']|default('') }}"><i class="fas fa-external-link-alt"></i> Webpage</a>
            </div>
        </div>
    {% endif %}

	<div class="mt-5 mb-5">
		<h2 id="doc-info" class="anchor">Document information
		<span style="font-size: 0.5em; vertical-align: middle" tabindex="0" class="badge bg-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Information automatically extracted from the security policy document. Might contain errors.">?</span></h2>
		
		<h3 class="mt-4">Security policy
        {% if cert["web_scan"]["security_policy_www"] %}<a role="button" href="{{ cert["web_scan"]["security_policy_www"] }}" style="font-size: 0.4em; vertical-align: middle" tabindex="0" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Download."><i class="fas fa-fw fa-download"></i></a>{% endif %}</h3>
		{{ cryptography_keywords(cert["heuristics"]["keywords"], "policy") }}
		{{ device_keywords(cert["heuristics"]["keywords"], "policy") }}
		{{ security_keywords(cert["heuristics"]["keywords"], "policy") }}
		{{ other_keywords(cert["heuristics"]["keywords"], "policy") }}
	</div>

    <div class="mt-5 mb-5">
        <h2 class="anchor" id="reference-graph">References
		<span style="font-size: 0.5em; vertical-align: middle" tabindex="0" class="badge bg-secondary" data-toggle="tooltip" data-placement="top" title="Information automatically extracted from the certificate and security target documents. Might contain errors.">?</span></h2>
        <div class="border">
        {{ render_network(url_for('.entry_graph_json', hashid=hashid), url_for(".types"), height=400, linkDistance=45, linkCharge=-80, highlight=[hashid]) }}
        </div>
    </div>

	<div class="mt-5 mb-5">
		<h2 class="anchor" id="raw-data-head">Raw data
		<button id="raw-data-button" type="button" data-bs-toggle="collapse" data-bs-target="#raw-data" style="font-size: 0.4em; vertical-align: middle" tabindex="0" class="btn btn-primary" title="Toggle."><i class="fas fa-fw fa-plus"></i></button>
		<a role="button" href="{{ url_for('.entry_json', hashid=hashid) }}" style="font-size: 0.4em; vertical-align: middle" tabindex="0" class="btn btn-primary" title="Download."><i class="fas fa-fw fa-download"></i></a></h2>
		<pre id="raw-data" class="listing collapse mt-3"><code>{{ cert|tojson(indent=2) }}</code></pre>
	</div>
	<script>
        $(function () {
            let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            tooltipTriggerList.map(function (tooltipTriggerEl) {
              return new bootstrap.Tooltip(tooltipTriggerEl)
            })
           new bootstrap.Tooltip($("#raw-data-button").get(0));
        });
		$('#raw-data').on('show.bs.collapse', function () {
			$("#raw-data-button i").toggleClass("fa-plus").toggleClass("fa-minus");
		});
		$('#raw-data').on('hide.bs.collapse', function () {
			$("#raw-data-button i").toggleClass("fa-plus").toggleClass("fa-minus");
		});
	</script>
        </div>
    </main>
{% endblock %}