{% extends "common/base.html.jinja2" %}
{% set crumbs = True %}
{% set search = True %}
{% set canonical = True %}

{% block content %}
    <main>
        <div class="col-12 col-sm-10 mx-auto p-3 py-md-5">
            <div class="row mb-3 g-4 justify-content-start row-cols-1 row-cols-lg-2">
                <div class="col-sm-10 col-md-5 order-1 order-md-0">
                    <h1>FIPS 140</h1>
                    <p class="lead">All of the certificates are sourced from the NIST CMVP (Cryptographic Module
                        Validation Program) portal
                        at
                        <a href="https://csrc.nist.gov/projects/cryptographic-module-validation-program/validated-modules/search/all"
                           target="_blank" rel="noopener">csrc.nist.gov</a>.
                        The site provides a search and HTML listing of the certified products with some metadata.
                        These listings were crawled (along with the certificates and security targets themselves) to
                        gather the data provided here.</p>
                </div>
                <div class="col-5 d-flex justify-content-md-center align-items-md-center order-0 order-md-1">
                    <img src="{{ url_for("static", filename="img/fips_logo.svg") }}" alt="FIPS-140"
                         class="part-logo"
                         style="width: 10em"/>
                </div>
            </div>
        </div>

        <div class="row bg-darker-light p-3">
            <div class="col-12 col-sm-10 mx-auto">
                <div class="row my-5">
                    <div class="col-6">
                        <h3>Search</h3>
                        <p>We are converting all FIPS 140 certificates from PDFs into machine readable format.
                        You can use this website to search in our database for any FIPS 140 certificate, discover its extracted metadata, filter them and do much more.</p>
                        <a href="{{ url_for(".mergedSearch") }}" class="btn btn-primary">
                            Learn More <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-6">
                        <h3>Example</h3>
                        <p>No more talking. Have a look at the example certificate we have chosen for you. 
                        Discover extracted metadata and much more. Don't forget to search for your own certificates later!</p>
                        <a href="{{ url_for("fips.rand") }}" class="btn btn-outline-primary">
                            Random certificate
                        </a>
                        <a href="{{ url_for(".entry", hashid="1625f9db144171f7") }}" class="btn btn-primary">
                            Show example <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row p-3">
            <div class="col-12 col-sm-10 mx-auto">
                <div class="row my-5">
                    <div class="col-6">
                        <h3>Analysis</h3>
                        <p>Which scheme is issuing certificates the most? Which certificate category is the most numerous?
                        You can find answers here and you can also make your own statistics with our prepared datasets.</p>
                        <a href="{{ url_for(".analysis") }}" class="btn btn-primary">
                            Learn More <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-6">
                        <h3>References</h3>
                        <p>Wanted to know, what certificates are referencing yours and vice versa? We got you covered.
                        We are automatically adding references between certificates, which then creates big graph of references.
                        You can also see smaller reference graphs in certificate details.</p>
                        <a href="{{ url_for(".network") }}" class="btn btn-primary">
                            Learn More <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-darker-light p-3">
            <div class="col-12 col-sm-10 mx-auto">
                <div class="row my-5">
                    <div class="col-6">
                        <h3 class="anchor" id="mip-iut">MIP and IUT</h3>
                        <p>The FIPS 140 Modules In Process (MIP) and Implementations Under Test (IUT) lists provide
                            information about modules currently undergoing NIST CMVP evaluation. We process these lists
                            daily and provide a log of snapshots.</p>
                        <a href="{{ url_for(".mip_index") }}" role="button" class="mt-1 btn btn-primary"><i
                                class="fas fa-fw fa-list"></i>
                            MIP</a>
                        <a href="{{ url_for(".iut_index") }}" role="button" class="mt-1 btn btn-primary"><i
                                class="fas fa-fw fa-list"></i>
                            IUT
                        </a>
                    </div>
                    <div class="col-6">
                        <h3>Data</h3>
                        <p>Want to process all FIPS 140 data on your own? Download our prepared datasets and let's analyse them.</p>
                        <a href="{{ url_for(".data") }}" class="btn btn-primary">
                            Learn More <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>       
        
    </main>
{% endblock %}
