{% extends "base.html.jinja2" %}
{% set crumbs = True %}
{% set search = False %}
{% block title %}
    <title>
        {{ "About | seccerts.org" }}
    </title>
{% endblock %}
{% block navbar %}
    {{ super() }}
    <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#privacy-policy">Privacy policy</a>
    </li>
{% endblock %}
{% block content %}
    <div class="col-10 mx-auto p-3 py-md-5">
        <main>
            <div class="row mb-5">
                <div class="col-12 col-md-6">
                    <h1 class="anchor" id="about">About</h1>
                    <div id="about-info" {% if config["ANONYMOUS"] %}style="display: none"{% endif %}>
                        <p class="lead">
                            This research is being carried out by a team at the <a href="https://crocs.fi.muni.cz">Centre
                            for Research on Cryptography and Security</a> at Masaryk University. The work was supported
                            by
                            the <a href="https://cybersec4europe.eu/" target="_blank" rel="noopener">CyberSec4Europe</a>
                            project and
                            <a href="https://research.redhat.com/" target="_blank" rel="noopener">Red Hat Research</a>.
                        </p>
                        <ul class="name-list">
                            <li>Petr Svenda</li>
                            <li>Stanislav Bobon</li>
                            <li>Adam Janovsky</li>
                            <li>Jiri Michalik</li>
                            <li>Jan Jancar</li>
                        </ul>
                        <p>If you would like to contact us, you can do so at <a
                                href="mailto:svenda@fi.muni.cz">svenda@fi.muni.cz</a>.</p>
                    </div>
                    {% if config["ANONYMOUS"] %}
                        <div id="about-toggle">
                            <p>The site is in anonymized mode for review. Clicking the button below will show the
                                contact
                                information for the authors of this research and site.</p>
                            <button type="button" id="display-about" class="btn btn-primary">Display about information
                            </button>

                            <script>
                                $(function () {
                                    $("#display-about").click(function () {
                                        $("#about-info").show();
                                        $("#about-toggle").hide();
                                    });
                                });
                            </script>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row my-5">
                <div class="col-12 col-md-6">
                    <h1 class="anchor" id="privacy-policy">Privacy policy</h1>
                    <p class="lead">This site collects personal data in order to provide notifications about
                        vulnerabilities or changes in certified products.</p>
                    <h2>Personal data</h2>
                    <p>This site collects the following personal data:</p>
                    <ul>
                        <li>Email address. It is required to send notifications.</li>
                    </ul>
                    <p>The collected personal data resides only on the server running this site.</p>
                    <h3>Right to access personal data</h3>
                    <p>You have a right to access your personal data that this site collects. If you want to exercise
                        this right please send an email request to the above email address.</p>
                    <h3>Right to correct personal data</h3>
                    <p>You have a right to correct your personal data that this site collects. If you want to exercise
                        this right please send an email request to the above email address.</p>
                    <h3>Right to be forgotten</h3>
                    <p>You have a right to have your personal data deleted. Your personal data is deleted automatically
                        after your notification subscription is cancelled. The personal data associated to an
                        unconfirmed subscription request is deleted after 7 days from the date of the subscription
                        request. If you want to exercise this right please send an email request to the above email
                        address.</p>
                    <h2>Reason for collection</h2>
                    <p>Email addresses are collected in order to provide a notification service, notifying users about
                        potential vulnerabilities or changes in certified products they subscribed to. The collected
                        personal data is not provided to any third parties. The emails are sent through a local mail
                        server and not a third-party service.</p>
                    <h2>Other</h2>
                    <p>This project is open-source, you can find its sources on our
                        <a href="https://github.com/crocs-muni/sec-certs/tree/page" target="_blank" rel="noopener">Github</a>
                        where you can see how your personal data is processed.</p>
                    <p>The site uses some third and first-party tools that handle user data, namely <b>Sentry.io</b>,
                        <b>hCaptcha</b> and <b>Matomo</b>. <b>Sentry.io</b> is a third-party service used to track
                        errors on the backend of the site and thus might receive information such as the IP address,
                        HTTP headers or the client's User-Agent. This site is protected by <b>hCaptcha</b> and its
                        <a href="https://hcaptcha.com/privacy" target="_blank" rel="noopener">Privacy Policy</a> and
                        <a href="https://hcaptcha.com/terms" target="_blank" rel="noopener">Terms of Service</a> apply.
                        <b>Matomo</b> is a self-hosted service that collects analytics on this site.</p>
                </div>
            </div>
        </main>
    </div>
{% endblock %}