{% extends "base.html.jinja2" %}
{% set crumbs = True %}
{% set search = False %}
{% set canonical = True %}
{% block title %}
    <title>
        {{ "About | sec-certs.org" }}
    </title>
{% endblock %}
{% block navbar %}
    {{ super() }}
    <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#research">Research</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#privacy-policy">Privacy policy</a>
    </li>
{% endblock %}
{% block content %}
    <div class="col-10 mx-auto p-3 py-md-5">
        <main>
            <div class="row mb-5">
                <div class="col-12 col-md-6">
                    <h1 class="anchor" id="about">About</h1>
                    <div id="about-info" {% if config["ANONYMOUS"] %}style="display: none"{% endif %}>
                        <p class="lead">
                            This research is being carried out by a team at the <a href="https://crocs.fi.muni.cz">Centre
                            for Research on Cryptography and Security</a> at Masaryk University. The work was supported
                            by
                            the <a href="https://cybersec4europe.eu/" target="_blank" rel="noopener">CyberSec4Europe</a>
                            project,
                            <a href="https://research.redhat.com/" target="_blank" rel="noopener">Red Hat Research</a>
                            as well as the Internal grant agency of Masaryk University, project
                            <a href="https://www.muni.cz/en/research/projects/55367" target="_blank" rel="noopener">CZ.02.2.69/0.0/0.0/19_073/0016943</a>.
                        </p>
                        <ul class="name-list">
                            <li>Petr Svenda</li>
                            <li>Stanislav Bobon</li>
                            <li>Adam Janovsky</li>
                            <li>Jiri Michalik</li>
                            <li>Dominik Macko</li>
                            <li>Jan Jancar</li>
                            <li>Łukasz Chmielewski</li>
                        </ul>
                        <p>A thanks goes to Jaroslav Řezník for their insight into the security certification
                            landscape, and Martin Ukrop for their help on the project.</p>
                        <p>If you would like to contact us, you can do so at <a
                                href="mailto:svenda@fi.muni.cz">svenda@fi.muni.cz</a>.</p>
                    </div>

                    {% if config["ANONYMOUS"] %}
                        <div id="about-toggle">
                            <p>The site is in anonymized mode for review. Clicking the button below will show the
                                contact
                                information for the authors of this research and site.</p>
                            <button type="button" id="display-about" class="btn btn-primary">Display about information
                            </button>

                            <script>
                                $(function () {
                                    $("#display-about").click(function () {
                                        $("#about-info").show();
                                        $("#about-sponsors").show();
                                        $("#about-research").show();
                                        $("#about-toggle").hide();
                                    });
                                });
                            </script>
                        </div>
                    {% endif %}
                </div>
                <div class="col-12 col-md-6" id="about-sponsors"
                     {% if config["ANONYMOUS"] %}style="display: none"{% endif %}>
                    <h1 class="anchor" id="research">Sponsors</h1>
                    <div class="row mx-3 mt-5">
                        <div class="col d-flex justify-content-center align-items-center">
                            <img class="w-75 mx-auto d-block" style="background-color: #0E4294"
                                 src="{{ url_for("static", filename="img/csfe_logo.png") }}"
                                 alt="Cyber Security for Europe"/>
                        </div>
                        <div class="col d-flex justify-content-center align-items-center">
                            <img class="w-100" src="{{ url_for("static", filename="img/redhat_logo.svg") }}"
                                 alt="RedHat"/>
                        </div>
                        <div class="col d-flex justify-content-center align-items-center">
                            <img class="w-100" src="{{ url_for("static", filename="img/metacentrum_logo.png") }}"
                                 alt="Metacentrum logo"/>
                        </div>
                    </div>
                    <div class="row">
                        <img class="w-100" style="margin-left: 0.8rem" src="{{ url_for("static", filename="img/eu_logo.jpg") }}" alt="EU logo"/>
                    </div>
                </div>
            </div>
            <div class="row my-5" id="about-research" {% if config["ANONYMOUS"] %}style="display: none"{% endif %}>
                <div class="col-12 col-md-6">
                    <h1 class="anchor" id="research">Research</h1>
                    <p class="lead">

                    </p>

                    <div>
                        <h3><i class="fas fa-file-alt"></i> sec-certs: Examining the security certification practice for
                            better vulnerability mitigation</h3>
                        <p class="fst-italic">Adam Janovsky, Jan Jancar, Petr Svenda, Lukasz Chmielewski, Jiri Michalik,
                            Vashek Matyas</p>
                        <p>
                            <a href="https://arxiv.org/abs/2311.17603" class="btn btn-primary" target="_blank"
                               rel="noopener"><i
                                    class="fas fa-file-alt"></i> Preprint</a>
                            <a href="https://doi.org/10.1016/j.cose.2024.103895" class="btn btn-primary" target="_blank"
                               rel="noopener"><i class="fas fa-file-alt"></i> Computers &amp; Security journal</a>
                            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#paper-1-bib" aria-expanded="false" aria-controls="paper-1-bib">
                                <i class="fas fa-quote-right"></i> BibTeX
                            </button>
                        </p>
                        <div class="collapse" id="paper-1-bib">
                            <div class="card card-body">
                        	<pre class="select-on-click" title="Click to copy to clipboard">
@article{sec-certs,
	title = {sec-certs: Examining the security certification practice for better vulnerability mitigation},
	journal = {Computers & Security},
	volume = {143},
	year = {2024},
	issn = {0167-4048},
	doi = {10.1016/j.cose.2024.103895},
	url = {https://www.sciencedirect.com/science/article/pii/S0167404824001974},
	author = {Adam Janovsky and Jan Jancar and Petr Svenda and Łukasz Chmielewski and Jiri Michalik and Vashek Matyas},
	keywords = {Security certification, Common criteria, Vulnerability assessment, Data analysis, Smartcards}
}</pre>
                            </div>
                        </div>
                        <p>Products certified under security certification frameworks such as Common Criteria undergo
                            significant scrutiny during the costly certification process. Yet, critical vulnerabilities,
                            including private key recovery (ROCA, Minerva, TPM-Fail...), get discovered in certified
                            products with high assurance levels. Furthermore, assessing which certified products are
                            impacted by such vulnerabilities is complicated due to the large amount of unstructured
                            certification-related data and unclear relationships between the certificates. To address
                            these problems, we conducted a large-scale automated analysis of Common Criteria and FIPS
                            140 certificates. We trained unsupervised models to learn which vulnerabilities from NIST's
                            National Vulnerability Database impact existing certified products and how certified
                            products reference each other. Our tooling automates the analysis of tens of thousands of
                            certification-related documents, extracting machine-readable features where manual analysis
                            is unattainable. Further, we identify the security requirements that are associated with
                            products being affected by fewer and less severe vulnerabilities (on average). This
                            indicates which aspects of certification correlate with higher security. We demonstrate how
                            our tool can be used for better vulnerability mitigation on four case studies of known,
                            high-profile vulnerabilities. All tools and continuously updated results are available on
                            this site.</p>
                    </div>
                    <div>
                        <h3><i class="fas fa-file-alt"></i> Chain of trust: Unraveling the references among Common
                            Criteria certified products</h3>
                        <p class="fst-italic">Adam Janovsky, Lukasz Chmielewski, Petr Svenda, Jan Jancar, Vashek
                            Matyas</p>
                        <p>
                            <a href="https://arxiv.org/abs/2404.14246" class="btn btn-primary" target="_blank"
                               rel="noopener"><i
                                    class="fas fa-file-alt"></i> Preprint</a>
                            <a href="https://link.springer.com/chapter/10.1007/978-3-031-65175-5_14" class="btn btn-secondary" target="_blank"
                               rel="noopener">IFIP SEC 2024</a>
                            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#paper-2-bib" aria-expanded="false" aria-controls="paper-2-bib">
                                <i class="fas fa-quote-right"></i> BibTeX
                            </button>
                        </p>
                        <div class="collapse" id="paper-2-bib">
                            <div class="card card-body">
                        	<pre class="select-on-click" title="Click to copy to clipboard">
@inproceedings{chain-of-trust,
	title = {Chain of Trust: Unraveling References Among Common Criteria Certified Products},
    booktitle = {ICT Systems Security and Privacy Protection},
    edition = {volume 710},
    editor = {Nikolaos Pitropakis, Sokratis Katsikas, Steven Furnell, Konstantinos Markantonakis},
    publisher = {Springer Nature Switzerland},
    address = {Cham},
	year = {2024},
	isbn = {978-3-031-65175-5},
	doi = {10.1007/978-3-031-65175-5_14},
	url = {https://www.sciencedirect.com/science/article/pii/S0167404824001974},
	author = {Adam Janovsky and {\L}ukasz Chmielewski and Petr Svenda and Jan Jancar and Vashek Matyas},
	keywords = {security certification, Common Criteria, FIPS 140, security evaluation}
}</pre>
                            </div>
                        </div>
                        <p>With 5394 security certificates of IT products and systems, the Common Criteria for
                            Information Technology Security Evaluation have bred an ecosystem entangled with various
                            kind of relations between the certified products. Yet, the prevalence and nature of
                            dependencies among Common Criteria certified products remains largely unexplored. This study
                            devises a novel method for building the graph of references among the Common Criteria
                            certified products, determining the different contexts of references with a supervised
                            machine-learning algorithm, and measuring how often the references constitute actual
                            dependencies between the certified products. With the help of the resulting reference graph,
                            this work identifies just a dozen of certified components that are relied on by at least 10%
                            of the whole ecosystem -- making them a prime target for malicious actors. The impact of
                            their compromise is assessed and potentially problematic references to archived products are
                            discussed.</p>
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-12 col-md-6">
                    <h1 class="anchor" id="privacy-policy">Privacy policy</h1>
                    <p class="lead">This site collects personal data in order to provide notifications about
                        vulnerabilities or changes in certified products.</p>
                    <h2>Personal data</h2>
                    <p>This site collects the following personal data:</p>
                    <ul>
                        <li>Email address. It is required to send notifications.</li>
                    </ul>
                    <p>The collected personal data resides only on the server running this site.</p>
                    <h3>Right to access personal data</h3>
                    <p>You have a right to access your personal data that this site collects. If you want to exercise
                        this right please send an email request to the above email address.</p>
                    <h3>Right to correct personal data</h3>
                    <p>You have a right to correct your personal data that this site collects. If you want to exercise
                        this right please send an email request to the above email address.</p>
                    <h3>Right to be forgotten</h3>
                    <p>You have a right to have your personal data deleted. Your personal data is deleted automatically
                        after your notification subscription is cancelled. The personal data associated to an
                        unconfirmed subscription request is deleted after 7 days from the date of the subscription
                        request. If you want to exercise this right please send an email request to the above email
                        address.</p>
                    <h2>Reason for collection</h2>
                    <p>Email addresses are collected in order to provide a notification service, notifying users about
                        potential vulnerabilities or changes in certified products they subscribed to. The collected
                        personal data is not provided to any third parties. The emails are sent through a local mail
                        server and not a third-party service.</p>
                    <h2>Other</h2>
                    <p>This project is open-source, you can find its sources on our
                        <a href="https://github.com/crocs-muni/sec-certs/tree/page" target="_blank" rel="noopener">Github</a>
                        where you can see how your personal data is processed.</p>
                    <p>The site uses some third and first-party tools that handle user data, namely <b>Sentry.io</b>,
                        <b>hCaptcha</b> and <b>Matomo</b>. <b>Sentry.io</b> is a third-party service used to track
                        errors on the frontend and backend of the site and thus might receive information such as
                        the IP address, HTTP headers or the client's User-Agent, or other information included in
                        a JavaScript error. This site is protected by <b>hCaptcha</b> and its
                        <a href="https://hcaptcha.com/privacy" target="_blank" rel="noopener">Privacy Policy</a> and
                        <a href="https://hcaptcha.com/terms" target="_blank" rel="noopener">Terms of Service</a> apply.
                        <b>Matomo</b> is a self-hosted service that collects analytics on this site.</p>
                </div>
            </div>
        </main>
    </div>
    <script>
        function selectText(ev) {
            var e = document, c = ev[0], b, d;
            if (e.body.createTextRange) {
                b = document.body.createTextRange();
                b.moveToElementText(c);
                b.select()
            } else {
                if (window.getSelection) {
                    d = window.getSelection();
                    b = document.createRange();
                    b.selectNodeContents(c);
                    d.removeAllRanges();
                    d.addRange(b)
                }
            }
            return $(this)
        }

        function getSelectionText() {
            var b = "";
            if (window.getSelection) {
                b = window.getSelection().toString()
            } else {
                if (document.selection && document.selection.type != "Control") {
                    b = document.selection.createRange().text
                }
            }
            return b;
        }

        function copyToClipboard() {
            var text = getSelectionText();
            if (!text || text.length == 0) {
                selectText($(this));
                var success = document.execCommand("copy");
                if (!success)
                    console.error("failed to copy text to clipboard :(")
            }
        }

        $(".select-on-click").on("click", copyToClipboard);
    </script>
{% endblock %}
