<!doctype html>
<html lang="en">

<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="application-name" content="sec-certs.org"/>
        {% block title %}<title>{{ title|default("sec-certs.org") }}</title>{% endblock %}
        {% block metadata %}
            <meta property="og:title" content="{{ title|default("sec-certs.org") }}"/>
            <meta property="og:description" content="{{ description|default("sec-certs.org") }}"/>
            <meta property="og:image" content="{{ url_for("static", filename="img/card.png", _external=True) }}"/>
            <meta property="og:url" content="{{ request.url }}"/>
        {% endblock %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}"/>
        {% if canonical %}
        	<link rel="canonical" href="{{ request.base_url if canonical is true else canonical }}" />
        {% endif %}
        {% assets output="gen/libs.css",
                "lib/bootstrap.min.css", "lib/fontawesome.min.css", "lib/metropolis.css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap"
              rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        <link rel="preload" as="image" href="{{ url_for("static", filename="img/logo_dark.svg") }}">
        <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
        {% assets output="gen/libs.js",
                "lib/jquery.min.js", "lib/bootstrap.bundle.min.js", "lib/d3.min.js", "lib/d3-legend.min.js", "lib/lodash.min.js", "lib/sentry.tracing.min.js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        <!-- Matomo -->
        <script type="text/javascript">
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            _paq.push(["disableCookies"]);
            (function () {
                var u = "https://fadmin.fi.muni.cz/piwik/";
                _paq.push(['setTrackerUrl', u + 'matomo.php']);
                _paq.push(['setSiteId', '44']);
                var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
                g.type = 'text/javascript';
                g.async = true;
                g.src = u + 'matomo.js';
                s.parentNode.insertBefore(g, s);
            })();
        </script>
        <noscript><p><img src="https://fadmin.fi.muni.cz/piwik/matomo.php?idsite=44&rec=1" style="border:0;" alt=""/>
        </p></noscript>
        <!-- End Matomo Code -->
        <!-- Sentry -->
        <script>
            let envs = {
                "sec-certs.org": "production",
                "localhost.localdomain": "development"
            }
            Sentry.init({
                dsn: "{{ config['SENTRY_INGEST'] }}",
                environment: envs[window.location.hostname],
                release: "{{ get_release() }}",
                integrations: [Sentry.browserTracingIntegration({
                    beforeStartSpan: (context) => {
                        return {
                            ...context,
                            name: "{{ endpoint() }}"
                        }
                    }
                })],
                tracesSampleRate: 1.0,
            });
        </script>
        {% set stp = sentry_traceparent() %}
        {% if stp is not none %}
            <meta name="sentry-trace" content="{{ stp }}">
        {% endif %}
        {% set sb = sentry_baggage() %}
        {% if sb is not none %}
            <meta name="baggage" content="{{ sb }}">
        {% endif %}
        <!-- End Sentry -->
        <meta name="google-site-verification" content="eW6ZAStAlQUFlO_OP8odanoJp_yXBTvIqvlVScyTu3g"/>
        <meta name="google-site-verification" content="B1fKfbvUzeUC3uq6tc_gdJCqgtj1WeL2sYfnIho74MI" />
        <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [
          {%- for breadcrumb in breadcrumbs -%}
            {
            "@type": "ListItem",
            "position": {{ loop.index }},
            "name": {% if loop.last and breadcrumb_title and title %}{{ title|tojson }}{% else %}{{ breadcrumb.text|tojson }}{% endif %},
            "item": {{ (request.host_url[:-1] + breadcrumb.url)|tojson if breadcrumb.url else request.base_url|tojson }}
            }{{ ',' if not loop.last }}
          {%- endfor -%}
          ]
        }
        </script>
    {% endblock %}
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="57" class="position-relative">
<div class="d-flex" id="wrapper">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for("index") }}"><img
                    src="{{ url_for("static", filename="img/logo_dark.svg") }}"
                    style="height: 2.9rem; margin-top: -2rem; margin-bottom: -1.5rem" alt="sec-certs.org" loading="lazy"/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% block navbar %}
                    {% endblock %}
                </ul>
                {% if search %}
                    <form class="d-flex" action="{{ url_for(".search") }}" method="get">
                        <input class="form-control me-2" type="search" placeholder="Search" name="q" aria-label="Search">
                        <button class="btn btn-outline-primary px-4" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                {% endif %}
                {% if is_admin() %}
                    <a href="{{ url_for("admin.index") }}" class="btn btn-outline-secondary px-4 nav-button" role="button"><i
                            class="fa fa-user"></i> Admin</a>
                {% endif %}
                    <a href="{{ url_for("docs.serve_docs", path="index.html") }}" class="btn btn-outline-secondary px-4 nav-button"
                       role="button"><i
                            class="fa fa-file"></i> Docs</a>
            </div>
        </div>
    </nav>
    <div id="page-content-wrapper" class="container-fluid">
        <div id="content">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <div class="flashes col-10 mx-auto p-3">
                        {% for category, message in messages %}
                            {% if category == "message" %}
                                <div class="alert alert-primary">{{ message }}</div>
                            {% elif category == "error" %}
                                <div class="alert alert-danger">{{ message }}</div>
                            {% elif category == "info" %}
                                <div class="alert alert-info">{{ message }}</div>
                            {% elif category == "warning" %}
                                <div class="alert alert-warning">{{ message }}</div>
                            {% elif category == "success" %}
                                <div class="alert alert-success">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            {% if crumbs %}
                <div class="col-10 mx-auto px-3 pt-3 pb-2 fw-lighter">
                    {%- for breadcrumb in breadcrumbs -%}
                        <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
                        {{ '/ ' if not loop.last }}
                    {%- endfor -%}
                </div>
            {% endif %}
            {% block content %}
            {% endblock %}
            <div class="modal fade" id="notification-modal" tabindex="-1" aria-labelledby="notification-modal-label"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="notification-modal-label">Notification subscription</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% if not config["SUBSCRIPTIONS_ENABLED"] %}
                                <p class="fw-bold"><i class="fas fa-exclamation-triangle"></i> Notification
                                    subscriptions are currently disabled.</p>
                            {% endif %}
                            <p id="notification-none">
                                You currently have no selected certificates. Add certificates on
                                the search page or on the page of the certificate. After you do so you will be able to
                                see them here and setup an email notification subscription.
                            </p>
                            <div id="notification-some" style="display: none">
                                <form id="notifications-form">
                                    <label class="form-label">Certificates</label>
                                    <table class="table">
                                        <tbody></tbody>
                                    </table>

                                    <div>
                                        <label class="form-label">Notification type</label>
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" id="notifications-updates-all"
                                                   name="notifications-updates"
                                                   checked/>
                                            <label for="notifications-updates-all" class="form-check-label">All
                                                updates</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" id="notifications-updates-vuln"
                                                   name="notifications-updates"/>
                                            <label for="notifications-updates-vuln" class="form-check-label">Vulnerability
                                                information only</label>
                                        </div>
                                        <p class="form-text">You can subscribe to receive notifications of all changes
                                            and
                                            updates to the
                                            certificates above, or only when new vulnerabilities potentially affecting
                                            the
                                            certificates are published.</p>
                                    </div>
                                    <div>
                                        <label for="notifications-email" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="notifications-email" required/>
                                        <p class="form-text">Your email will only be used to send you notifications.
                                            Each notification contains an unsubscribe link. For more, see our
                                            <a href="{{ url_for("about", _anchor="privacy-policy") }}" target="_blank">privacy
                                                policy</a>.</p>
                                    </div>
                                    <div id="turnstile" class="cf-turnstile" data-sitekey="{{ config["TURNSTILE_SITEKEY"] }}"
                                         data-size="invisible"></div>
                                </form>
                                <p class="invalid-feedback" id="notifications-error"></p>
                            </div>
                            <div id="notification-done" style="display: none">
                                <p>Your subscription request was successfully received. You will need to <b>confirm your
                                    subscription</b> by clicking a confirmation link in an email that will be sent to
                                    you shortly. Notifications will be sent to you only after confirmation. If you do
                                    not confirm your subscription within 7 days, the subscription request will expire.
                                    If you already have a subscription, it will be updated with the new certificates,
                                    but you will need to reconfirm it.
                                </p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="notification-add-current" class="btn btn-primary" style="display: none"><i
                                    class="fas fa-plus"></i>
                                Add current certificate
                            </button>
                            <button id="notification-subscribe" type="submit" class="btn btn-primary"
                                    form="notifications-form">Subscribe
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="compare-modal" tabindex="-1" aria-labelledby="compare-modal-label"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="compare-modal-label">Compare certificates</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p id="compare-none">
                                You currently have no selected certificates for comparison. Add certificates on the page
                                of the certificate. After you do so you will be able to
                                see them here and compare them.
                            </p>
                            <div id="compare-some" style="display: none">
                                <table class="table">
                                    <tbody></tbody>
                                </table>
                                You can compare two certificates.
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="compare-add-current" class="btn btn-primary" style="display: none"><i
                                    class="fas fa-plus"></i>
                                Add current certificate
                            </button>
                            <button id="compare-do" class="btn btn-primary">Compare
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                {% block footer %}
                    <div class="row justify-content-center py-5 row-cols-1 row-cols-md-2">
                        <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                            <a id="crocs-logo" href="https://crocs.fi.muni.cz">
                                <img src="{{ url_for("static", filename="img/crocs_claim.svg") }}"
                                     alt="Centre for Research on Cryptography and Security" style="width: 100%"/>
                            </a>
                        </div>
                        <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                            <p class="fw-light">Check out our <a href="https://github.com/crocs-muni/sec-certs" target="_blank" rel="noopener">GitHub</a>.</p>
                            <p class="fw-light">Developed with Flask &amp; MongoDB.</p>
                            <p class="fw-light">Running on <a href="https://cloud.metacentrum.cz/" target="_blank" rel="noopener">MetaCentrum Cloud</a>.</p>
                            {% if current_user.is_authenticated %}
                                <p class="fw-light"><a href="{{ url_for("admin.logout") }}" style="opacity: 50%;"
                                                       title="Lemme out"><i class="fas fa-sign-out-alt"></i></a></p>
                            {% else %}
                                <p class="fw-light"><a href="{{ url_for("admin.login") }}" style="opacity: 50%;"
                                                       title="Lemme in"><i class="fas fa-sign-in-alt"></i></a></p>
                            {% endif %}
                        </div>
                    </div>
                    <div id="compare">
                        <button id="compare-icon" class="btn btn-secondary" title="Compare certificates"
                                data-bs-toggle="modal" data-bs-target="#compare-modal">
                            <i class="fas fa-fw fa-scale-balanced" aria-hidden="true"></i>
                            <span id="compare-pill"
                                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                                &nbsp;
                            <span class="visually-hidden">selected certificates for comparison</span>
                                </span>
                        </button>
                    </div>

                    <div id="notifications">
                        <button id="notification-icon" class="btn btn-secondary" title="Notifications"
                                data-bs-toggle="modal" data-bs-target="#notification-modal">
                            <i class="fas fa-fw fa-envelope" aria-hidden="true"></i>
                            <span id="notification-pill"
                                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                                &nbsp;
                            <span class="visually-hidden">selected certificates</span>
                          </span>
                        </button>
                    </div>
                    <div id="up-top">
                        <a title="Back to top" aria-label="Back to top" href="#">
                        <span id="up-top-icon" class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x" aria-hidden="true"></i>
                            <i class="fas fa-chevron-up fa-stack-1x fa-inverse" aria-hidden="true"></i>
                        </span>
                        </a>
                    </div>
                {% endblock %}
            </footer>
        </div>
    </div>
</div>
<script>
    $(function () {
        let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });

        function remove_cert(storage_key, event) {
            let elem = $(event.target).parents("tr");
            let selected = localStorage.getItem(storage_key);
            selected = JSON.parse(selected).filter(cert => cert["hashid"] !== elem.data("cert-hashid"));
            localStorage.setItem(storage_key, JSON.stringify(selected));
            update_state();
        }

        function update_state_core(type, storage_key, action, enable) {
            if (typeof certificate_data !== "undefined") {
                $(`#${ type }-add-current`).show();
            }

            let selected = localStorage.getItem(storage_key);
            if (selected === null) {
                $(`#${ type }-${ action }`).hide();
                $(`#${ type }-pill`).text("0");
            } else {
                selected = JSON.parse(selected);
                $(`#${ type }-pill`).text(selected.length);
                $(`#${ type }-some tbody tr`).remove();
                if (selected.length > 0) {
                    $(`#${ type }-none`).hide();
                    $(`#${ type }-some`).show();
                    if (typeof certificate_data !== "undefined") {
                        if (selected.map(cert => cert["hashid"]).includes(certificate_data.hashid)) {
                            $(`#${ type }-add-current`).hide();
                        }
                    }
                    for (let [i, cert] of selected.entries()) {
                        let tr = $("<tr>").data("cert-hashid", cert["hashid"]).data("cert-type", cert["type"]);
                        let num = $("<td>").append(`${i + 1}.`);
                        let cat = $("<td>").append(cert["type"].toUpperCase());
                        let name = $("<td>").append($("<a>").attr("href", cert["url"]).text(cert["name"]));
                        let but = $("<td>").append($("<button>").addClass("btn btn-danger mx-1").text("Remove").click(_.curry(remove_cert)(storage_key)));
                        tr.append(num).append(cat).append(name).append(but).appendTo($(`#${ type }-some tbody`));
                    }
                } else {
                    $(`#${ type }-none`).show();
                    $(`#${ type }-some`).hide();
                }
                if (enable(selected.length)) {
                    $(`#${ type }-${ action }`).show();
                } else {
                    $(`#${ type }-${ action }`).hide();
                }
            }
        }

        function update_state() {
            update_state_core("notification", "selected_certs_subscription", "subscribe", (len) => len > 0);
            update_state_core("compare", "selected_certs_comparison", "do", (len) => len === 2);
        }

        $("#notification-modal").on("show.bs.modal", function () {
            update_state();
        });
        $("#compare-modal").on("show.bs.modal", function () {
            update_state();
        });
        $("#notification-add-current").click(function () {
            let selected = localStorage.getItem("selected_certs_subscription");
            if (selected === null) {
                selected = [certificate_data];
            } else {
                selected = JSON.parse(selected);
                selected.push(certificate_data);
            }
            localStorage.setItem("selected_certs_subscription", JSON.stringify(selected));
            update_state();
        });
        $("#compare-add-current").click(function () {
            let selected = localStorage.getItem("selected_certs_comparison");
            if (selected === null) {
                selected = [certificate_data];
            } else {
                selected = JSON.parse(selected);
                selected.push(certificate_data);
            }
            localStorage.setItem("selected_certs_comparison", JSON.stringify(selected));
            update_state();
        });
        $("#compare-do").click(function () {
            let selected = localStorage.getItem("selected_certs_comparison");
            if (selected === null) {
                //whoops
                return;
            }
            selected = JSON.parse(selected);
            if (selected.length !== 2) {
                return;
            }
            if (selected[0]["type"] !== selected[1]["type"]) {
                return;
            }
            let cc_url = "{{ url_for("cc.compare", one_hashid="XXXXXXXXXXXXXXXX", other_hashid="YYYYYYYYYYYYYYYY") }}";
            let fips_url = "{{ url_for("fips.compare", one_hashid="XXXXXXXXXXXXXXXX", other_hashid="YYYYYYYYYYYYYYYY") }}";
            let url;
            if (selected[0]["type"] === "cc") {
                url = cc_url;
            } else {
                url = fips_url;
            }
            url = url.replace("XXXXXXXXXXXXXXXX", selected[0]["hashid"]);
            url = url.replace("YYYYYYYYYYYYYYYY", selected[1]["hashid"]);
            window.location.href = url;
        });
        $("#notification-subscribe").click(function (event) {
            event.preventDefault();
            let selected = localStorage.getItem("selected_certs_subscription");
            if (selected === null) {
                //whoops
                return;
            } else {
                selected = JSON.parse(selected);
            }
            let form = $("#notifications-form").get(0)
            if (!form.checkValidity()) {
                form.reportValidity();
                return;
            }
            turnstile.execute({async: true})
                .then(({response, key}) => {
                    let updates;
                    if ($("#notifications-updates-all").prop("checked")) {
                        updates = "all";
                    }
                    if ($("#notifications-updates-vuln").prop("checked")) {
                        updates = "vuln";
                    }
                    $.ajax("{{ url_for("notify.subscribe") }}", {
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({
                            "selected": selected,
                            "email": $("#notifications-email").val(),
                            "updates": updates,
                            "captcha": response
                        }),
                        headers: {
                            "X-CSRFToken": "{{ csrf_token() }}"
                        },
                        success: function () {
                            localStorage.removeItem("selected_certs_subscription");
                            $("#notification-some").hide();
                            $("#notification-done").show();
                            $("#notification-subscribe").hide();
                            $("#notifications-error").hide();
                        },
                        error: function (response) {
                            try {
                                $("#notifications-error").text(response.responseJSON.error).show();
                            } catch (error) {
                                $("#notifications-error").text("Something went wrong with the subscription request, please try again later").show();
                            }
                        }
                    })
                });
        });
        update_state();
    });
</script>
</body>
</html>
