{% extends "base.html.jinja2" %}
{% block head %}
    {{ super() }}
    <script type="text/javascript">
        let selected_node = null;
        let interval_task_id = null;

        $(function () {
            $("#feedback-button").click(function () {
                $("#feedback-card").toggleClass("collapsed");
            });
            $("#feedback-trigger").click(function () {
                $("#feedback-panel").show(200);
                $("body").css("cursor", "pointer");
                interval_task_id = setInterval(function () {
                    $($(":hover").get().reverse()).each(function (i, e) {
                        let node = $(e);
                        if (node.data("cs-name") !== undefined) {
                            if (selected_node) {
                                selected_node.toggleClass("border border-primary border-2");
                            }
                            selected_node = node;
                            node.toggleClass("border border-primary border-2");
                            $("#feedback-selected-elem").text(node.data("cs-name"));
                            return false;
                        }
                    });
                }, 100);
                setTimeout(function () {
                    $("body").click(function () {
                        if (interval_task_id && selected_node) {
                            clearInterval(interval_task_id);
                            $("body").css("cursor", "auto");
                            interval_task_id = null;
                            $("body").off("click");
                        }
                    });
                });
            });
            $("#feedback-send").click(function () {
                if (selected_node && !interval_task_id) {
                    $.ajax("{{ url_for("feedback") }}", {
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({
                            "element": selected_node.data("cs-name"),
                            "comment": $("#feedback-text").val(),
                            "path": window.location.pathname
                        }),
                        success: function () {
                            $("#feedback-result").text("Feedback successfully sent, thank you!");
                            selected_node = null;
                            $("#feedback-selected-elem").text("");
                            $("#feedback-text").val("");
                        },
                        error: function () {
                            $("#feedback-result").text("There was an error processing your feedback, sorry.");
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
{% block footer %}
    {{ super() }}
    <div id="feedback">
        <div id="feedback-card" class="card card-body collapsed">
            <h4>Feedback</h4>
            <p>Is there something wrong with the data on this page? Anything we can improve?</p>
            <button id="feedback-trigger" class="btn btn-primary mb-3" style="display: block">
                <span class="fas fa-fw fa-search color-white" aria-hidden="true"></span>
                Show us!
            </button>
            <div id="feedback-panel" style="display: none" class="mb-4">
                <p>Please click on an element from the page that you want to comment on.</p>
                <span>Selected: <span id="feedback-selected-elem" class="fw-bold"></span></span>
                <label for="feedback-text" class="form-label">Comment:
                    <textarea id="feedback-text" class="form-control" name="feedback-text"></textarea>
                </label>
                <button id="feedback-send" class="btn btn-success d-block">
                    <span class="fas fa-fw fa-play color-white" aria-hidden="true"></span>
                    Send feedback
                </button>
                <span id="feedback-result" class="mt-2"></span>
            </div>
            <p>Found a bug in the tool?</p>
            <a class="btn btn-primary d-block mb-3"
               href="https://github.com/crocs-muni/sec-certs/issues/new?labels=bug&amp;title=Bug+report&amp;body=Please+describe+what+does+not+work..."
               target="_blank" rel="noopener noreferrer">
                <span class="fas fa-fw fa-bug color-white" aria-hidden="true"></span>
                Bug report</a>
            <p>Other comments or ideas?</p>
            <a class="btn btn-primary d-block" target="_blank"
               href="mailto:webmaster@seccerts.org?subject=Site+feedback">
                <span class="fas fa-fw fa-envelope color-white" aria-hidden="true"></span>
                Email us!</a>
        </div>
        <div id="feedback-button" class="btn btn-secondary">
            <span class="fas fa-fw fa-question-circle" aria-hidden="true"></span> Feedback
        </div>
    </div>
{% endblock %}