{% extends "common/base.html.jinja2" %}
{% block head %}
    {{ super() }}
    {{ css|safe }}
{% endblock %}
{% block content %}
    {{ app_entry|safe }}
{% endblock %}
{% block footer %}
    {{ super() }}
    {{ config|safe }}
    {{ scripts|safe }}
    {{ renderer|safe }}
{% endblock %}
