{% extends "common/base.html.jinja2" %}
{% set canonical = True %}
{% block content %}
    <main>
        <div class="col-12 col-sm-10 mx-auto p-3 py-md-5">
            <div class="row mb-3 g-4 justify-content-between row-cols-1 row-cols-lg-2">
                <div class="col-12 col-sm-7 order-1 order-sm-0">
                    <h1>About sec-certs</h1>
                    <p class="lead fw-light pt-2">
                        We want to become the one-stop shop to explore the Common Criteria / FIPS 140
                        certification ecosystem. We aggregate and annotate certification data, enabling 
                        you to perform unified search, vulnerability investigation, trend analyses, side-by-side 
                        comparisons, notifications and other features for certified products.
                    </p>
                    <p class="lead fw-light pt-2">
                        The sec-certs tool is an ongoing research project by the Centre for Research on Cryptography
                        and Security. Learn more about our
                        <a href="{{ url_for("about.index") }}">team</a>
                        and
                        <a href="{{ url_for("about.research") }}">research</a>.
                    </p>
                </div>
                <div class="col-12 col-sm-5 order-0 order-sm-1 justify-content-center justify-content-sm-start d-flex">
                    <img src="{{ url_for("static", filename="img/logo.svg") }}" alt="sec-certs"
                         class="d-none d-xl-block mw-100"
                         style="filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.15)); margin: 2em;"/>
                    <img src="{{ url_for("static", filename="img/logo_badge.svg") }}" alt="sec-certs"
                         class="d-xl-none mw-100"
                         style="filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.15));"/>
                </div>
            </div>
        </div>

        <div class="row bg-darker-light p-3">
            <div class="col-12 col-sm-10 mx-auto">
                <h2 class="pt-2">Main features</h2>
                <div class="row g-4 py-4 row-cols-1 row-cols-lg-3">
                    <div class="feature col">
                        <div class="feature-icon bg-primary bg-gradient">
                            <i class="fas fa-search fa-fw"></i>
                        </div>
                        <h3>Unified search</h3>
                        <p>Search certificates relevant for your product, filter certificates by categories or status.
                            Explore the certificates without downloading and reading countless PDFs.
                        </p>
                        <p>
                            We download and process certificates weekly, allowing you to search for your favorite Common Criteria and FIPS 140 products.
                        </p>
                        <a href="{{ url_for("cc.merged_search") }}" class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-title="Search in Common Criteria">
                            CC
                        </a>
                        <a href="{{ url_for("pp.merged_search") }}" class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-title="Search in Protection Profiles">
                            PP
                        </a>
                        <a href="{{ url_for("fips.merged_search") }}" class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-title="Search in FIPS 140">
                            FIPS
                        </a>
                    </div>
                    <div class="feature col">
                        <div class="feature-icon bg-primary bg-gradient">
                            <i class="fas fa-network-wired fa-fw"></i>
                        </div>
                        <h3>Certificate references</h3>
                        <p>Explore the references between product certificates in a graph. A certificate referencing another certificate often means that its product is built atop of another security relevant product</p>
                        <p>We use AI models and regular expressions to create references between certificates, making it easy for you to find relationships in our reference graphs or certificate details.</p>
                        <a href="{{ url_for("cc.network") }}" class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-title="Show Common Criteria references graph">
                            CC
                        </a>
                        <a href="{{ url_for("fips.network") }}" class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-title="Show FIPS 140 references graph">
                            FIPS
                        </a>
                    </div>
                    <div class="feature col">
                        <div class="feature-icon bg-primary bg-gradient">
                            <i class="fas fa-bug fa-fw"></i>
                        </div>
                        <h3>Vulnerability investigation</h3>
                        <p>
                            Investigate the vulnerabilities affecting certified products.
                        </p>
                        <p>
                            We automatically map certificates to <abbr
                                    title="Common Vulnerabilities and Exposures">CVE</abbr>
                            entries in NIST's National Vulnerability Database affecting them.
                            The information on relevant CVEs is displayed in the appropriate heuristics section
                            on pages of the affected certificates.
                        </p>
                        <a href="{{ url_for("vuln.index", _anchor="cve") }}"
                           class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-title="Search vulnerable certificates by CVE">
                            CVE
                        </a>
                        <a href="{{ url_for("vuln.index", _anchor="cpe") }}"
                           class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-title="Search vulnerable certificates by CPE">
                            CPE
                        </a>
                    </div>
                </div>
                <div class="row g-4 py-4 row-cols-1 row-cols-lg-3">
                    <div class="feature col">
                        <div class="feature-icon bg-primary bg-gradient">
                            <i class="fas fa-chart-line fa-fw"></i>
                        </div>
                        <h3>Trends visualization</h3>
                        <p>
                            Explore our analysis of the evolving security certifications landscape.
                        </p>
                        <p>
                            We generate graphs from certification PDFs by collecting and processing them into machine-readable datasets, which we then publish.
                            You can view example visualizations in the Analysis section. 
                            The results presented here are preliminary - refer to our published 
                            <a href="{{ url_for("about.index", _anchor="research") }}">research</a>
                            for more in-depth insights.
                            
                        </p>
                        <a href="{{ url_for("cc.analysis") }}"
                           class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-title="Show Common Criteria analysis">
                            CC
                        </a>
                        <a href="{{ url_for("fips.analysis") }}"
                           class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-title="Show FIPS 140 analysis">
                            FIPS
                        </a>
                    </div>
                    <div class="feature col">
                        <div class="feature-icon bg-primary bg-gradient">
                            <i class="fas fa-file-alt fa-fw"></i>
                        </div>
                        <h3>Open source & open data</h3>
                        <p>
                            Contribute to our code or download our extracted dataset in machine-readable format.
                        </p>
                        <p>
                            Each week, we collect thousands of certificate files, convert them into machine-readable datasets, 
                            and enrich them with additional metadata. Full datasets are available below, while individual certificate 
                            data can be accessed on each certificate's page.
                        </p>
                        <a href="https://github.com/crocs-muni/sec-certs"
                           class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-title="Show project source codes">
                            GitHub
                        </a>
                        <a href="{{ url_for("cc.data") }}"
                           class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-title="Show Common Criteria datasets">
                            CC
                        </a>
                        <a href="{{ url_for("fips.data") }}"
                           class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-title="Show FIPS 140 datasets">
                            FIPS
                        </a>
                    </div>
                    <div class="feature col">
                        <div class="feature-icon bg-primary bg-gradient">
                            <i class="fas fa-envelope fa-fw"></i>
                        </div>
                        <h3>Change notifications</h3>
                        <p>Subscribe to notifications about a vulnerability affecting a set of
                            certified products, all changes in a set of certified products or about new certificates.</p>
                        {% if not config["SUBSCRIPTIONS_ENABLED"] %}
                            <p>Notification subscriptions are currently disabled.</p>
                        {% endif %}
                        <p>Subscribe using the button <span class="fa-stack fa-2x" style="font-size: 0.8rem; cursor: pointer" onclick="new bootstrap.Modal('#notification-modal').show();">
                            <i class="fas fa-square fa-stack-2x text-secondary"
                               style="vertical-align: middle"></i>
                            <i class="fas fa-envelope fa-stack-1x text-light"
                               style="vertical-align: middle"></i>
                        </span> in certificate details.
                        </p>
                        {#
                        <p>Alternatively, use the update feed button <span class="fa-stack fa-2x"
                                                                           style="font-size: 0.8rem">
                            <i class="fas fa-square fa-stack-2x text-secondary"
                               style="vertical-align: middle"></i>
                            <i class="fas fa-feed fa-stack-1x text-light"
                               style="vertical-align: middle"></i>
                        </span> to get an ATOM feed of updates to a certificate.
                        </p>
                     #}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-10 mx-auto">
            <div class="row p-3 py-md-5">
                <div class="col-12 col-lg-6 gy-3">
                    <h3>Deploy it yourself!</h3>
                    <p>The tools used to create the datasets on this website as well as the datasets themselves are
                        open-source and available on our GitHub. Documentation, including a quick-start guide,
                        can be found on below.
                    </p>
                    <a class="btn btn-primary m-1" href="https://github.com/crocs-muni/sec-certs">GitHub</a>
                    <a class="btn btn-primary m-1" href="{{ url_for("docs.serve_docs", path="index.html") }}">Docs</a>
                    <a class="btn btn-primary m-1" href="{{ url_for("about.changelog") }}">Changelog</a>
                </div>
                <div class="col-12 col-lg-6 gy-3">
                    <h3>About</h3>
                    <p>Want to learn more about our research? More information, including our publications and
                        the privacy policy of this site can be found on our about page.</p>
                    <a class="btn btn-primary m-1" href="{{ url_for(".about.index") }}">About</a>
                    <a class="btn btn-primary m-1" href="{{ url_for(".about.research") }}">Research</a>
                    
                </div>
            </div>
        </div>
    </main>
{% endblock %}
