{% extends "base.html.jinja2" %}
{% set canonical = True %}
{% block content %}
    <main>
        <div class="col-10 mx-auto p-3 py-md-5">
            <div class="row mb-3 g-4 justify-content-between row-cols-1 row-cols-lg-2">
                <div class="col-12 col-sm-5 order-1 order-sm-0">
                    <h1>Security Certifications</h1>
                    <p class="lead fw-light pt-2">
                        Security certification frameworks like Common Criteria and FIPS 140 form a large landscape
                        of thousands of certificates, security targets and protection profiles.
                        This site presents ongoing research on this landscape done by the
                        <a href="https://crocs.fi.muni.cz" target="_blank" rel="noopener">Centre for Research on Cryptography and Security</a>.
                    </p>
                </div>
                <div class="col-12 col-sm-7 order-0 order-sm-1 justify-content-center justify-content-sm-start d-flex">
                    <img src="{{ url_for("static", filename="img/logo.svg") }}" alt="sec-certs"
                         class="d-none d-xl-block"
                         style="filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.15)); margin: 2em;"/>
                    <img src="{{ url_for("static", filename="img/logo_badge.svg") }}" alt="sec-certs"
                         class="d-xl-none"
                         style="filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.15));"/>
                </div>
            </div>

            <div class="row my-5 g-4 row-cols-1 row-cols-lg-4">
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Common Criteria</h4>
                            <p class="card-text" style="height: 3em">Want to explore Common Criteria certificates?</p>
                            <a href="{{ url_for("cc.index") }}" class="btn btn-primary">Go</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Protection Profiles</h4>
                            <p class="card-text">Want to explore Protection Profiles of Common Criteria
                                certificates?</p>
                            <a href="{{ url_for("pp.index") }}" class="btn btn-primary">Go</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">FIPS 140</h4>
                            <p class="card-text">Want to explore FIPS 140-2 and 140-3 certificates?</p>
                            <a href="{{ url_for("fips.index") }}" class="btn btn-primary">Go</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Vulnerabilities</h4>
                            <p class="card-text">Want to explore how vulnerabilities affect certified products?</p>
                            <a href="{{ url_for("vuln.index") }}" class="btn btn-primary">Go</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row bg-dark p-3">
            <div class="col-10 mx-auto text-light">
                <h2 class="pt-2">Use cases</h2>
                <div class="row g-4 py-4 row-cols-1 row-cols-lg-3">
                    <div class="feature col">
                        <div class="feature-icon bg-primary bg-gradient">
                            <i class="fas fa-search fa-fw"></i>
                        </div>
                        <h3>Search</h3>
                        <p>Search through our extracted certificate data, filter by categories or status.
                            Explore the certificates without downloading and reading countless PDFs.</p>
                        <a class="btn btn-outline-light btn-sm border-secondary" data-bs-toggle="collapse"
                           href="#searchCollapse"
                           role="button" aria-expanded="false" aria-controls="searchCollapse">Read more
                            <i class="fas fa-chevron-down"></i>
                            <i class="fas fa-chevron-up"></i></a>
                        <div class="collapse" id="searchCollapse">
                            <div class="bg-dark my-3">
                                <p>
                                    Compare certificates using the <span class="fa-stack fa-2x"
                                                                             style="font-size: 0.8rem">
                                    <i class="fas fa-square fa-stack-2x text-secondary"
                                       style="vertical-align: middle"></i>
                                    <i class="fas fa-scale-balanced fa-stack-1x text-light"
                                       style="vertical-align: middle"></i>
                                </span> button to see differences between them.
                                </p>
                                <a href="{{ url_for("cc.search") }}" class="btn btn-outline-secondary btn-sm">
                                    CC
                                </a>
                                <a href="{{ url_for("pp.search") }}" class="btn btn-outline-secondary btn-sm">
                                    PP
                                </a>
                                <a href="{{ url_for("fips.search") }}" class="btn btn-outline-secondary btn-sm">
                                    FIPS
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="feature col">
                        <div class="feature-icon bg-primary bg-gradient">
                            <i class="fas fa-network-wired fa-fw"></i>
                        </div>
                        <h3>References</h3>
                        <p>Explore the references between certificates in a graph. A certificate
                            referencing another certificate often means that it builds on top of the referenced
                            certificate.</p>
                        <a class="btn btn-outline-light btn-sm border-secondary" data-bs-toggle="collapse"
                           href="#networkCollapse"
                           role="button" aria-expanded="false" aria-controls="networkCollapse">Read more
                            <i class="fas fa-chevron-down"></i>
                            <i class="fas fa-chevron-up"></i></a>
                        <div class="collapse" id="networkCollapse">
                            <div class="bg-dark my-3">
                                <a href="{{ url_for("cc.network") }}" class="btn btn-outline-secondary btn-sm">
                                    CC
                                </a>
                                <a href="{{ url_for("fips.network") }}" class="btn btn-outline-secondary btn-sm">
                                    FIPS
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="feature col">
                        <div class="feature-icon bg-primary bg-gradient">
                            <i class="fas fa-envelope fa-fw"></i>
                        </div>
                        <h3>Notifications</h3>
                        <p>Subscribe to receive notifications about a vulnerability affecting a selected set of
                            certified products.</p>
                        <a class="btn btn-outline-light btn-sm border-secondary" data-bs-toggle="collapse"
                           href="#notificationsCollapse"
                           role="button" aria-expanded="false" aria-controls="notificationsCollapse">Read more
                            <i class="fas fa-chevron-down"></i>
                            <i class="fas fa-chevron-up"></i></a>
                        <div class="collapse" id="notificationsCollapse">
                            <div class="bg-dark my-3">
                                {% if not config["SUBSCRIPTIONS_ENABLED"] %}
                                    <p>Notification subscriptions are currently disabled.</p>
                                {% endif %}
                                <p>Use the floating button <span class="fa-stack fa-2x" style="font-size: 0.8rem">
                                    <i class="fas fa-square fa-stack-2x text-secondary"
                                       style="vertical-align: middle"></i>
                                    <i class="fas fa-envelope fa-stack-1x text-light"
                                       style="vertical-align: middle"></i>
                                </span> in the bottom right corner of the page to add certificates
                                    to your selection from the certificate page or the search page. Once you
                                    are finished with your selection you can enter your email and subscribe for
                                    notifications about changes in the certificates or vulnerabilities affecting the
                                    certificates.
                                </p>
                                <p>Alternatively, use the update feed button <span class="fa-stack fa-2x"
                                                                                   style="font-size: 0.8rem">
                                    <i class="fas fa-square fa-stack-2x text-secondary"
                                       style="vertical-align: middle"></i>
                                    <i class="fas fa-feed fa-stack-1x text-light"
                                       style="vertical-align: middle"></i>
                                </span> to get an ATOM feed of updates to a certificate.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-4 py-4 row-cols-1 row-cols-lg-3">
                    <div class="feature col">
                        <div class="feature-icon bg-primary bg-gradient">
                            <i class="fas fa-file-alt fa-fw"></i>
                        </div>
                        <h3>Data</h3>
                        <p>Download our extracted dataset in machine-readable format.</p>
                        <a class="btn btn-outline-light btn-sm border-secondary" data-bs-toggle="collapse"
                           href="#dataCollapse"
                           role="button" aria-expanded="false" aria-controls="dataCollapse">Read more
                            <i class="fas fa-chevron-down"></i>
                            <i class="fas fa-chevron-up"></i></a>
                        <div class="collapse" id="dataCollapse">
                            <div class="bg-dark my-3">
                                <p>The full datasets are available below, while
                                    individual certificate data is available on each certificate page.
                                </p>
                                <a href="{{ url_for("cc.index", _anchor="data") }}"
                                   class="btn btn-outline-secondary btn-sm">
                                    CC
                                </a>
                                <a href="{{ url_for("fips.index", _anchor="data") }}"
                                   class="btn btn-outline-secondary btn-sm">
                                    FIPS
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="feature col">
                        <div class="feature-icon bg-primary bg-gradient">
                            <i class="fas fa-chart-line fa-fw"></i>
                        </div>
                        <h3>Analysis</h3>
                        <p>Explore our analysis of the security certifications landscape as it evolves over time.</p>
                        <a class="btn btn-outline-light btn-sm border-secondary" data-bs-toggle="collapse"
                           href="#analysisCollapse"
                           role="button" aria-expanded="false" aria-controls="analysisCollapse">Read more
                            <i class="fas fa-chevron-down"></i>
                            <i class="fas fa-chevron-up"></i></a>
                        <div class="collapse" id="analysisCollapse">
                            <div class="bg-dark my-3">
                                <p>The analysis results presented here are preliminary, for more, see our
                                    <a href="{{ url_for("about", _anchor="research") }}">research</a>.</p>
                                <a href="{{ url_for("cc.analysis") }}"
                                   class="btn btn-outline-secondary btn-sm">
                                    CC
                                </a>
                                <a href="{{ url_for("pp.analysis") }}"
                                   class="btn btn-outline-secondary btn-sm">
                                    PP
                                </a>
                                <a href="{{ url_for("fips.analysis") }}"
                                   class="btn btn-outline-secondary btn-sm">
                                    FIPS
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="feature col">
                        <div class="feature-icon bg-primary bg-gradient">
                            <i class="fas fa-users fa-fw"></i>
                        </div>
                        <h3>Crowdsourcing</h3>
                        <p>Help us improve this site by letting us know where data is missing or wrong.</p>
                        <a class="btn btn-outline-light btn-sm border-secondary" data-bs-toggle="collapse"
                           href="#crowdsourcingCollapse"
                           role="button" aria-expanded="false" aria-controls="crowdsourcingCollapse">Read more
                            <i class="fas fa-chevron-down"></i>
                            <i class="fas fa-chevron-up"></i></a>
                        <div class="collapse" id="crowdsourcingCollapse">
                            <div class="bg-dark my-3">
                                <p>Use the feedback bar <span class="fa-stack fa-2x" style="font-size: 0.8rem">
                                    <i class="fas fa-circle fa-stack-2x text-secondary"
                                       style="vertical-align: middle"></i>
                                    <i class="fas fa-question fa-stack-1x text-light"
                                       style="vertical-align: middle"></i>
                                </span> on the right side of each certificate page. You can use it to give us feedback
                                    on individual data fields of the presented certificate, create a GitHub issue with
                                    your issue or feature request, or emails us with your input.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-10 mx-auto">
            <div class="row p-3 py-md-5">
                <div class="col-12 col-md-6">
                    <h3>Do it yourself!</h3>
                    <p>The tools used to create the datasets on this website as well as the datasets themselves are
                        open-source and available on <a href="https://github.com/crocs-muni/sec-certs">GitHub</a>.
                        Documentation, including a quick-start guide, can be found on
                        <a href="{{ url_for("docs.serve_docs", path="index.html") }}">this site</a>.
                    </p>
                </div>
                <div class="col-12 col-md-6">
                    <h3>About</h3>
                    <p>Want to learn more about our research? More information, including our publications and
                        the privacy policy of this site can be found <a href="{{ url_for(".about") }}">here</a>.</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
