<div class="card">
    <div class="card-body">
        <h5 class="card-title">New Protection Profile</h5>
        <p class="card-text">A new Protection Profile with the name <b>{{ cert["web_data"]["name"] }}</b>
            was processed.</p>
        {% if linkback %}
            <a href="{{ url_for("pp.entry", hashid=hashid) }}" class="card-link">Profile page</a>
        {% endif %}
    </div>
</div>