<div class="card">
    <div class="card-body">
        <h5 class="card-title">Certificate changed</h5>
        {% if name %}
            <b>{{ cert["web_data"]["module_name"] }}</b>
        {% endif %}
        {% for (change, plural), details in changes %}
            <p class="card-text">
                The {{ change }} {% if plural %}were{% else %}was{% endif %} updated.
            </p>
            {% if details %}
                <ul class="mb-1">
                    {% for detail in details %}
                        <li>{{ detail }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
        {% if linkback %}
            <a href="{{ url_for("fips.entry", hashid=hashid) }}" class="card-link">Certificate page</a>
        {% endif %}
    </div>
</div>

