<div class="card">
    <div class="card-body">
        <h5 class="card-title">Certificate removed</h5>
        <p class="card-text">A FIPS 140 certificate for a product named <b>{{ cert["web_data"]["module_name"] }}</b>
            is not available. This means that its entry was removed from the NIST CMVP site (or that was
            replaced by a new entry).</p>
        {% if linkback %}
            <a href="{{ url_for("fips.entry", hashid=hashid) }}" class="card-link">Certificate page</a>
        {% endif %}
    </div>
</div>