{% extends "common/updates/index.html.jinja2" %}

{% block scheme_name %}Protection Profiles{% endblock %}
{% block entity %}profiles{% endblock %}
{% block storage_key %}pp-col-visibility{% endblock %}

{% block lead %}
    Protection profiles that were first processed, changed, or disappeared from the source listing
    in one of our periodic updates of the protection profile dataset.
{% endblock %}

{% block cols %}[
    { key: 'name',              label: 'Name',               defaultVisible: true  },
    { key: 'scheme',            label: 'Scheme',             defaultVisible: true  },
    { key: 'status',            label: 'Status',             defaultVisible: true  },
    { key: 'not_valid_before',  label: 'Certification date', defaultVisible: true  },
    { key: 'not_valid_after',   label: 'Archive date',       defaultVisible: true  },
]{% endblock %}

{% block results %}
    {% include "pp/search/_search_table.html.jinja2" %}
{% endblock %}
