{% extends "common/base.html.jinja2" %}

{% set canonical = True %}
{% block title %}
    <title>Protection Profiles analysis | sec-certs.org</title>
{% endblock %}
{% block content %}
    <main>
        <div class="home-container px-3 px-md-4 pt-4 pb-4">
            <div class="d-flex align-items-baseline gap-2 mb-3">
                <h1 class="h2">Protection Profiles</h1>
                <span class="text-secondary fs-4">Analysis</span>
            </div>
            <div class="row">
                <div class="col-sm-6" data-cs-name="Missing content">
                    <p class="text-body" style="max-width: 100ch"><i class="fas fa-hammer fa-spin"></i> There is no content here, but we are working
                        on it. In the meantime, see our <a
                                href="{{ url_for("about.research") }}">research</a> and
                        the <a href="https://sec-certs.org/docs/notebooks/examples/est_solution.html">notebooks</a> in
                        our documentation.
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}