{% extends "common/base.html.jinja2" %}
{% set crumbs = True %}
{% set search = True %}
{% set canonical = True %}
{% block title %}
    <title>Protection Profiles analysis | sec-certs.org</title>
{% endblock %}
{% block content %}
    <main>
        <div class="col-12 col-sm-10 mx-auto p-3 py-md-5">
            <h1 class="mb-4">Protection Profiles</h1>
            <div class="row">
                <div class="col-sm-6" data-cs-name="Missing content">
                    <p class="lead"><i class="fas fa-hammer fa-spin"></i> There is no content here, but we are working
                        on it. In the meantime, see our <a
                                href="{{ url_for("about", _anchor="research") }}">research</a> and
                        the <a href="https://sec-certs.org/docs/notebooks/examples/est_solution.html">notebooks</a> in
                        our documentation.
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}