{% extends "common/base.html.jinja2" %}
{% set crumbs = True %}
{% set search = True %}
{% block title %}
    <title>Protection Profiles | sec-certs.org</title>
{% endblock %}
{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for(".search") }}">Search</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for(".network") }}">References</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for(".analysis") }}">Analysis</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for(".rand") }}">Random</a>
    </li>
{% endblock %}
{% block content %}
    <main>
        <div class="col-12 col-sm-10 mx-auto p-3 py-md-5">
            <div class="row mb-3 g-4 justify-content-start row-cols-1 row-cols-lg-2">
                <div class="col-sm-10 col-md-5 order-1 order-md-0">
                    <h1>Protection Profiles</h1>
                    <p class="lead">The protection profiles are collected from the Common Criteria portal
                        <a href="https://www.commoncriteriaportal.org/" target="_blank">www.commoncriteriaportal.org <i
                                class="fas fa-external-link-alt"></i></a>.</p>
                </div>
                <div class="col-5 d-flex justify-content-md-center align-items-md-center order-0 order-md-1">
                    <img src="{{ url_for("static", filename="img/cc_logo.svg") }}" alt="CC Protection Profiles"
                         class="part-logo"
                         style="width: 10em"/>
                </div>
            </div>
        </div>
        <div class="row bg-dark p-3">
            <div class="col-12 col-sm-10 mx-auto">
                <div class="row my-5 row-cols-1 row-cols-lg-4 g-4">
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h4 class="card-title">Search</h4>
                                <p class="card-text flex-grow-1">Search and browse through the Protection Profiles and
                                    our extracted
                                    metadata.</p>
                                <div>
                                    <a href="{{ url_for(".mergedSearch") }}" class="btn btn-primary"><i
                                            class="fas fa-search fa-fw"></i> Go</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h4 class="card-title">References</h4>
                                <p class="card-text flex-grow-1">Explore an interactive graph of references of Common
                                    Criteria
                                    certificates and Protection Profiles.</p>
                                <div>
                                    <a href="{{ url_for(".network") }}" class="btn btn-primary"><i
                                            class="fas fa-network-wired fa-fw"></i> Go</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h4 class="card-title">Analysis</h4>
                                <p class="card-text flex-grow-1">View a part of our results of our analysis of the
                                    Protection Profile
                                    data.</p>
                                <div>
                                    <a href="{{ url_for(".analysis") }}" class="btn btn-primary"><i
                                            class="fas fa-chart-line fa-fw"></i> Go</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h4 class="card-title">Example</h4>
                                <p class="card-text flex-grow-1">Look at an example Common Criteria Protection
                                    Profile.</p>
                                <div>
                                    <a href="{{ url_for(".entry", hashid="62c62b4b4210800e") }}"
                                       class="btn btn-primary"><i class="fas fa-file-circle-check"></i> Example</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}