{% extends "common/base.html.jinja2" %}
{% from "fips/utils.html.jinja2" import render_status %}
{% block content %}
    <main>
        <div class="col-12 col-sm-10 mx-auto p-3 py-md-5">
            <h1>Disambiguation</h1>
            <p class="lead">There are several certificates that share the name "<i>{{ name }}</i>":</p>
            <ol>
                {% for cert in certs %}
                    <li>
                        <a href="{{ url_for("fips.entry", hashid=cert["_id"]) }}">#{{ cert["cert_id"] }}</a>, {{ render_status(cert["web_data"]["status"]) }},
                        {% for entry in cert["web_data"]["validation_history"] %}
                            {{ entry["date"]|strftime("%d.%m.%Y") }}
                            {{ ", " if not loop.last else "" }}{% endfor %} - {% if cert["web_data"]["date_sunset"] %}
                        {{ cert["web_data"]["date_sunset"]|strftime("%d.%m.%Y") }}{% endif %}</li>
                {% endfor %}
            </ol>
            {% if certs|length == 2 %}
                <a href="{{ url_for("fips.compare", one_hashid=certs[0]["_id"], other_hashid=certs[1]["_id"]) }}"
                   class="btn btn-primary"><i class="fas fa-fw fa-scale-balanced" aria-hidden="true"></i> Compare the
                    certificates</a>
            {% endif %}
        </div>
    </main>
{% endblock %}