{% extends "common/base.html.jinja2" %}
{% set breadcrumb_title = True %}
{% set canonical = True %}
{% from "include/entry.html.jinja2" import updates_card, raw_data_card %}
{% from "include/utils.html.jinja2" import notification_script with context %}
{% from "include/modals.html.jinja2" import chat_modal with context %}
{% set chat_documents = [
    {"value": "target", "label": "Security policy", "available": local_files.get(("target", "txt"), false)},
] %}
{% block title %}
    <title>
        {{ cert|fips_name|default("", true) + " | sec-certs.org" }}
    </title>
{% endblock %}
{% block metadata %}
    <meta property="description"
          content="FIPS 140 certificate {{ cert|fips_name|default("", true) }}"/>
    <meta property="twitter:card" content="summary"/>
    <meta property="twitter:site" content="@CRoCS_MUNI"/>
    <meta property="twitter:title" content="{{ cert["name"]|default("sec-certs.org", true) }}"/>
    <meta property="twitter:image" content="{{ url_for("static", filename="img/fips_card.png", _external=True) }}"/>
    <meta property="twitter:description"
          content="FIPS 140 certificate {{ cert|fips_name|default("", true) }}"/>
    <meta property="og:title" content="{{ cert|fips_name|default("sec-certs.org", true) }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ url_for(".entry", hashid=hashid, _external=True) }}"/>
    <meta property="og:image" content="{{ url_for("static", filename="img/fips_card.png", _external=True) }}"/>
    <meta property="og:description"
          content="FIPS 140 certificate {{ cert|fips_name|default("", true) }}"/>
    <meta property="og:site_name" content="sec-certs.org"/>
    <meta name="description"
          content="FIPS 140 certificate {{ cert|fips_name|default("", true) }}"/>
{% endblock %}

{% block left_navigation %}
    <div id="left-navigation" class="d-none d-md-block list-group list-group-flush list-group-numbered">
        <h4>Sections</h4>
        <a class="list-group-item list-group-item-action rounded" href="#web-info">Certificate details</a>
        <a class="list-group-item list-group-item-action rounded" href="#doc-info">Security Policy</a>
        <a class="list-group-item list-group-item-action rounded" href="#heuristics-info">Automated analysis</a>
        <a class="list-group-item list-group-item-action rounded" href="#reference-graph">Cross-references</a>
        <a class="list-group-item list-group-item-action rounded" href="#updates">Processing updates</a>
        <a class="list-group-item list-group-item-action rounded" href="#raw-data-head">Raw data</a>
    </div>
{% endblock %}


{% block content %}
    <main tabindex="0" class="shifted-section">
        {% include 'fips/entry/components/header.html.jinja2' %}

        {% include 'fips/entry/components/web_info.html.jinja2' %}

        {% include 'fips/entry/components/security_policy.html.jinja2' %}

        {% include 'fips/entry/components/heuristics.html.jinja2' %}

        {% include 'fips/entry/components/references.html.jinja2' %}

        {{ updates_card(hashid, "certificate", diffs, diff_jsons, diff_renders) }}

        {{ raw_data_card(hashid, json) }}

        <script type="module">
            import {copyLinkToClipboard} from "{{ url_for('static', filename='clipboard.js') }}?{{ static_hash("clipboard.js") }}";
            import {initSectionNav} from "{{ url_for('static', filename='section_nav.js') }}?{{ static_hash("section_nav.js") }}";
            initSectionNav();

            $(".copy-on-click").on("click", function (e) {
                e.preventDefault();
                copyLinkToClipboard($(this));
            });

            window.certificate_data = {
                name: "{{ cert|fips_name|default("", true) }}",
                hashid: "{{ hashid }}",
                type: "fips",
                url: "{{ url_for("fips.entry", hashid=hashid) }}"
            };
        </script>
        {{ notification_script(csrf_token) }}
    </main>
    {% if config["CHAT_ENABLED"] %}
        {{ chat_modal(chat_documents,
                      placeholders=["Describe this certificate.",
                                    "What module was validated by this certificate?",
                                    "What overall security level was this module validated at?",
                                    "Which laboratory performed the validation of this module?",
                                    "When was this module validated?"]) }}
    {% endif %}
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
