{% extends "base.html.jinja2" %}
{% set active_page = "pp" %}
{% block content %}
	<h1>Protection Profiles</h1>
    <div class="row">
        <div class="col-sm-6">
            <p class="lead"><i class="fas fa-hammer fa-spin"></i> There is no content here, but we are working on it.</p>
        </div>
    </div>
{% endblock %}