 #wrapper {
    overflow-x: hidden;
 }

#page-content-wrapper {
  min-width: 100vw;
  margin-top: 57px;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: .75rem;
}

#logo {
  margin-top: calc(100vh - 29rem);
  padding-left: 2rem;
  padding-right: 2rem;
  width: 15rem;
  position: fixed;
}

#logo img {
  width: 100%;
}

.anchor {
    padding-top: 57px;
    margin-top: -57px;
}

.name-list {
  list-style: none;
}

.name-list li:before {
    font-family: 'FontAwesome';
    content: '\f007';
    margin: 0 10px 0 -25px;
    color: black;
}

#content .listing {
  padding: 1em;
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0,0,0,.03)
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

body {
  font-family: "IBM Plex Sans", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}