{% extends "base.html.jinja2" %}
{% set active_page = "cc" %}
{% from "cc/utils.html.jinja2" import cryptography_keywords, device_keywords, security_keywords, other_keywords, render_status, render_sars, render_sfrs, render_category %}
{% from "utils.html.jinja2" import render_network %}
{% block title %}
    <title>
    {{ cert["csv_scan"]["cert_item_name"]|default("") + " | seccerts.org" }}
    </title>
{% endblock %}
{% block navbar %}
    {{ super() }}
    {% if "csv_scan" in cert %}
        <li class="nav-item">
            <a class="nav-link" href="#csv-info">CSV</a>
        </li>
    {% endif %}
    {% if "frontpage_scan" in cert %}
        <li class="nav-item">
            <a class="nav-link" href="#frontpage-info">Frontpage</a>
        </li>
    {% endif %}
    {% if "keywords_scan" in cert or "st_keywords_scan" in cert or "processed" in cert %}
        <li class="nav-item">
            <a class="nav-link" href="#doc-info">Document</a>
        </li>
    {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="#reference-graph">References</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#raw-data-head">Raw data</a>
        </li>
{% endblock %}
{% block content %}
    <main>
        <div class="col-10 mx-auto p-3 py-md-5">
    <div>
	<h1>{{ cert["csv_scan"]["cert_item_name"]|default("") }}</h1>

	{% if "csv_scan" in cert %}
		<div class="mt-5 mb-5">
		<h2 class="anchor" id="csv-info">CSV information
		<span style="font-size: 0.5em; vertical-align: middle" tabindex="0" class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Information extracted from the CSV certificate database provided by the Common Criteria portal.">?</span></h2>
		<b>Status:</b>{{ render_status(cert["csv_scan"]["cert_status"]) }}<br/>

		<b>Certification date:</b>
		{{ cert["csv_scan"]["cc_certification_date"].strftime("%d-%m-%Y") }}
		<br/>
		{% if cert["csv_scan"]["cc_archived_date"] %}
		<b>Archived date:</b>
		{{ cert["csv_scan"]["cc_archived_date"].strftime("%d-%m-%Y") }}
		<br/>
		{% endif %}
		<b>Scheme:</b>
		<span title="{{ cert['csv_scan']['cc_scheme'] }}">{{ country_to_flag(cert["csv_scan"]["cc_scheme"]) }}</span>
		<br/>
		<b>Manufacturer:</b>
		{{ cert["csv_scan"]["cc_manufacturer"] }}
		<br/>
		<b>Category:</b>
		{{ render_category(cert["csv_scan"]["cc_category"]) }} {{ cert["csv_scan"]["cc_category"] }}
		<br/>
		<b>Security level:</b>
		{{ cert["csv_scan"]["cc_security_level"] }}
		<br/>
		{% if cert["csv_scan"]["cc_protection_profiles"] %}
		<b>Protection profiles:</b>
		{{ cert["csv_scan"]["cc_protection_profiles"] }}
		<br/>
		{% endif %}
		{# TODO: Parse maintenance reports! #}	

		<div class="mt-2 mb-2">
			<a class="btn btn-primary" role="button" href="{{ cert['csv_scan']['link_cert_report'] }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ cert['csv_scan']['link_cert_report_file_name'] }}"><i class="fas fa-file-contract"></i> Certification report</a>
			<a class="btn btn-primary" role="button" href="{{ cert['csv_scan']['link_security_target'] }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ cert['csv_scan']['link_security_target_file_name'] }}"><i class="fas fa-file-alt"></i> Security target</a>
		</div>
		</div>
	{% endif %}

	{% if "frontpage_scan" in cert %}
		<div class="mt-5 mb-5">
		<h2 class="anchor" id="frontpage-info">Frontpage information
		<span style="font-size: 0.5em; vertical-align: middle" tabindex="0" class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Information extracted from the frontpage of the certificate document.">?</span></h2>
		
		{% if "cert_id" in cert["frontpage_scan"] %}
		<b>Certificate ID:</b>
		{{ cert["frontpage_scan"]["cert_id"] }}
		<br/>
		{% endif %}
		{% if "cert_item" in cert["frontpage_scan"] %}
		<b>Certified item:</b>
		{{ cert["frontpage_scan"]["cert_item"] }}
		<br/>
		{% endif %}
		{% if "cert_item_version" in cert["frontpage_scan"] %}
		<b>Certified version:</b>
		{{ cert["frontpage_scan"]["cert_item_version"] }}
		<br/>
		{% endif %}
		{% if "cert_lab" in cert["frontpage_scan"] %}
		<b>Certification lab:</b>
		{{ cert["frontpage_scan"]["cert_lab"] }}
		<br/>
		{% endif %}
		{% if "developer" in cert["frontpage_scan"] %}
		<b>Developer:</b>
		{{ cert["frontpage_scan"]["developer"] }}
		<br/>
		{% endif %}
		{% if "cc_security_level" in cert["frontpage_scan"] %}
		<b>Security level:</b>
		{{ cert["frontpage_scan"]["cc_security_level"] }}
		<br/>
		{% endif %}
		</div>
	{% endif %}


	{% if "keywords_scan" in cert or "st_keywords_scan" in cert or "processed" in cert %}
		<div class="mt-5 mb-5">
		<h2 class="anchor" id="doc-info">Document information
		<span style="font-size: 0.5em; vertical-align: middle" tabindex="0" class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Information automatically extracted from the certificate and security target documents. Might contain errors.">?</span></h2>
		{% if "processed" in cert %}
			{% if "cert_id" in cert["processed"] %}
				<b>Certificate ID:</b>
				{{ cert["processed"]["cert_id"] }}
				<br/>
			{% endif %}
			{% if "cert_lab" in cert["processed"] %}
				<b>Evaluation lab:</b>
				{{ cert["processed"]["cert_lab"] }}
				<br/>
			{% endif %}
			{% if "cert_lifetime_length" in cert["processed"] %}
				<b>Certificate lifetime (years):</b>
				{{ cert["processed"]["cert_lifetime_length"] }}
				<br/>
			{% endif %}
		{% endif %}

		{% if "keywords_scan" in cert %}
			<h3 class="mt-4"><i class="fas fa-file-contract"></i> Certificate
            <a role="button" href="{{ cert['csv_scan']['link_cert_report'] }}" style="font-size: 0.4em; vertical-align: middle" tabindex="0" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Download."><i class="fas fa-fw fa-download"></i></a></h3>
			{{ cryptography_keywords(cert["keywords_scan"], "cert") }}
			{{ device_keywords(cert["keywords_scan"], "cert") }}
			{{ security_keywords(cert["keywords_scan"], "cert", hidden=["rules_security_level"], map_funcs={"rules_security_assurance_components": render_sars,
							 																				"rules_security_functional_components": render_sfrs}) }}
			{{ other_keywords(cert["keywords_scan"], "cert") }}
		{% endif %}

		{% if "st_keywords_scan" in cert %}
			<h3 class="mt-4"><i class="fas fa-file-alt"></i> Security target
             <a role="button" href="{{ cert['csv_scan']['link_security_target'] }}" style="font-size: 0.4em; vertical-align: middle" tabindex="0" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Download."><i class="fas fa-fw fa-download"></i></a></h3>
			{{ cryptography_keywords(cert["st_keywords_scan"], "target") }}
			{{ device_keywords(cert["st_keywords_scan"], "target") }}
			{{ security_keywords(cert["st_keywords_scan"], "target", map_funcs={"rules_security_assurance_components": render_sars,
									 											"rules_security_functional_components": render_sfrs}) }}
			{{ other_keywords(cert["st_keywords_scan"], "target") }}
		{% endif %}
		</div>
	{% endif %}

    <div class="mt-5 mb-5">
        <h2 class="anchor" id="reference-graph">References
		<span style="font-size: 0.5em; vertical-align: middle" tabindex="0" class="badge badge-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Information automatically extracted from the certificate and security target documents. Might contain errors.">?</span></h2>
        <div class="border">
        {{ render_network(url_for('.entry_graph_json', hashid=hashid), url_for('.categories'), height=400, linkDistance=45, linkCharge=-140, highlight=[hashid]) }}
        </div>
    </div>

    <div class="mt-5 mb-5">
		<h2 class="anchor" id="raw-data-head">Raw data
		<button id="raw-data-button" type="button" data-bs-toggle="collapse" data-bs-target="#raw-data" style="font-size: 0.4em; vertical-align: middle" tabindex="0" class="btn btn-primary" title="Toggle."><i class="fas fa-fw fa-plus"></i></button>
		<a role="button" href="{{ url_for('.entry_json', hashid=hashid) }}" style="font-size: 0.4em; vertical-align: middle" tabindex="0" class="btn btn-primary" title="Download."><i class="fas fa-fw fa-download"></i></a></h2>
		<pre id="raw-data" class="listing collapse mt-3"><code>{{ cert|tojson(indent=2) }}</code></pre>
	</div>
	<script>
        $(function () {
            let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            tooltipTriggerList.map(function (tooltipTriggerEl) {
              return new bootstrap.Tooltip(tooltipTriggerEl)
            })
           new bootstrap.Tooltip($("#raw-data-button").get(0));
        });
		$('#raw-data').on('show.bs.collapse', function () {
			$("#raw-data-button i").toggleClass("fa-plus").toggleClass("fa-minus");
		});
		$('#raw-data').on('hide.bs.collapse', function () {
			$("#raw-data-button i").toggleClass("fa-plus").toggleClass("fa-minus");
		});
	</script>
    </div>
        </div>
    </main>
{% endblock %}