{% extends "base.html.jinja2" %}
{% block content %}
	<h1>Common Criteria</h1>
	<ul>
	{% for hashid, name in certs.items() %}
		<li><a href="{{ url_for('cc', hashid=hashid) }}">{{ name }}</a></li>
	{% endfor %}
	</ul>
{% endblock %}