{% extends "base.html.jinja2" %}
{% block content %}
	<h1>Common Criteria</h1>
	<ul>
	{% for cert_name in certs %}
		<li><a href="{{ url_for('cc', path=cert_name) }}">{{ cert_name }}</a></li>
	{% endfor %}
	</ul>
{% endblock %}