{% extends "base.html.jinja2" %}
{% from "cc/utils.html.jinja2" import render_network %}
{% block content %}
    <h1 class="mb-2">Common Criteria</h1>
    {{ render_network(network) }}
{% endblock %}
