{% extends "base.html.jinja2" %}
{% set active_page = "cc" %}
{% from "cc/utils.html.jinja2" import render_pagination %}
{% block content %}
    <h1>Common Criteria</h1>
    <div class="card mt-3 mt-4 mb-4">
        <div class="card-body container">
            <div id="name" class="mt-1 mb-3">
                <h4><label for="search">Name</label></h4>
                <div class="form-inline">
                    <input id="search" class="form-control" placeholder="Search" type="search" value="{{ q|default('', true) }}"/>
                    <button id="search-btn" class="btn btn-primary">Search</button>
                </div>
                <small class="text-muted">Search by certificate name (case-insensitive, e.g. Infineon, card, applet).</small>
            </div>
            <div id="categories" class="mt-3 mb-3">
                <h4>Categories</h4><button id="cat-select-all" class="btn btn-outline-primary">Select all</button><button id="cat-deselect-all" class="btn btn-outline-primary">Deselect all</button>
                <div id="search-categories" class="row">
                    {% for name, val in categories.items() %}
                        {% if loop.index0 % 5 == 0 %}
                            <div class="col">
                        {% endif %}
                        <div class="form-check">
                            <span>
                                <input id="category-{{ val['id'] }}" type="checkbox" class="form-check-input" data-id="{{ val['id'] }}" {% if val["selected"] %}checked{% endif %}>
                                <label class="form-check-label" for="category-{{ val['id'] }}">
                                    <i class="fas fa-fw {{ val['icon'] }}"></i> {{ name }}
                                </label>
                            </span>
                        </div>
                        {% if (loop.index0 + 1) % 5 == 0 %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="mt-3 mb-3">
            <h4><label for="search-status">Status</label></h4>
                <select id="search-status" class="form-control">
                    <option value="any" {% if status == "any" %}selected="selected"{% endif %}>Any</option>
                    <option value="active" class="text-success" {% if status == "active" %}selected="selected"{% endif %}>Active</option>
                    <option value="archived" class="text-warning" {% if status == "archived" %}selected="selected"{% endif %}>Archived</option>
                </select>
            </div>
            <div class="mt-3 mb-3">
            <h4><label for="search-sort">Sort</label></h4>
                <select id="search-sort" class="form-control">
                    <option value="match" {% if sort == "match" %}selected="selected"{% endif %}>Match</option>
                    <option value="name" {% if sort == "name" %}selected="selected"{% endif %}>Name</option>
                    <option value="cert_date" {% if sort == "cert_date" %}selected="selected"{% endif %}>Certification date</option>
                    <option value="archive_date" {% if sort == "archive_date" %}selected="selected"{% endif %}>Archive date</option>
                </select>
            </div>

        </div>
    </div>
    <style>
        #search-categories div {
            display: flex;
            flex-direction: column;
        }
    </style>
    <script>
        function searchParams() {
            let status = $("#search-status").val();
            let sort = $("#search-sort").val();
            let categories = $.makeArray($("#search-categories input").filter(":checked").map((i, elem) => $(elem).data("id"))).join("");
            return $.param({q: $("#search").val(), cat: categories, status: status, sort: sort});
        }
        function fullSearch() {
            location.href = "{{ url_for("cc.search") }}?" + searchParams();
        }
        function quickSearch() {
            $.ajax({
                url: "{{ url_for("cc.search_pagination") }}?" + searchParams()
            }).done(function (data) {
                $("#pagination").replaceWith(data);
            });
        }

        $("#search-btn").click(fullSearch);
        $("#search-categories input").change(quickSearch);
        $("#search-status").change(quickSearch);
        $("#search-sort").change(quickSearch);
        $("#search").change(quickSearch);
        $("#search").keyup(function (e) {
            if (e.keyCode === 13) {
                fullSearch();
            } else {
                quickSearch();
            }
        });
        $("#cat-select-all").click(function() {
            $("#search-categories input").prop("checked", true);
            quickSearch();
        });
        $("#cat-deselect-all").click(function() {
            $("#search-categories input").prop("checked", false);
            quickSearch();
        });
    </script>
    {{ render_pagination(pagination, certs, search=True) }}
{% endblock %}