{% extends "base.html.jinja2" %}
{% set crumbs = True %}
{% set search = True %}
{% block content %}
    <main>
        <div class="col-10 mx-auto p-3 py-md-5">
            <h1 class="mb-4">FIPS 140</h1>
            <div class="row">
                <div class="col-sm-6">
                    <p class="lead"><i class="fas fa-hammer fa-spin"></i> There is no content here, but we are working on it.</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
