{% extends "common/base.html.jinja2" %}
{% set canonical = True %}
{% from "include/utils.html.jinja2" import search_box %}
{% block title %}
    <title>EUCC | sec-certs.org</title>
{% endblock %}

{% block content %}
    <main class="scheme-home">
        <div class="col-12 col-sm-10 mx-auto p-3 pt-md-5 pb-md-4">
            <h1>EUCC</h1>
            <p class="pt-2">
                The EU Cybersecurity Certification Scheme on Common Criteria (EUCC) certificates are sourced from the EUCC portal at
                <a href="https://certification.enisa.europa.eu/"
                   target="_blank" rel="noopener">certification.enisa.europa.eu</a>.
                The site provides certificates, each accompanied by a metadata table. These listings, along with
                associated artifacts such as reports, security targets, and the certificates themselves, were
                scraped to gather the data provided here.
            </p>
            <p class="pt-2">
                Search our database for EUCC certificates, discover the extracted metadata and keywords,
                filter them and use other advanced filtering.
            </p>
        </div>
        {{ search_box("eucc", "Search EUCC certificates", "Certificate name, vendor",
                      url_for('.merged_search'), url_for('.rand'), "mb-3 mb-md-4") }}
        <div class="col-12 col-sm-10 mx-auto p-3 pb-md-5">
            <div class="card">
                <div class="card-body p-4">
                    <div class="d-flex align-items-center gap-3 mb-3">
                        <div class="feature-icon-sm bg-primary bg-gradient">
                            <i class="fas fa-file-alt fa-fw"></i>
                        </div>
                        <h2 class="h5 mb-0">Data</h2>
                    </div>
                    <p>Want to process all EUCC data on your own? Download our prepared datasets and analyse them.</p>
                    <a href="{{ url_for('.data') }}" class="btn btn-primary">Download datasets →</a>
                </div>
            </div>
        </div>

    </main>
{% endblock %}
