{% extends "common/base.html.jinja2" %}

{% from "cc/utils.html.jinja2" import render_status %}
{% block content %}
    <main>
        <div class="col-12 col-sm-10 mx-auto p-3 py-md-5">
            <p class="lead">There are several protection profiles that share the name "<i>{{ name }}</i>":</p>
            <ol>
                {% for pp in pps %}
                    <li><a href="{{ url_for("pp.entry", hashid=pp["_id"]) }}">{{ pp["web_data"]["name"] }}</a>, {{ render_status(pp["web_data"]["status"]) }}, {{ pp["web_data"]["not_valid_before"] }}</li>
                {% endfor %}
            </ol>
        </div>
    </main>
{% endblock %}