{% extends "common/base.html.jinja2" %}

{% from "cc/include.html.jinja2" import render_status %}
{% block content %}
    <main>
        <div class="home-container px-3 px-md-4 pt-md-4 pb-4">
            <p class="lead">There are several protection profiles that share the name "<i>{{ name }}</i>":</p>
            <ol>
                {% for pp in pps %}
                    <li><a href="{{ url_for("pp.entry", hashid=pp["_id"]) }}">{{ pp["web_data"]["name"] }}</a>, {{ render_status(pp["web_data"]["status"]) }}, {{ pp["web_data"]["not_valid_before"]|na("%d.%m.%Y") }}</li>
                {% endfor %}
            </ol>
        </div>
    </main>
{% endblock %}