accessible-pygments==0.0.4
    # via pydata-sphinx-theme
aiohttp==3.9.0
    # via
    #   datasets
    #   fsspec
aiosignal==1.3.1
    # via aiohttp
alabaster==0.7.13
    # via sphinx
annotated-types==0.6.0
    # via pydantic
appnope==0.1.3
    # via
    #   ipykernel
    #   ipython
asttokens==2.4.1
    # via stack-data
async-timeout==4.0.3
    # via aiohttp
attrs==23.1.0
    # via
    #   aiohttp
    #   jsonschema
    #   jupyter-cache
    #   referencing
babel==2.13.1
    # via
    #   pydata-sphinx-theme
    #   sphinx
beautifulsoup4==4.12.2
    # via
    #   pydata-sphinx-theme
    #   sec-certs (./../pyproject.toml)
blis==0.7.11
    # via thinc
build==1.0.3
    # via pip-tools
catalogue==2.0.10
    # via
    #   spacy
    #   srsly
    #   thinc
certifi==2023.11.17
    # via requests
cffi==1.16.0
    # via cryptography
cfgv==3.4.0
    # via pre-commit
charset-normalizer==3.3.2
    # via requests
click==8.1.7
    # via
    #   jupyter-cache
    #   pip-tools
    #   sec-certs (./../pyproject.toml)
    #   typer
cloudpathlib==0.16.0
    # via weasel
comm==0.2.0
    # via
    #   ipykernel
    #   ipywidgets
confection==0.1.3
    # via
    #   thinc
    #   weasel
contourpy==1.2.0
    # via matplotlib
coverage[toml]==7.3.2
    # via
    #   coverage
    #   pytest-cov
cryptography==41.0.5
    # via pypdf
cycler==0.12.1
    # via matplotlib
cymem==2.0.8
    # via
    #   preshed
    #   spacy
    #   thinc
datasets==2.15.0
    # via sec-certs (./../pyproject.toml)
debugpy==1.8.0
    # via ipykernel
decorator==5.1.1
    # via ipython
deprecated==1.2.14
    # via pikepdf
dill==0.3.7
    # via
    #   datasets
    #   multiprocess
distlib==0.3.7
    # via virtualenv
distro==1.8.0
    # via tabula-py
docutils==0.19
    # via
    #   myst-parser
    #   pydata-sphinx-theme
    #   sphinx
exceptiongroup==1.2.0
    # via
    #   ipython
    #   pytest
executing==2.0.1
    # via stack-data
fastjsonschema==2.19.0
    # via nbformat
filelock==3.13.1
    # via
    #   huggingface-hub
    #   virtualenv
fonttools==4.45.0
    # via matplotlib
frozenlist==1.4.0
    # via
    #   aiohttp
    #   aiosignal
fsspec[http]==2023.10.0
    # via
    #   datasets
    #   fsspec
    #   huggingface-hub
gprof2dot==2022.7.29
    # via pytest-profiling
greenlet==3.0.1
    # via sqlalchemy
html5lib==1.1
    # via sec-certs (./../pyproject.toml)
huggingface-hub==0.19.4
    # via datasets
identify==2.5.32
    # via pre-commit
idna==3.4
    # via
    #   requests
    #   yarl
imagesize==1.4.1
    # via sphinx
importlib-metadata==6.8.0
    # via
    #   jupyter-cache
    #   myst-nb
iniconfig==2.0.0
    # via pytest
ipykernel==6.27.0
    # via
    #   myst-nb
    #   sec-certs (./../pyproject.toml)
ipython==8.17.2
    # via
    #   ipykernel
    #   ipywidgets
    #   myst-nb
    #   sec-certs (./../pyproject.toml)
ipywidgets==8.1.1
    # via sec-certs (./../pyproject.toml)
jedi==0.19.1
    # via ipython
jinja2==3.1.2
    # via
    #   myst-parser
    #   spacy
    #   sphinx
joblib==1.3.2
    # via scikit-learn
jsonschema==4.20.0
    # via
    #   nbformat
    #   sec-certs (./../pyproject.toml)
jsonschema-specifications==2023.11.1
    # via jsonschema
jupyter-cache==1.0.0
    # via myst-nb
jupyter-client==8.6.0
    # via
    #   ipykernel
    #   nbclient
jupyter-core==5.5.0
    # via
    #   ipykernel
    #   jupyter-client
    #   nbclient
    #   nbformat
jupyterlab-widgets==3.0.9
    # via ipywidgets
kiwisolver==1.4.5
    # via matplotlib
langcodes==3.3.0
    # via spacy
lxml==4.9.3
    # via
    #   pikepdf
    #   sec-certs (./../pyproject.toml)
markdown-it-py==3.0.0
    # via
    #   mdit-py-plugins
    #   myst-parser
markupsafe==2.1.3
    # via jinja2
matplotlib==3.8.2
    # via
    #   pysankeybeta
    #   seaborn
    #   sec-certs (./../pyproject.toml)
matplotlib-inline==0.1.6
    # via
    #   ipykernel
    #   ipython
mdit-py-plugins==0.4.0
    # via myst-parser
mdurl==0.1.2
    # via markdown-it-py
memory-profiler==0.61.0
    # via pytest-monitor
multidict==6.0.4
    # via
    #   aiohttp
    #   yarl
multiprocess==0.70.15
    # via datasets
murmurhash==1.0.10
    # via
    #   preshed
    #   spacy
    #   thinc
mypy==1.6.1
    # via sec-certs (./../pyproject.toml)
mypy-extensions==1.0.0
    # via mypy
myst-nb==1.0.0
    # via sec-certs (./../pyproject.toml)
myst-parser==2.0.0
    # via myst-nb
nbclient==0.9.0
    # via
    #   jupyter-cache
    #   myst-nb
nbformat==5.9.2
    # via
    #   jupyter-cache
    #   myst-nb
    #   nbclient
nest-asyncio==1.5.8
    # via ipykernel
networkx==3.2.1
    # via sec-certs (./../pyproject.toml)
nodeenv==1.8.0
    # via pre-commit
numpy==1.26.2
    # via
    #   blis
    #   contourpy
    #   datasets
    #   matplotlib
    #   pandas
    #   pyarrow
    #   pysankeybeta
    #   scikit-learn
    #   scipy
    #   seaborn
    #   sec-certs (./../pyproject.toml)
    #   spacy
    #   tabula-py
    #   thinc
packaging==23.2
    # via
    #   build
    #   datasets
    #   huggingface-hub
    #   ipykernel
    #   matplotlib
    #   pikepdf
    #   pydata-sphinx-theme
    #   pytesseract
    #   pytest
    #   setuptools-scm
    #   spacy
    #   sphinx
    #   thinc
    #   weasel
pandas==2.1.3
    # via
    #   datasets
    #   pysankeybeta
    #   seaborn
    #   sec-certs (./../pyproject.toml)
    #   tabula-py
parso==0.8.3
    # via jedi
pdftotext==2.2.2
    # via sec-certs (./../pyproject.toml)
pexpect==4.8.0
    # via ipython
pikepdf==8.7.1
    # via sec-certs (./../pyproject.toml)
pillow==10.1.0
    # via
    #   matplotlib
    #   pikepdf
    #   pytesseract
    #   sec-certs (./../pyproject.toml)
pip-tools==7.3.0
    # via sec-certs (./../pyproject.toml)
pkgconfig==1.5.5
    # via sec-certs (./../pyproject.toml)
platformdirs==4.0.0
    # via
    #   jupyter-core
    #   virtualenv
pluggy==1.3.0
    # via pytest
pre-commit==3.5.0
    # via sec-certs (./../pyproject.toml)
preshed==3.0.9
    # via
    #   spacy
    #   thinc
prompt-toolkit==3.0.41
    # via ipython
psutil==5.9.6
    # via
    #   ipykernel
    #   memory-profiler
    #   pytest-monitor
    #   sec-certs (./../pyproject.toml)
ptyprocess==0.7.0
    # via pexpect
pure-eval==0.2.2
    # via stack-data
pyarrow==14.0.1
    # via datasets
pyarrow-hotfix==0.6
    # via datasets
pycparser==2.21
    # via cffi
pydantic==2.5.2
    # via
    #   confection
    #   pydantic-settings
    #   sec-certs (./../pyproject.toml)
    #   spacy
    #   thinc
    #   weasel
pydantic-core==2.14.5
    # via pydantic
pydantic-settings==2.1.0
    # via sec-certs (./../pyproject.toml)
pydata-sphinx-theme==0.14.3
    # via sphinx-book-theme
pygments==2.17.2
    # via
    #   accessible-pygments
    #   ipython
    #   pydata-sphinx-theme
    #   sphinx
pyparsing==3.1.1
    # via matplotlib
pypdf[crypto]==3.17.1
    # via
    #   pypdf
    #   sec-certs (./../pyproject.toml)
pyproject-hooks==1.0.0
    # via build
pysankeybeta==1.4.1
    # via sec-certs (./../pyproject.toml)
pytesseract==0.3.10
    # via sec-certs (./../pyproject.toml)
pytest==7.4.3
    # via
    #   pytest-cov
    #   pytest-monitor
    #   pytest-profiling
    #   sec-certs (./../pyproject.toml)
pytest-cov==4.1.0
    # via sec-certs (./../pyproject.toml)
pytest-monitor==1.6.6
    # via sec-certs (./../pyproject.toml)
pytest-profiling==1.7.0
    # via sec-certs (./../pyproject.toml)
python-dateutil==2.8.2
    # via
    #   jupyter-client
    #   matplotlib
    #   pandas
    #   sec-certs (./../pyproject.toml)
python-dotenv==1.0.0
    # via pydantic-settings
pytz==2023.3.post1
    # via pandas
pyyaml==6.0.1
    # via
    #   datasets
    #   huggingface-hub
    #   jupyter-cache
    #   myst-nb
    #   myst-parser
    #   pre-commit
    #   sec-certs (./../pyproject.toml)
pyzmq==25.1.1
    # via
    #   ipykernel
    #   jupyter-client
rapidfuzz==3.5.2
    # via sec-certs (./../pyproject.toml)
referencing==0.31.0
    # via
    #   jsonschema
    #   jsonschema-specifications
requests==2.31.0
    # via
    #   datasets
    #   fsspec
    #   huggingface-hub
    #   pytest-monitor
    #   sec-certs (./../pyproject.toml)
    #   spacy
    #   sphinx
    #   weasel
rpds-py==0.13.1
    # via
    #   jsonschema
    #   referencing
ruff==0.1.5
    # via sec-certs (./../pyproject.toml)
scikit-learn==1.3.2
    # via sec-certs (./../pyproject.toml)
scipy==1.11.4
    # via
    #   scikit-learn
    #   sec-certs (./../pyproject.toml)
seaborn==0.13.0
    # via
    #   pysankeybeta
    #   sec-certs (./../pyproject.toml)
setuptools-scm==8.0.4
    # via sec-certs (./../pyproject.toml)
six==1.16.0
    # via
    #   asttokens
    #   html5lib
    #   pytest-profiling
    #   python-dateutil
smart-open==6.4.0
    # via
    #   spacy
    #   weasel
snowballstemmer==2.2.0
    # via sphinx
soupsieve==2.5
    # via beautifulsoup4
spacy==3.7.2
    # via sec-certs (./../pyproject.toml)
spacy-legacy==3.0.12
    # via spacy
spacy-loggers==1.0.5
    # via spacy
sphinx==6.2.1
    # via
    #   myst-nb
    #   myst-parser
    #   pydata-sphinx-theme
    #   sec-certs (./../pyproject.toml)
    #   sphinx-book-theme
    #   sphinx-copybutton
    #   sphinx-design
    #   sphinxcontrib-applehelp
    #   sphinxcontrib-devhelp
    #   sphinxcontrib-htmlhelp
    #   sphinxcontrib-qthelp
    #   sphinxcontrib-serializinghtml
sphinx-book-theme==1.0.1
    # via sec-certs (./../pyproject.toml)
sphinx-copybutton==0.5.2
    # via sec-certs (./../pyproject.toml)
sphinx-design==0.5.0
    # via sec-certs (./../pyproject.toml)
sphinxcontrib-applehelp==1.0.7
    # via sphinx
sphinxcontrib-devhelp==1.0.5
    # via sphinx
sphinxcontrib-htmlhelp==2.0.4
    # via sphinx
sphinxcontrib-jsmath==1.0.1
    # via sphinx
sphinxcontrib-qthelp==1.0.6
    # via sphinx
sphinxcontrib-serializinghtml==1.1.9
    # via sphinx
sqlalchemy==2.0.23
    # via jupyter-cache
srsly==2.4.8
    # via
    #   confection
    #   spacy
    #   thinc
    #   weasel
stack-data==0.6.3
    # via ipython
tabula-py==2.9.0
    # via sec-certs (./../pyproject.toml)
tabulate==0.9.0
    # via jupyter-cache
thinc==8.2.1
    # via spacy
threadpoolctl==3.2.0
    # via scikit-learn
tomli==2.0.1
    # via
    #   build
    #   coverage
    #   mypy
    #   pip-tools
    #   pyproject-hooks
    #   pytest
    #   setuptools-scm
tornado==6.3.3
    # via
    #   ipykernel
    #   jupyter-client
tqdm==4.66.1
    # via
    #   datasets
    #   huggingface-hub
    #   sec-certs (./../pyproject.toml)
    #   spacy
traitlets==5.13.0
    # via
    #   comm
    #   ipykernel
    #   ipython
    #   ipywidgets
    #   jupyter-client
    #   jupyter-core
    #   matplotlib-inline
    #   nbclient
    #   nbformat
typer==0.9.0
    # via
    #   spacy
    #   weasel
types-python-dateutil==2.8.19.14
    # via sec-certs (./../pyproject.toml)
types-pyyaml==6.0.12.12
    # via sec-certs (./../pyproject.toml)
types-requests==2.31.0.10
    # via sec-certs (./../pyproject.toml)
typing-extensions==4.8.0
    # via
    #   cloudpathlib
    #   huggingface-hub
    #   mypy
    #   myst-nb
    #   pydantic
    #   pydantic-core
    #   pydata-sphinx-theme
    #   setuptools-scm
    #   sqlalchemy
    #   typer
tzdata==2023.3
    # via pandas
urllib3==2.1.0
    # via
    #   requests
    #   types-requests
virtualenv==20.24.7
    # via pre-commit
wasabi==1.1.2
    # via
    #   spacy
    #   thinc
    #   weasel
wcwidth==0.2.12
    # via prompt-toolkit
weasel==0.3.4
    # via spacy
webencodings==0.5.1
    # via html5lib
wheel==0.41.3
    # via
    #   pip-tools
    #   pytest-monitor
widgetsnbextension==4.0.9
    # via ipywidgets
wrapt==1.16.0
    # via deprecated
xxhash==3.4.1
    # via datasets
yarl==1.9.3
    # via aiohttp
zipp==3.17.0
    # via importlib-metadata

# The following packages are considered to be unsafe in a requirements file:
# pip
# setuptools
