mypy
types-PyYAML
types-python-dateutil
types-requests
pytest
pytest-cov
pytest-monitor
pytest-profiling
black
isort
flake8
pre-commit
pip-tools
sphinx
myst-nb>=0.14
sphinx-book-theme
sphinx-design
sphinx-copybutton