beautifulsoup4
billiard
click
graphviz
html5lib
jsonschema
lxml
matplotlib
numpy
pandas
pdftotext
pikepdf
Pillow>=9.1.1
PyPDF2
python-dateutil
PyYAML
rapidfuzz
requests
scikit-learn
tabula-py
tqdm
setuptools-scm
ipykernel
ipywidgets
spacy
pkgconfig
seaborn
