aiohttp==3.8.4
    # via
    #   datasets
    #   fsspec
aiosignal==1.3.1
    # via aiohttp
appnope==0.1.3
    # via
    #   ipykernel
    #   ipython
asttokens==2.2.1
    # via stack-data
async-timeout==4.0.2
    # via aiohttp
attrs==22.1.0
    # via
    #   aiohttp
    #   jsonschema
    #   pytest
backcall==0.2.0
    # via ipython
beautifulsoup4==4.11.1
    # via sec-certs (./../pyproject.toml)
blis==0.7.9
    # via thinc
catalogue==2.0.8
    # via
    #   spacy
    #   srsly
    #   thinc
certifi==2022.12.7
    # via requests
charset-normalizer==2.1.1
    # via
    #   aiohttp
    #   requests
click==8.1.3
    # via
    #   nltk
    #   sec-certs (./../pyproject.toml)
    #   typer
comm==0.1.2
    # via ipykernel
confection==0.0.3
    # via thinc
contourpy==1.0.6
    # via matplotlib
coverage[toml]==6.5.0
    # via
    #   pytest-cov
    #   sec-certs (./../pyproject.toml)
cycler==0.11.0
    # via matplotlib
cymem==2.0.7
    # via
    #   preshed
    #   spacy
    #   thinc
datasets==2.12.0
    # via
    #   evaluate
    #   setfit
debugpy==1.6.4
    # via ipykernel
decorator==5.1.1
    # via ipython
deprecation==2.1.0
    # via pikepdf
dill==0.3.6
    # via
    #   datasets
    #   evaluate
    #   multiprocess
distro==1.8.0
    # via tabula-py
entrypoints==0.4
    # via jupyter-client
evaluate==0.4.0
    # via setfit
executing==1.2.0
    # via stack-data
filelock==3.12.0
    # via
    #   huggingface-hub
    #   torch
    #   transformers
fonttools==4.38.0
    # via matplotlib
frozenlist==1.3.3
    # via
    #   aiohttp
    #   aiosignal
fsspec[http]==2023.5.0
    # via
    #   datasets
    #   evaluate
    #   huggingface-hub
html5lib==1.1
    # via sec-certs (./../pyproject.toml)
huggingface-hub==0.15.1
    # via
    #   datasets
    #   evaluate
    #   sentence-transformers
    #   transformers
idna==3.4
    # via
    #   requests
    #   yarl
iniconfig==1.1.1
    # via pytest
ipykernel==6.19.1
    # via
    #   ipywidgets
    #   sec-certs (./../pyproject.toml)
ipython==8.10.0
    # via
    #   ipykernel
    #   ipywidgets
ipywidgets==8.0.3
    # via sec-certs (./../pyproject.toml)
jedi==0.18.2
    # via ipython
jinja2==3.1.2
    # via
    #   spacy
    #   torch
joblib==1.2.0
    # via
    #   nltk
    #   scikit-learn
jsonschema==4.17.3
    # via sec-certs (./../pyproject.toml)
jupyter-client==7.4.8
    # via ipykernel
jupyter-core==5.1.0
    # via jupyter-client
jupyterlab-widgets==3.0.4
    # via ipywidgets
kiwisolver==1.4.4
    # via matplotlib
langcodes==3.3.0
    # via spacy
langdetect==1.0.9
    # via sec-certs (./../pyproject.toml)
lxml==4.9.1
    # via
    #   pikepdf
    #   sec-certs (./../pyproject.toml)
markupsafe==2.1.1
    # via jinja2
matplotlib==3.6.2
    # via
    #   pysankeybeta
    #   seaborn
    #   sec-certs (./../pyproject.toml)
matplotlib-inline==0.1.6
    # via
    #   ipykernel
    #   ipython
mpmath==1.3.0
    # via sympy
multidict==6.0.4
    # via
    #   aiohttp
    #   yarl
multiprocess==0.70.14
    # via
    #   datasets
    #   evaluate
murmurhash==1.0.9
    # via
    #   preshed
    #   spacy
    #   thinc
nest-asyncio==1.5.6
    # via
    #   ipykernel
    #   jupyter-client
networkx==2.8.8
    # via
    #   sec-certs (./../pyproject.toml)
    #   torch
nltk==3.8.1
    # via sentence-transformers
numpy==1.23.5
    # via
    #   blis
    #   contourpy
    #   datasets
    #   evaluate
    #   matplotlib
    #   pandas
    #   pyarrow
    #   pysankeybeta
    #   scikit-learn
    #   scipy
    #   seaborn
    #   sec-certs (./../pyproject.toml)
    #   sentence-transformers
    #   spacy
    #   tabula-py
    #   thinc
    #   torchvision
    #   transformers
packaging==22.0
    # via
    #   datasets
    #   deprecation
    #   evaluate
    #   huggingface-hub
    #   ipykernel
    #   matplotlib
    #   pikepdf
    #   pytest
    #   setuptools-scm
    #   spacy
    #   transformers
pandas==1.5.2
    # via
    #   datasets
    #   evaluate
    #   pysankeybeta
    #   seaborn
    #   sec-certs (./../pyproject.toml)
    #   tabula-py
parso==0.8.3
    # via jedi
pathy==0.10.1
    # via spacy
pdftotext==2.2.2
    # via sec-certs (./../pyproject.toml)
pexpect==4.8.0
    # via ipython
pickleshare==0.7.5
    # via ipython
pikepdf==6.2.5
    # via sec-certs (./../pyproject.toml)
pillow==9.3.0
    # via
    #   matplotlib
    #   pikepdf
    #   sec-certs (./../pyproject.toml)
    #   torchvision
pkgconfig==1.5.5
    # via sec-certs (./../pyproject.toml)
platformdirs==2.6.0
    # via jupyter-core
pluggy==1.0.0
    # via pytest
preshed==3.0.8
    # via
    #   spacy
    #   thinc
prompt-toolkit==3.0.36
    # via ipython
psutil==5.9.4
    # via ipykernel
ptyprocess==0.7.0
    # via pexpect
pure-eval==0.2.2
    # via stack-data
pyarrow==12.0.0
    # via datasets
pycryptodome==3.16.0
    # via pypdf
pydantic==1.10.2
    # via
    #   confection
    #   sec-certs (./../pyproject.toml)
    #   spacy
    #   thinc
pygments==2.13.0
    # via ipython
pyparsing==3.0.9
    # via matplotlib
pypdf[crypto]==3.2.1
    # via sec-certs (./../pyproject.toml)
pyrsistent==0.19.2
    # via jsonschema
pysankeybeta==1.4.0
    # via sec-certs (./../pyproject.toml)
pytest==7.2.0
    # via
    #   pytest-cov
    #   sec-certs (./../pyproject.toml)
pytest-cov==4.0.0
    # via sec-certs (./../pyproject.toml)
python-dateutil==2.8.2
    # via
    #   jupyter-client
    #   matplotlib
    #   pandas
    #   sec-certs (./../pyproject.toml)
pytz==2022.6
    # via pandas
pyyaml==6.0
    # via
    #   datasets
    #   huggingface-hub
    #   sec-certs (./../pyproject.toml)
    #   transformers
pyzmq==24.0.1
    # via
    #   ipykernel
    #   jupyter-client
rapidfuzz==2.13.3
    # via sec-certs (./../pyproject.toml)
regex==2023.6.3
    # via
    #   nltk
    #   transformers
requests==2.31.0
    # via
    #   datasets
    #   evaluate
    #   fsspec
    #   huggingface-hub
    #   responses
    #   sec-certs (./../pyproject.toml)
    #   spacy
    #   torchvision
    #   transformers
responses==0.18.0
    # via
    #   datasets
    #   evaluate
scikit-learn==1.2.0
    # via
    #   sec-certs (./../pyproject.toml)
    #   sentence-transformers
scipy==1.10.0
    # via
    #   scikit-learn
    #   sec-certs (./../pyproject.toml)
    #   sentence-transformers
seaborn==0.12.1
    # via
    #   pysankeybeta
    #   sec-certs (./../pyproject.toml)
sentence-transformers==2.2.2
    # via setfit
sentencepiece==0.1.99
    # via sentence-transformers
setfit==0.7.0
    # via sec-certs (./../pyproject.toml)
setuptools-scm==7.0.5
    # via sec-certs (./../pyproject.toml)
six==1.16.0
    # via
    #   asttokens
    #   html5lib
    #   langdetect
    #   python-dateutil
smart-open==6.2.0
    # via pathy
soupsieve==2.3.2.post1
    # via beautifulsoup4
spacy==3.4.3
    # via sec-certs (./../pyproject.toml)
spacy-legacy==3.0.10
    # via spacy
spacy-loggers==1.0.4
    # via spacy
srsly==2.4.5
    # via
    #   confection
    #   spacy
    #   thinc
stack-data==0.6.2
    # via ipython
sympy==1.12
    # via torch
tabula-py==2.6.0
    # via sec-certs (./../pyproject.toml)
thinc==8.1.5
    # via spacy
threadpoolctl==3.1.0
    # via scikit-learn
tokenizers==0.13.3
    # via transformers
tomli==2.0.1
    # via setuptools-scm
torch==2.0.1
    # via
    #   sentence-transformers
    #   torchvision
torchvision==0.15.2
    # via sentence-transformers
tornado==6.3.2
    # via
    #   ipykernel
    #   jupyter-client
tqdm==4.64.1
    # via
    #   datasets
    #   evaluate
    #   huggingface-hub
    #   nltk
    #   sec-certs (./../pyproject.toml)
    #   sentence-transformers
    #   spacy
    #   transformers
traitlets==5.6.0
    # via
    #   comm
    #   ipykernel
    #   ipython
    #   ipywidgets
    #   jupyter-client
    #   jupyter-core
    #   matplotlib-inline
transformers==4.29.2
    # via sentence-transformers
typer==0.7.0
    # via
    #   pathy
    #   spacy
typing-extensions==4.4.0
    # via
    #   huggingface-hub
    #   pydantic
    #   setuptools-scm
    #   torch
urllib3==1.26.13
    # via
    #   requests
    #   responses
wasabi==0.10.1
    # via
    #   spacy
    #   thinc
wcwidth==0.2.5
    # via prompt-toolkit
webencodings==0.5.1
    # via html5lib
widgetsnbextension==4.0.4
    # via ipywidgets
xxhash==3.2.0
    # via
    #   datasets
    #   evaluate
yarl==1.9.2
    # via aiohttp

# The following packages are considered to be unsafe in a requirements file:
# setuptools
