{% call entry_card(id="report-info", title="Certification report", icon="fa-file-contract") %}
    <div>
        {{ render_process_state(profile["state"], profile["web_data"]["report_link"], "report", "certification report") }}
    </div>

    {% if profile["web_data"]["report_link"] %}
        <div>
            {{ render_local_report(hashid, local_files, profile["web_data"]["report_link"], primary_style="btn-primary", secondary_style="btn-secondary") }}
        </div>
    {% endif %}

    {% if profile["pdf_data"]["report_keywords"] %}
        <div>
            <h4 class="mt-3">Extracted keywords</h4>
            {{ cryptography_keywords(profile["pdf_data"]["report_keywords"], "report") }}
            {{ device_keywords(profile["pdf_data"]["report_keywords"], "report") }}
            {{ cc_keywords(profile["pdf_data"]["report_keywords"], "report", map_funcs={"cc_sar": render_sars,
                                                                                       "cc_sfr": render_sfrs}) }}
            {{ security_keywords(profile["pdf_data"]["report_keywords"], "report") }}
            {{ other_keywords(profile["pdf_data"]["report_keywords"], "report") }}
        </div>
    {% endif %}

    <div>
        {{ render_file_metadata(profile["pdf_data"]["report_metadata"], "Certification report", "report") }}
    </div>
{% endcall %}
