{% from "include/entry.html.jinja2" import entry_card, render_local_cert, render_local_report, render_local_target, render_file_metadata, render_frontpage, render_references %}
{% from "include/utils.html.jinja2" import render_process_state %}
{% from "cc/include.html.jinja2" import render_keywords, render_status %}

{% call entry_card(id="cert-info", title="Certificate", icon="fa-file-contract") %}
    <div>
        {{ render_process_state(cert["state"], cert["cert_link"], "cert", "certificate") }}
    </div>

    {% if cert["cert_link"] %}
        <div>
            {{ render_local_cert(hashid, local_files, cert["cert_link"], primary_style="btn-primary", secondary_style="btn-secondary") }}
        </div>
    {% endif %}

    {{ render_keywords(cert["pdf_data"]["cert_keywords"], "cert") }}

    <div>
        {{ render_file_metadata(cert["pdf_data"]["cert_metadata"], "Certificate", "cert") }}
    </div>
{% endcall %}
