{% from "include/entry.html.jinja2" import entry_card, render_local_cert, render_local_report, render_local_target, render_file_metadata, render_frontpage, render_references %}
{% from "include/utils.html.jinja2" import render_process_state %}
{% from "cc/include.html.jinja2" import render_keywords, render_status %}

{% call entry_card(id="report-info", title="Certification report", icon="fa-file-contract") %}
    <div>
        {{ render_process_state(cert["state"], cert["report_link"], "report", "certification report") }}
    </div>

    {% if cert["report_link"] %}
        <div>
            {{ render_local_report(hashid, local_files, cert["report_link"], primary_style="btn-primary", secondary_style="btn-secondary") }}
        </div>
    {% endif %}

    {{ render_keywords(cert["pdf_data"]["report_keywords"], "report") }}

    <div>
        {{ render_frontpage(cert, "report_frontpage", "Certification report - Frontpage") }}
    </div>

    <div>
        {{ render_references(network, hashid, "report", render_status) }}
    </div>

    <div>
        {{ render_file_metadata(cert["pdf_data"]["report_metadata"], "Certification report", "report") }}
    </div>
{% endcall %}
