{% extends "cc/search/base.html.jinja2" %}

{% from "cc/utils.html.jinja2" import render_status, render_category, render_document_type, render_pagination, render_plot%}

{% block search_content %}
    <div class="col-12 col-sm-10 mx-auto p-3 py-md-5">
        <script type="module">
            import {
                fulltextSearchSetup,
            } from "{{ url_for('static', filename='search.js') }}";

            $(function () {
                fulltextSearchSetup();
            })
        </script>

        <div id="pagination" class="table-responsive">
        {% if pagination %}
            <div style="text-align: center">
                Took {{ "{:.3}".format(runtime + highlight_runtime) }} seconds
                {%- if query -%}
                    <span data-bs-toggle="tooltip"
                            data-bs-html="true"
                            title="Parsed as <b>{{ query }}</b>">*
                    </span>
                {%- endif -%}
                {{ pagination.info }}
            </div>
            <div class="mt-4 mb-4">
                {{ pagination.links }}
            </div>
        {% endif %}
        {% for result in results %}
            {% set idd = result["cert"]["heuristics"]["cert_id"]|default("", true) %}
            {% set hit = result["hit"] %}
            {% if hit["document_type"] == "cert" %}
                {% set dtype = "cert-info" %}
            {% elif hit["document_type"] == "report" %}
                {% set dtype = "report-info" %}
            {% elif hit["document_type"] == "target" %}
                {% set dtype = "st-info" %}
            {% endif %}
            <div class="my-5">
                <table class="table table-bordered table-responsive search-result">
                    <colgroup>
                        <col style="width:20%">
                        <col style="width:60%">
                        <col style="width:10%">
                        <col style="width:10%">
                    </colgroup>
                    <thead>
                    <tr>
                        <td class="pl-1"><span class="result-category">{{ render_category(result["cert"]["category"]) }}</span>&nbsp;<span class="result-id">{{ idd }}</span></td>
                        <td>
                            <span class="result-name"><a href="{{ url_for(".entry", hashid=hit["dgst"], _anchor=dtype) }}" class="result-link">{{ hit["name"] }}</a></span>
                        </td>
                        <td><span class="result-document">{{ render_document_type(hit["document_type"]) }}</span></td>
                        <td><span class="result-status">{{ render_status(hit["status"]) }}</span></td>
                    </tr>
                    </thead>
                    <tbody style="border-top-color: #dfe0e1">
                    {% if "highlights" in result %}
                        <tr>
                            <td colspan="4" class="result-matches">
                                {{ result["highlights"]|safe }}
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
        {% if pagination %}
            <div class="mb-4">
                {{ pagination.links }}
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}