<div class="row">
    <div class="col-12 col-sm-10 p-3 pt-md-5">
        <div class="alert alert-warning d-sm-none" role="alert">
            <i class="fas fa-exclamation-triangle"></i>
            This page was not yet optimized for use on mobile devices.
        </div>

        <div>
            <h1>{{ cert["name"]|default("", true) }}</h1>

            {% if cves %}
                {{ certificate_vuln_note() }}
            {% endif %}

            {% if removed and same %}
                <div class="alert alert-secondary mt-4">
                    <i class="fas fa-exclamation-triangle"></i>
                    This certificate has disappeared from the EUCC portal listing
                    <sup title="Likely due to the certifying scheme updating some of its fields."
                         data-bs-toggle="tooltip">
                        *
                    </sup>.
                    However, there {% if same|length > 1 %} are certificates that match {% else %} is a certificate
                    that matches{% endif %}
                    this one in the current listing:
                    <table class="table table-secondary table-borderless mt-3 ms-3">
                        {% for other in same %}
                            <tr>
                                <td class="py-2" class="align-middle">
                                    <a href="{{ url_for("eucc.entry", hashid=other["_id"]) }}">{{ other["name"] }}</a>
                                </td>
                                <td class="py-2"
                                    class="align-middle">{{ other["other_metadata"]["certificate_id"] }}</td>
                                <td class="py-2">
                                    <a href="{{ url_for("eucc.compare", one_hashid=hashid, other_hashid=other["_id"]) }}"
                                       class="btn btn-outline-secondary">Compare</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                    <span style="margin-left: 20px">You can also examine other <a
                            href="#similar">similar certificates</a> below.</span>
                </div>
            {% endif %}

            <div class="d-flex gap-3 flex-wrap">
                {{ compare_icon() }}
                {{ notification_icon(current_user, subscribed) }}
                {{ render_share_buttons(hashid, cert_id=cert["other_metadata"]["certificate_id"], name=cert["name"]) }}
            </div>
        </div>
    </div>
</div>