{% set sar_prefixes = ['ADV_', 'AGD_', 'ALC_', 'ASE_', 'ATE_', 'AVA_'] %}
{% set sfr_prefixes = ['FAU_', 'FCS_', 'FDP_', 'FIA_', 'FMT_', 'FPR_', 'FPT_', 'FRU_', 'FTA_', 'FTP_'] %}

{% set table_styles = "table table-striped table-borderless w-100" %}

<div>
    <h2 class="mt-5">Webpage information</h2>
    <div class="{{ box_container_without_bg }}">
        <table class="{{ table_styles }}">
            <colgroup>
                <col style="width: 30%"/>
                <col style="width: 70%"/>
            </colgroup>
            <tbody>
            <tr data-cs-name="Certificate ID">
                <th scope="row">
                    Certificate ID
                    <span class="text-muted ms-1 d-inline-flex align-items-center"
                          style="cursor: help;"
                          data-bs-toggle="tooltip"
                          data-bs-html="true"
                          data-bs-placement="right"
                          title="<b>ID Format: EUCC-XXXX-YYYY-MM-SSSSS-VV</b><br><br>
                                     • <b>EUCC:</b> Scheme name<br>
                                     • <b>XXXX:</b> Certification body ID<br>
                                     • <b>YYYY:</b> Year of issuance<br>
                                     • <b>MM:</b> Month or technical domain identifier<br>
                                     • <b>SSSSS:</b> Unique serial number for that year<br>
                                     • <b>VV:</b> Version/revision"
                    >
                        <i class="fas fa-info-circle fa-xs"></i>
                    </span>
                </th>
                <td class="d-flex align-items-center">
                    <span id="certificate-id-text">{{ cert["cert_id"] | replace("CERTIFICATE ", "", 1) }}</span>
                    <button class="btn btn-sm btn-outline-secondary ms-2"
                            onclick="navigator.clipboard.writeText('{{ cert["cert_id"] | replace("CERTIFICATE ", "", 1) }}')"
                            title="Copy certificate ID">
                        <i class="fa fa-copy"></i>
                    </button>
                </td>
            </tr>
            <tr data-cs-name="Product name">
                <th scope="row">Product name</th>
                <td>{{ cert["other_metadata"]["product_name"] }}</td>
            </tr>
            <tr data-cs-name="Scheme">
                <th scope="row">Scheme</th>
                <td>{{ country_to_flag(cert["scheme"]) }} {{ cert['scheme'] }}</td>
            </tr>
            <tr data-cs-name="Assurance level">
                <th scope="row">Assurance level</th>
                <td>{{ render_assurance_level(cert["other_metadata"]["assurance_level"]) }}</td>
            </tr>
            <tr data-cs-name="Status">
                <th scope="row">Status</th>
                <td>{{ render_status(cert["status"]) }}</td>
            </tr>
            </tbody>
        </table>

        <h4 class="p-2">Product Specification</h4>
        <table class="{{ table_styles }}">
            <colgroup>
                <col style="width: 30%"/>
                <col style="width: 70%"/>
            </colgroup>
            <tbody>
            <tr data-cs-name="Product type">
                <th scope="row">Type</th>
                <td>{{ cert["other_metadata"]["product_type"] }}</td>
            </tr>
            <tr data-cs-name="Product Description">
                <th scope="row">Description</th>
                <td>
                    {% if cert["other_metadata"]["product_description"] and cert["other_metadata"]["product_description"]|length > 150 %}
                        <div id="desc-summary">
                            {{ cert["other_metadata"]["product_description"][:150] }}...
                            <button class="btn btn-link btn-sm p-0 ms-1 text-decoration-none"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#full-description"
                                    aria-expanded="false"
                                    onclick="this.parentElement.style.display='none'">
                                Show full description
                            </button>
                        </div>
                        <div class="collapse" id="full-description">
                            {{ cert["other_metadata"]["product_description"] }}
                            <button class="btn btn-link btn-sm p-0 ms-1 text-decoration-non"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#full-description"
                                    onclick="document.getElementById('desc-summary').style.display='block'">
                                Show less
                            </button>
                        </div>
                    {% else %}
                        {{ desc if desc else "N/A" }}
                    {% endif %}
                </td>
            </tr>
            <tr data-cs-name="Product version">
                <th scope="row">Version</th>
                <td>{{ cert["other_metadata"]["product_version"] }}</td>
            </tr>
            {% if profiles %}
                <tr data-cs-name="Protection profiles">
                    <th scope="row">Protection profiles</th>
                    <td>
                        <ul>
                            {% for id, profile in profiles.items() %}
                                <li>
                                    <a href="{{ url_for("pp.entry", hashid=profile["_id"]) }}">{{ profile["web_data"]["name"] }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}
            <tr data-cs-name="Package">
                <th scope="row">Package</th>
                <td>
                    {% for level, components in cert["other_metadata"]["package"].items() %}
                        {% if level == "COMP" %}
                            <abbr title="Composite evaluation package">COMP</abbr>
                        {% else %}
                            <abbr title="Evaluation assurance level {{ level[-1] }}">{{ level }}</abbr>
                        {% endif %}
                        {% if components %}
                            <i><span class="text-muted"> augmented with </span></i>
                            <span>
                        {% for comp in components %}
                            {% set prefix = comp[:4] %}
                            {% if prefix in sar_prefixes %}
                                {{ render_sars(comp) }}
                            {% elif prefix in sfr_prefixes %}
                                {{ render_sfrs(comp) }}
                            {% else %}
                                {{ comp }}
                            {% endif %}
                            {% if not loop.last %}
                                ,
                            {% endif %}
                        {% endfor %}
                    </span>
                        {% endif %}
                        {% if not loop.last %}<br>{% endif %}
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>

        <h4 class="p-2">Certificate holder</h4>
        <table class="{{ table_styles }}">
            <colgroup>
                <col style="width: 30%"/>
                <col style="width: 70%"/>
            </colgroup>
            <tbody>
            <tr data-cs-name="Certificate holder name">
                <th scope="row">Name</th>
                <td>{{ cert["other_metadata"]["holder_name"] }}</td>
            </tr>
            <tr data-cs-name="Certificate holder Address">
                <th scope="row">Address</th>
                <td>{{ cert["other_metadata"]["holder_address"] }}</td>
            </tr>
            <tr data-cs-name="Certificate holder contact information">
                <th scope="row">Contact information</th>
                <td>{{ clickable_contact(cert["other_metadata"]["holder_contact"]) }}</td>
            </tr>
            <tr data-cs-name="Certificate holder website">
                <th scope="row">Website</th>
                <td>{{ clickable_contact(cert["other_metadata"]["holder_website"]) }}</td>
            </tr>
            </tbody>
        </table>

        <h4 class="p-2">Certification body</h4>
        <table class="{{ table_styles }}">
            <colgroup>
                <col style="width: 30%"/>
                <col style="width: 70%"/>
            </colgroup>
            <tbody>
            <tr data-cs-name="Name of the CB">
                <th scope="row">Name</th>
                <td>{{ cert["other_metadata"]["certification_body"] }}</td>
            </tr>
            <tr data-cs-name="NANDO ID of the CB">
                <th scope="row">
                    <abbr title="New Approach Notified and Designated Organisations">NANDO</abbr>
                    ID
                </th>
                <td>
                    {% set nando_id = cert["other_metadata"]["nando_id"] %}
                    <a href="https://webgate.ec.europa.eu/single-market-compliance-space/notified-bodies/free-search?filter=notificationStatus:1,bodyNumber:{{ nando_id }}"
                       target="_blank"
                       rel="noopener noreferrer"
                       class="fw-semibold text-decoration-none">
                        {{ nando_id }}
                    </a>
                </td>
            </tr>
            <tr data-cs-name="Address of the CB">
                <th scope="row">Address</th>
                <td>{{ cert["other_metadata"]["certification_body_address"] }}</td>
            </tr>
            <tr data-cs-name="Contact information of the CB">
                <th scope="row">Contact information</th>
                <td>{{ clickable_contact( cert["other_metadata"]["certification_body_contact"]) }}</td>
            </tr>
            </tbody>
        </table>

        <h4 class="p-2">Standards & Compliance</h4>
        <table class="{{ table_styles }}">
            <colgroup>
                <col style="width: 30%"/>
                <col style="width: 70%"/>
            </colgroup>
            <tbody>
            <tr data-cs-name="CC Version">
                <th scope="row">CC Version</th>
                <td>{{ cert["other_metadata"]["cc_version"] }}</td>
            </tr>
            <tr data-cs-name="CEM Version">
                <th scope="row">CEM Version</th>
                <td>{{ cert["other_metadata"]["cem_version"] }}</td>
            </tr>
            <tr data-cs-name="AVA_VAN level">
                <th scope="row">AVA_VAN level</th>
                <td>{{ render_ava_van_level(cert["other_metadata"]["ava_van_level"]) }}</td>
            </tr>
            <tr data-cs-name="Report reference">
                <th scope="row">
                    <abbr title="Reference to the certification report associated with the certificate referred to in Annex V">Certification
                        report reference</abbr>
                </th>
                <td>{{ cert["other_metadata"]["report_reference"] }}</td>
            </tr>
            </tbody>
        </table>

        <h4 class="p-2">Other</h4>
        <table class="{{ table_styles }}">
            <colgroup>
                <col style="width: 30%"/>
                <col style="width: 70%"/>
            </colgroup>
            <tbody>
            <tr data-cs-name="ITSEF">
                <th scope="row"><abbr
                        title="Name of the ITSEF which performed the evaluation">ITSEF</abbr>
                </th>
                <td>{{ cert["other_metadata"]["itsef"] }}</td>
            </tr>
            <tr data-cs-name="Responsible NCCA">
                <th scope="row">Responsible <abbr
                        title="National Cybersecurity Certification Authority">NCCA</abbr>
                </th>
                <td>{{ cert["other_metadata"]["responsible_ncca"] }}</td>
            </tr>
            <tr data-cs-name="Protection profile">
                <th scope="row">Protection profile</th>
                <td>{{ cert["other_metadata"]["protection_profile"] }}</td>
            </tr>
            <tr data-cs-name="Valid from">
                <th scope="row">Valid from</th>
                <td>{{ cert["not_valid_before"]|strftime("%d.%m.%Y") }}</td>
            </tr>
            {% if cert["not_valid_after"] %}
                <tr data-cs-name="Valid until">
                    <th scope="row">Valid until</th>
                    <td>{{ cert["not_valid_after"]|strftime("%d.%m.%Y") }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>

        <div class="mt-2 mb-2">
            <a class="btn btn-outline-primary" role="button"
               href="https://certification.enisa.europa.eu/certificates/{{ cert["other_metadata"]["certificate_id"] }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
               target="_blank"
               rel="noopener"><i
                    class="fas fa-external-link-alt"></i> Webpage</a>
        </div>
    </div>
</div>