<div class="row">
    <div class="col-12 col-sm-10 p-3 pt-md-5">
        <div class="alert alert-warning d-sm-none" role="alert">
            <i class="fas fa-exclamation-triangle"></i>
            This page was not yet optimized for use on mobile devices.
        </div>

        <div>
            <h1 class="entry-title">{{ cert|fips_name|default("", true) }}</h1>
            <p class="text-muted mb-0">Certificate #{{ cert["cert_id"] }}</p>

            {% if cves %}
                {{ certificate_vuln_note() }}
            {% endif %}

            <div class="d-flex gap-3 flex-wrap align-items-center pt-3 pb-3">
                {% if config["CHAT_ENABLED"] %}{{ chat_icon() }}{% endif %}
                {{ compare_icon() }}
                {{ notification_icon(current_user, subscribed) }}
                {{ render_share_buttons(hashid, cert_id=cert["cert_id"], name=cert|fips_name) }}
            </div>
        </div>
    </div>
</div>
