{% set table_styles = "table-sm table-borderless w-100" %}

{% if "web_data" in cert %}
    {% call entry_card(id="web-info", title="Certificate details", icon="fa-globe", tooltip="As listed on the NIST CMVP website.") %}
        <table class="{{ table_styles }}">
            <colgroup>
                <col style="width: 30%"/>
                <col style="width: 70%"/>
            </colgroup>
            <tbody>
            <tr data-cs-name="Certificate status">
                <th scope="row">Status</th>
                <td>{{ render_status(cert["web_data"]["status"]) }}</td>
            </tr>
            {% if cert["web_data"]["historical_reason"] %}
                <tr data-cs-name="Historical reason">
                    <th scope="row">Historical reason</th>
                    <td>{{ cert["web_data"]["historical_reason"] }}</td>
                </tr>
            {% endif %}
            {% if cert["web_data"]["revoked_reason"] %}
                <tr data-cs-name="Revoked reason">
                    <th scope="row">Revoked reason</th>
                    <td>{{ cert["web_data"]["revoked_reason"] }}
                        {% if cert["web_data"]["revoked_link"] %}
                            <a href="{{ cert["web_data"]["revoked_link"] }}" target="_blank"
                               rel="noopener">{{ cert["web_data"]["revoked_link"] }}</a>
                        {% endif %}</td>
                </tr>
            {% endif %}
            <tr data-cs-name="Validation dates">
                <th scope="row">Validation dates</th>
                <td>
                    {% if cert["web_data"]["validation_history"] %}
                        {% for entry in cert["web_data"]["validation_history"] %}
                            {{ entry["date"]|strftime("%d.%m.%Y") }}
                            {{ ", " if not loop.last else "" }}{% endfor %}
                    {% endif %}
                </td>
            </tr>
            {% if cert["web_data"]["date_sunset"] %}
                <tr data-cs-name="Sunset date">
                    <th scope="row">Sunset date</th>
                    <td>{{ cert["web_data"]["date_sunset"]|strftime("%d-%m-%Y") }}</td>
                </tr>
            {% endif %}
            <tr data-cs-name="Standard">
                <th scope="row">Standard</th>
                <td>{{ cert["web_data"]["standard"] }}</td>
            </tr>
            <tr data-cs-name="Security level">
                <th scope="row">Security level</th>
                <td>{{ cert["web_data"]["level"] }}</td>
            </tr>
            <tr data-cs-name="Type">
                <th scope="row">Type</th>
                <td>{{ render_type(cert["web_data"]["module_type"]) }} {{ cert["web_data"]["module_type"] }}</td>
            </tr>
            <tr data-cs-name="Embodiment">
                <th scope="row">Embodiment</th>
                <td>{{ cert["web_data"]["embodiment"] }}</td>
            </tr>
            {% if cert["web_data"]["caveat"] %}
                <tr data-cs-name="Caveat">
                    <th scope="row">Caveat</th>
                    <td>{{ cert["web_data"]["caveat"] }}</td>
                </tr>
            {% endif %}
            {% if cert["web_data"]["exceptions"] %}
                <tr data-cs-name="Exceptions">
                    <th scope="row">Exceptions</th>
                    <td>
                        <ul>
                            {% for exceptioon in cert["web_data"]["exceptions"] %}
                                <li data-cs-name="Exceptions - {{ loop.index }}">{{ exceptioon }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}
            {% if cert["web_data"]["description"] %}
                <tr data-cs-name="Description">
                    <th scope="row">Description</th>
                    <td>{{ cert["web_data"]["description"] }}</td>
                </tr>
            {% endif %}
            {% if cert["web_data"]["hw_versions"] %}
                <tr>
                    <th scope="row">Version (Hardware)</th>
                    <td>{{ cert["web_data"]["hw_versions"] }}</td>
                </tr>
            {% endif %}
            {% if cert["web_data"]["fw_versions"] %}
                <tr>
                    <th scope="row">Version (Firmware)</th>
                    <td>{{ cert["web_data"]["fw_versions"] }}</td>
                </tr>
            {% endif %}
            {% if cert["web_data"]["tested_conf"] %}
                <tr>
                    <th scope="row">Tested configurations</th>
                    <td>
                        <ul>
                            {% for conf in cert["web_data"]["tested_conf"] %}
                                <li>{{ conf }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th scope="row">Vendor</th>
                <td>
                    {{ cert["web_data"]["vendor"] }}{% if cert["web_data"]["vendor_www"] %} <a
                        href="{{ cert["web_data"]['vendor_www'] }}" target="_blank"
                        rel="noopener">{{ cert["web_data"]["vendor_www"] }}</a>{% endif %}
                </td>
            </tr>
            {% if cert["web_data"]["lab"] %}
                <tr>
                    <th scope="row">Lab</th>
                    <td>
                        {{ cert["web_data"]["lab"] }} {% if cert["web_data"]["lab_nvlap"] %}(NVLAP Code:
                        {{ cert["web_data"]["lab_nvlap"] }}){% endif %}</td>
                </tr>
            {% endif %}
            {% if cert["web_data"]["algorithms"] %}
                <tr>
                    <th scope="row">Algorithms</th>
                    <td>
                        <ul>
                            {% for algo in cert["web_data"]["algorithms"] %}
                                <li>
                                    <a href="https://csrc.nist.gov/projects/Cryptographic-Algorithm-Validation-Program/details?source={{ algo["algorithm_type"] }}&number={{ algo["cert_id"].replace("#", "") }}"
                                       target="_blank" rel="noopener">
                                        {{ algo["algorithm_type"] }}{{ algo["cert_id"] }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th scope="row">References</th>
                <td><p>This certificate's webpage directly references
                    {{ cert["heuristics"]["module_processed_references"]["directly_referencing"]|default("", true)|length }}
                    certificates,
                    transitively this expands
                    into {{ cert["heuristics"]["module_processed_references"]["indirectly_referencing"]|default("", true)|length }}
                    certificates.</p></td>
            </tr>
            </tbody>
        </table>

        <div class="mt-2 mb-2">
            {{ render_local_cert(hashid, local_files, cert["web_data"]["certificate_pdf_url"]) }}
            <a class="btn btn-outline-primary" role="button"
               href="https://csrc.nist.gov/projects/cryptographic-module-validation-program/certificate/{{ cert['cert_id'] }}"
               data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="{{ cert["web_data"]['module_name']|default('') }}" target="_blank" rel="noopener"><i
                    class="fas fa-external-link-alt"></i> Webpage</a>
        </div>
    {% endcall %}
{% endif %}
