name: Tests
on:
  push:
  workflow_dispatch:
env:
  DEBIAN_FRONTEND: noninteractive

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Install Poppler
        run: sudo apt-get install -y build-essential libpoppler-cpp-dev pkg-config python3-dev
      - uses: actions/checkout@v3
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"
          cache: "pip"
          cache-dependency-path: |
            requirements/requirements.txt
            requirements/test_requirements.txt
      - name: Install python dependencies
        run: |
          pip install -r requirements/requirements.txt
          pip install -r requirements/test_requirements.txt
      - name: Install sec-certs
        run: |
          pip install -e .
          python -m spacy download en_core_web_sm
      - name: Run tests
        run: pytest --cov=sec_certs tests
      - name: Code coverage upload
        uses: codecov/codecov-action@v3
