name: Tests (page)

on:
  push:
    branches: [ page ]
  pull_request:
    branches: [ page ]

env:
  DEBIAN_FRONTEND: noninteractive

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: [ "3.10", "3.11", "3.12" ]
      fail-fast: false
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install MongoDB repository
        run: |
          curl -fsSL https://www.mongodb.org/static/pgp/server-8.0.asc | gpg -o /usr/share/keyrings/mongodb-server-8.0.gpg --dearmor
          echo "deb [ arch=amd64,arm64 signed-by=/usr/share/keyrings/mongodb-server-8.0.gpg ] https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/8.0 multiverse" | sudo tee /etc/apt/sources.list.d/mongodb-org-8.0.list
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libpoppler-cpp-dev poppler-utils pkg-config mongodb-org redis
      - name: Install pip, wheel, and build
        run: |
          python -m pip install -U setuptools pip wheel build
      - name: Install dependencies
        run: |
          pip install -e ".[test, dev]"
      - name: Install spacy
        run: |
          python -m spacy download en_core_web_sm
      - name: Run tests
        run: |
          pytest --cov sec_certs_page tests
