name: Tests
on:
  push:
  workflow_dispatch:
env:
  DEBIAN_FRONTEND: noninteractive

jobs:
  run-test:
    runs-on: ubuntu-20.04
    steps:
      - name: Install Poppler
        run: sudo apt-get install -y build-essential libpoppler-cpp-dev pkg-config python3-dev
      - uses: actions/checkout@v3
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - name: Install python dependencies
        run: |
          pip install -r requirements/requirements.txt
          pip install -r requirements/test_requirements.txt
      - name: Run tests
        run: pytest --cov=sec_certs tests
