{% extends "base.html.jinja2" %}
{% macro render_one(path, one, highlight=None, highlight_value=None) %}
    {% if path[-1] == "extracted_sars" and one %}
        {% for v in one %}
            {{ v["family"] }}.{{ v["level"] }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% elif one is mapping %}
        <ul>
            {% for k, v in one.items() %}
                <li>{% if highlight and k in highlight %}
                    <b>{{ k }}: {{ render_one(path, v) }}</b>
                {% elif highlight_value and k in highlight_value %}
                    {{ k }}: <b>{{ render_one(path, v) }}</b>
                {% else %}
                    {{ k }}: {{ render_one(path, v) }}
                {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% elif one is string %}
        {{ one }}
    {% elif one is sequence %}
        {% for a in one %}
            {% if highlight and a in highlight %}<b>{{ render_one(path, a) }}</b>{% else %}
                {{ render_one(path, a) }}{% endif %}{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% elif one is iterable %}
        {% for a in one %}
            {% if highlight and a in highlight %}<b>{{ render_one(path, a) }}</b>{% else %}
                {{ render_one(path, a) }}{% endif %}{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% else %}
        {{ one }}
    {% endif %}
{% endmacro %}
{% block title %}
    <title>Comparing certificates | sec-certs.org</title>
{% endblock %}
{% block content %}
    <style>
        .left span, .right span {
            padding: 2px;
        }

        .not-equal {
            .left {
                background-color: var(--bs-danger-bg-subtle);

                .change {
                    background-color: var(--bs-red-200);
                    border-radius: 3px;
                }
            }

            .right {
                background-color: var(--bs-success-bg-subtle);

                .change {
                    background-color: var(--bs-green-200);
                    border-radius: 3px;
                }
            }
        }

        .left a, .right a {
            color: var(--bs-dark);
        }

        [data-bs-theme="dark"] {
            .not-equal {
                .left {
                    background-color: var(--bs-danger-bg-subtle);

                    .change {
                        background-color: color-mix(in srgb, var(--bs-red-500) 60%, var(--bs-danger-bg-subtle));
                        border-radius: 3px;
                    }
                }

                .right {
                    background-color: var(--bs-success-bg-subtle);

                    .change {
                        background-color: color-mix(in srgb, var(--bs-green-500) 60%, var(--bs-success-bg-subtle));
                        border-radius: 3px;
                    }
                }
            }

            .left a, .right a {
                color: var(--bs-light);
            }
        }
    </style>
    <main>
        <div class="col-10 mx-auto p-3 py-md-5">
            <div class="alert alert-warning d-sm-none" role="alert">
                <i class="fas fa-exclamation-triangle"></i> This page was not yet optimized for use on mobile devices.
            </div>
            <div></div>
            <div>
                <h1>Comparing certificates <span
                        class="badge bg-warning text-dark fs-4"><i class="fas fa-flask"></i> Experimental feature</span>
                </h1>
                <p class="lead">You are comparing two certificates. By default, only differing attributes are shown. Use
                    the button below to show/hide all attributes.</p>
                <div class="col-12 col-md-6">
                    <button id="toggle-equal" class="btn btn-primary">Toggle equal</button>

                </div>
                <span class="equal" style="display: none">Showing all attributes.</span>
                <span class="equal">Showing only differing attributes.</span>
            </div>

            <div class="row pt-5">
                <div class="table-responsive">
                    <table class="table table-bordered compare-table">
                        <colgroup>
                            <col style="width: 30%">
                            <col style="width: 35%">
                            <col style="width: 35%">
                        </colgroup>
                        <thead>
                        <tr>
                            <th></th>
                            <th class="fs-3 text-break">{{ name_one }} <br/>{{ cert_one["heuristics"]["cert_id"] }} <a
                                    href="{{ url_for(".entry", hashid=hashid_one) }}" class="btn btn-primary badge"><i
                                    class="fas fa-file"></i></a></th>
                            <th class="fs-3 text-break">{{ name_other }} <br/>{{ cert_other["heuristics"]["cert_id"] }}
                                <a
                                        href="{{ url_for(".entry", hashid=hashid_other) }}"
                                        class="btn btn-primary badge"><i
                                        class="fas fa-file"></i></a></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for path, val in changes.items() %}
                            <tr class="{% if val["equal"] %}equal{% else %}not-equal{% endif %} text-break"
                                style="{% if val["equal"] %}display: none{% endif %}">
                                <td class="attr">{{ path | join("/") }}</td>
                                <td class="left">{{ val["left"] }}</td>
                                <td class="right">{{ val["right"] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <script>
        $("#toggle-equal").click(function () {
            $(".equal").toggle(500);
        });
    </script>
{% endblock %}