{% extends "common/base.html.jinja2" %}
{% block content %}
    <main style="min-height: 60vh">
        <div class="col-12 col-sm-10 mx-auto p-3 py-md-5">
            <h1><i class="fas fa-exclamation-triangle"></i> {{ name }}</h1>
            <p class="lead">{{ description }}</p>
        </div>
    </main>
{% endblock %}