{% extends "common/base.html.jinja2" %}
{% block content %}
    <main style="min-height: 60vh">
        <div class="home-container px-3 px-md-4 pt-md-4 pb-4">
            <h1 class="h2"><i class="fas fa-exclamation-triangle"></i> {{ name }}</h1>
            <p class="lead">{{ description }}</p>
        </div>
    </main>
{% endblock %}