
{% macro render_library_info() %}
    <div class="alert alert-primary">sec-certs is also a library! You can easily work with these datasets from available <a href="https://github.com/crocs-muni/sec-certs" target="_blank">Python client</a></div>
{%- endmacro %}