{% extends "common/base.html.jinja2" %}
{% block content %}
    <main style="min-height: 60vh">
        <div class="home-container px-3 px-md-4 pt-4 pb-4">
            <h1 class="h2">{{ heading }}</h1>
            <p class="lead">{{ lead }}</p>
            {% if text %}
                <p>{{ text }}</p>
            {% endif %}
        </div>
    </main>
{% endblock %}