{% extends "common/base.html.jinja2" %}
{% set crumbs = False %}
{% block content %}
    <main style="min-height: 60vh">
        <div class="col-12 col-sm-10 mx-auto p-3 py-md-5">
            <h1>{{ heading }}</h1>
            <p class="lead">{{ lead }}</p>
            {% if text %}
                <p>{{ text }}</p>
            {% endif %}
        </div>
    </main>
{% endblock %}