{% macro compare_icon() %}
    <div id="compare">
        <button id="compare-icon" class="btn btn-secondary" title="Compare certificates"
                data-bs-toggle="modal" data-bs-target="#compare-modal">
            <i class="fas fa-fw fa-scale-balanced" aria-hidden="true"></i>
            <span id="compare-pill"
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                                &nbsp;
                            <span class="visually-hidden">selected certificates for comparison</span>
                                </span>
        </button>
    </div>
{% endmacro %}
{% macro notification_icon() %}
    <div id="notifications">
        <button id="notification-icon" class="btn btn-secondary" title="Notifications"
                data-bs-toggle="modal" data-bs-target="#notification-modal">
            <i class="fas fa-fw fa-envelope" aria-hidden="true"></i>
            <span id="notification-pill"
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                                &nbsp;
                            <span class="visually-hidden">selected certificates for notification subscription</span>
                          </span>
        </button>
    </div>
{% endmacro %}
{% macro compare_modal() %}
    <div class="modal fade" id="compare-modal" tabindex="-1" aria-labelledby="compare-modal-label"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="compare-modal-label">Compare certificates</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="compare-none">
                        You currently have no selected certificates for comparison. Add certificates on the page
                        of the certificate. After you do so you will be able to
                        see them here and compare them.
                    </p>
                    <div id="compare-some" style="display: none">
                        <table class="table">
                            <tbody></tbody>
                        </table>
                        You can compare two certificates.
                    </div>
                    <p class="invalid-feedback" id="compare-error"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="compare-add-current" class="btn btn-primary" style="display: none"><i
                            class="fas fa-plus"></i>
                        Add current certificate
                    </button>
                    <button id="compare-do" class="btn btn-primary">Compare
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
{% macro notification_modal() %}
    <div class="modal fade" id="notification-modal" tabindex="-1" aria-labelledby="notification-modal-label"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notification-modal-label">Notification subscription</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if not config["SUBSCRIPTIONS_ENABLED"] %}
                        <p class="fw-bold"><i class="fas fa-exclamation-triangle"></i> Notification
                            subscriptions are currently disabled.</p>
                    {% endif %}
                    <p id="notification-none">
                        You currently have no selected certificates. Either add certificates from their page to the
                        selection or subscribe to receive notifications of new certificates below.
                    </p>
                    <div id="notification-some">
                        <form id="notifications-form">
                            <label class="form-label">Certificates</label>
                            <table class="table">
                                <tbody></tbody>
                            </table>

                            <div>
                                <label class="form-label">Notification type</label>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="notifications-updates-all"
                                           name="notifications-updates"
                                           disabled/>
                                    <label for="notifications-updates-all" class="form-check-label">All
                                        updates</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="notifications-updates-vuln"
                                           name="notifications-updates"
                                           disabled/>
                                    <label for="notifications-updates-vuln" class="form-check-label">Vulnerability
                                        information only</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="notifications-updates-new"
                                           name="notifications-updates"
                                           checked/>
                                    <label for="notifications-updates-new" class="form-check-label">New
                                        certificates</label>
                                </div>
                                <p class="form-text">You can subscribe to receive notifications of all changes
                                    and
                                    updates to the
                                    certificates above, or only when new vulnerabilities potentially affecting
                                    the
                                    certificates are published or when any new certificate is issued.</p>
                            </div>
                            <div>
                                <label for="notifications-email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="notifications-email" required/>
                                <p class="form-text">Your email will only be used to send you notifications.
                                    Each notification contains an unsubscribe link. For more, see our
                                    <a href="{{ url_for("about", _anchor="privacy-policy") }}" target="_blank">privacy
                                        policy</a>.</p>
                            </div>
                            <div id="notification-turnstile"></div>
                        </form>
                        <p class="invalid-feedback" id="notifications-error"></p>
                    </div>
                    <div id="notification-done" style="display: none">
                        <p>Your subscription request was successfully received. You will need to <b>confirm your
                            subscription</b> by clicking a confirmation link in an email that will be sent to
                            you shortly. Notifications will be sent to you only after confirmation. If you do
                            not confirm your subscription within 7 days, the subscription request will expire.
                            If you already have a subscription, it will be updated with the new certificates,
                            but you will need to reconfirm it.
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="notification-add-current" class="btn btn-primary" style="display: none"><i
                            class="fas fa-plus"></i>
                        Add current certificate
                    </button>
                    <button id="notification-subscribe" type="submit" class="btn btn-primary"
                            form="notifications-form">Subscribe
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro modal_script() %}
    <script type="module">
        import {add_current_cert, update_state, compare_do, notification_subscribe} from "/static/modal.js";

        $(function () {

            $("#notification-modal").on("show.bs.modal", function () {
                update_state();
            });
            $("#compare-modal").on("show.bs.modal", function () {
                update_state();
            });
            $("#notification-add-current").click(function () {
                add_current_cert("selected_certs_subscription", certificate_data);
            });
            $("#compare-add-current").click(function () {
                add_current_cert("selected_certs_comparison", certificate_data);
            });
            $("#compare-do").click(function () {
                let cc_url = "{{ url_for("cc.compare", one_hashid="XXXXXXXXXXXXXXXX", other_hashid="YYYYYYYYYYYYYYYY") }}";
                let fips_url = "{{ url_for("fips.compare", one_hashid="XXXXXXXXXXXXXXXX", other_hashid="YYYYYYYYYYYYYYYY") }}";
                compare_do(cc_url, fips_url);
            });
            $("#notification-subscribe").click(function (event) {
                let url = "{{ url_for("notify.subscribe") }}";
                let sitekey = "{{ config["TURNSTILE_SITEKEY"] }}";
                let token = "{{ csrf_token() }}";
                notification_subscribe(event, url, sitekey, token);
            });
            update_state();
        });
    </script>
{% endmacro %}