{% if event_navbar() %}
    <nav id="event-navbar" class="navbar navbar-expand-lg navbar-light bg-warning text-dark fixed-top"
         style="top: 56px; display: none">
        <div class="container-fluid justify-content-start" id="event-navbar-text">
            {{ event_navbar()|safe }}
            <button type="button" class="btn-close ms-auto me-2" aria-label="Close" id="event-navbar-close"
                    title="Close"></button>
        </div>
    </nav>
{% endif %}
<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for("index") }}"><img
                src="{{ url_for("static", filename="img/logo_dark.svg") }}"
                style="height: 2.9rem; margin-top: -2rem; margin-bottom: -1.5rem" alt="sec-certs.org"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% block navbar %}
                {% endblock %}
            </ul>
            {% if search %}
                <form class="d-flex" action="{{ url_for(".search") }}" method="get">
                    <input class="form-control me-2" type="search" placeholder="Search" name="q"
                           aria-label="Search">
                    <button class="btn btn-outline-primary px-4" type="submit"><i class="fa fa-search"></i></button>
                </form>
            {% endif %}
            {% if is_admin() %}
                <a href="{{ url_for("admin.index") }}" class="btn btn-outline-secondary px-4 nav-button"
                   role="button"><i
                        class="fa fa-user"></i> Admin</a>
            {% endif %}
            <a href="{{ url_for("docs.serve_docs", path="index.html") }}"
               class="btn btn-outline-secondary px-4 nav-button"
               role="button"><i
                    class="fa fa-file"></i> Docs</a>
            <div class="dropdown">
                <button id="theme" class="nav-link dropdown-toggle text-secondary px-4 py-1 p-lg-0" type="button"
                        data-bs-toggle="dropdown" data-bs-display="static" title="Change theme"></button>
                <ul class="dropdown-menu dropdown-menu-lg-end">
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center"
                                data-bs-theme-value="auto"><i class="fas fa-circle-half-stroke"></i> Auto
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center"
                                data-bs-theme-value="light"><i class="fas fa-sun"></i> Light
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center"
                                data-bs-theme-value="dark"><i class="fas fa-moon"></i> Dark
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>