{% macro render_status_text(status_ok) %}
    {% if status_ok %}
        OK
    {% else %}
        ERROR
    {% endif %}
{%- endmacro %}

{% macro render_process_state(state, document_type, document_name) %}
    {% if document_type in state %}
        {% set download_ok = state[document_type]["download_ok"] %}
        {% set convert_ok = state[document_type]["convert_ok"] %}
        {% set convert_garbage = state[document_type]["convert_garbage"] %}
        {% set extract_ok = state[document_type]["extract_ok"] %}
    {% else %}
        {% set download_ok = state[document_type + "_download_ok"] %}
        {% set convert_ok = state[document_type + "_convert_ok"] %}
        {% set convert_garbage = state[document_type + "_convert_garbage"] %}
        {% set extract_ok = state[document_type + "_extract_ok"] %}
    {% endif %}

    {% if not download_ok or not convert_ok or not extract_ok %}
        <div class="alert alert-warning" style="display: inline-block;">
            <span><span class="fst-italic text-capitalize">{{ document_name }}</span> file processing did not finish successfully.</span>
            <a data-bs-toggle="collapse" href="#processing-failed-detail" role="button" aria-expanded="false"
               aria-controls="processing-failed-detail">Show more...</a>
            <div class="collapse" id="processing-failed-detail">
                <div>
                    <span>Download pdf: </span>
                    <span class="{% if download_ok %}text-success{% else %}text-danger{% endif %}">{{ render_status_text(download_ok) }}</span>
                </div>
                <div>
                    <span>Convert pdf to text: </span>
                    <span class="{% if convert_ok %}text-success{% else %}text-danger{% endif %}">{{ render_status_text(convert_ok) }}</span>
                </div>
                <div>
                    <span>Extract keywords: </span>
                    <span class="{% if extract_ok %}text-success{% else %}text-danger{% endif %}">{{ render_status_text(extract_ok) }}</span>
                </div>
            </div>
        </div>
    {% endif %}
{%- endmacro %}

{% macro render_share_buttons(hashid, cert_id=None, name=None) %}
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button"
                data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            <i class="fa-solid fa-share"></i> Share
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="#" data-url="{{ url_for('.entry', hashid=hashid, _external=True) }}"
                   class="dropdown-item copy-on-click">
                    <span>
                        <i class="fa-regular fa-clipboard"></i> Copy link
                    </span>
                </a>
            </li>

            {% if cert_id %}
                <li>
                    <a href="#" data-url="{{ url_for('.entry_id', cert_id=cert_id, _external=True) }}"
                       class="dropdown-item copy-on-click">
                        <span>
                            <i class="fa-regular fa-clipboard"></i> Copy link by certificate ID
                        </span>
                    </a>
                </li>
            {% endif %}

            {% if name %}
                <li>
                    <a href="#" data-url="{{ url_for('.entry_name', name=name, _external=True) }}"
                       class="dropdown-item copy-on-click">
                        <span>
                            <i class="fa-regular fa-clipboard"></i> Copy link by certificate name
                        </span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endmacro %}

{% macro notification_icon(user, subscribed) %}
    <span id="notifications" class="position-relative d-inline-block">
        <button id="notification-icon" class="btn {% if not subscribed %}btn-secondary{% else %}btn-success disabled{% endif %} text-nowrap"
                {% if not user.is_authenticated %}title="Login to enable notifications."{% else %}title="Notifications"{% endif %}>
            {% if subscribed %}
                <i class="fas fa-fw fa-bell" aria-hidden="true"></i>
                Subscribed
            {% else %}
                <i class="fas fa-fw fa-envelope" aria-hidden="true"></i>
                Subscribe
            {% endif %}
        </button>
    </span>
{% endmacro %}

{% macro notification_script(csrf_token) %}
    <script>
        $("#notification-icon").click(function () {
            $.ajax("{{ url_for("notify.subscribe") }}", {
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({
                        "cert": window.certificate_data,
                        "updates": "all"
                    }),
                    headers: {
                        "X-CSRFToken": "{{ csrf_token() }}"
                    },
                    success: function (data) {
                        $("#notification-icon").removeClass("btn-secondary").addClass("btn-success disabled");
                        $("#notification-icon").html('<i class="fas fa-fw fa-bell" aria-hidden="true"></i> Subscribed');
                        $("#notification-icon").attr("title", "Notifications");
                    },
                    error: function (data) {
                        // Parse the error message from the response
                        let errorMessage = "Error subscribing to notifications.";
                        if (data.responseJSON && data.responseJSON.error) {
                            errorMessage = data.responseJSON.error;
                        }
                        $("#notification-icon").removeClass("btn-secondary").addClass("btn-danger");
                        $("#notification-icon").html('<i class="fas fa-fw fa-triangle-exclamation" aria-hidden="true"></i> Error');
                        $("#notification-icon").attr("title", errorMessage);
                    }
                }
            )
        });
    </script>
{% endmacro %}